[2021-09-19 10:25] octothorpteam opened #1 "Тестовый баг"
In GitLab by @Mikvoin on Mar 15, 2021, 17:26

Мы тестируем клевую штуку!
- Список

[2021-09-19 10:25] octothorpteam commented on #1
In GitLab by @Krou on Mar 15, 2021, 18:26

Комментарий!

[2021-09-19 10:25] octothorpteam commented on #1
In GitLab by @Mikvoin on Mar 15, 2021, 18:27

Ответ на него!

[2021-09-19 10:25] #1 closed

[2021-09-19 10:25] octothorpteam opened #2 "Еще один тестовый баг :("
In GitLab by @Mikvoin on Mar 15, 2021, 18:40

ХМММММ

[2021-09-19 10:25] #2 closed

[2021-09-19 10:25] octothorpteam opened #3 "Тестовый баг"
In GitLab by @Krou on Mar 21, 2021, 12:39

Шаблон

[2021-09-19 10:25] #3 closed

[2021-09-19 10:25] octothorpteam opened #4 "Неудаляемые парты в классе 3-B"
In GitLab by @Krou on Mar 25, 2021, 16:15

- Сервер: Main
- Карта: dro_hopespeak
- Описание: Неудаляемые парты и учительская стойка в классе 3-B. 3 этаж.
- Сценарий: Направиться в комнату 3-B и попытаться удалить парты
- Классификация: Minor
- Скриншот/Видео с таймкодом: [Screenshot](/uploads/6dd4da3498de10e1aa77dc731c533f5e/Screenshot_4.png)

[2021-09-19 10:25] octothorpteam commented on #4
In GitLab by @Mikvoin on Apr 2, 2021, 19:31

assigned to @Mikvoin

[2021-09-19 10:25] #4 closed

[2021-09-19 10:25] octothorpteam opened #5 "Ошибка Investigation при предъявлении улики на классном суде, если игрок не собрал ни одну улику"
In GitLab by @Krou on Mar 25, 2021, 16:27

- Описание: Ни единой улики не было собрано во время главы, после начала классного суда, при предъявлении улик, они не отображались у того, кто их не собрал, при этом появлялась скриптовая ошибка в консоли
- Сценарий: 1. Не собирать улики. 2. Начать классный суд. 3. Предъявление улик. 4. У игрока, не собравшего улики, они не будут появляться в окне улик
-

[2021-09-19 10:25] octothorpteam commented on #5
In GitLab by @Mikvoin on Mar 25, 2021, 21:34

@Krou Лог ошибки?

[2021-09-19 10:25] octothorpteam commented on #5
In GitLab by @Krou on Mar 25, 2021, 21:44

Нету. Баг прислал стример, он не открывал консоль, чтобы зрители не видели

[2021-09-19 10:25] octothorpteam commented on #5
In GitLab by @fin on Mar 30, 2021, 21:00

assigned to @fin

[2021-09-19 10:25] octothorpteam commented on #5
In GitLab by @Krou on May 8, 2021, 17:48

@Mikvoin Лог ошибки - <br>
![image](https://my-gitlab-bucket.s3.amazonaws.com/406035831/32ea00bb4e9282489da00d1967ebbe5b.png)

[2021-09-19 10:25] octothorpteam commented on #5
In GitLab by @Krou on May 11, 2021, 11:14

changed title from **Ошибка при предъявлении улики на классном суде** to **Ошибка при предъявлении улики на классном суде{+, если игрок не собрал ни одну улику+}**

[2021-09-19 10:25] octothorpteam commented on #5
In GitLab by @Krou on Jun 8, 2021, 08:06

changed title from **Ошибка при предъявлении улики на классном суде, если игрок не собрал ни одну улику** to **Ошибка {+Investigation +}при предъявлении улики на классном суде, если игрок не собрал ни одну улику**

[2021-09-19 10:26] octothorpteam commented on #5
In GitLab by @Krou on Jun 8, 2021, 08:06

changed the description

[2021-09-19 10:26] octothorpteam opened #6 "Ошибка связанная с неожиданным вылетом из игры и поломкой камеры игрока."
In GitLab by @Krou on Mar 25, 2021, 16:39

- Сервер: Main
- Карта: dro_hopespeak

- Описание: После неизвестной мне ситуации игрок вылетает с сервера. В следствии чего игрок перезаходит на сервер, и когда загрузка заканчивается, у игрока вместо привычного меню выбора персонажа появляется черный экран (При этом может писать в чат и говорить в микрофон, команды типо @ Жалоба работают). Со стороны иг

[2021-09-19 10:26] octothorpteam commented on #6
In GitLab by @fin on Mar 30, 2021, 21:00

assigned to @fin

[2021-09-19 10:26] octothorpteam commented on #6
In GitLab by @fin on Jun 29, 2021, 02:16

mentioned in commit d50ad9bf55cb0be09309d54c996ae8484c48729f

[2021-09-19 10:26] octothorpteam opened #7 "Белая полоска во рту Монокумы"
In GitLab by @Krou on Mar 25, 2021, 16:43

- Сервер: Main
- Карта: dro_hopespeak

- Описание: У модельки Монокумы есть практически незаметная белая полоска во рту
- Сценарий: 1. Взять Монокуму 2. Выбрать эмоцию "Evil Laugh"
- Классификация: Annoyance
- Скриншот/Видео с таймкодом: [https://prnt.sc/10v5ton](https://prnt.sc/10v5ton)

[2021-09-19 10:26] octothorpteam opened #8 "Рапорт ошибок на ЗБТ 25.03.21. (Разобрано)"
In GitLab by @NeverLucky21 on Mar 25, 2021, 16:59

- Колесо эмоций
1. Колесо эмоций Гандама (embarrassed, thinking). Лицо модельки не верно отображаются.
2. Колесо эмоций Фуюхико (shy). Лицо модельки не верно отображаются.
3. Колесо эмоций Хаджиме (confused). Лицо модельки не верно отображаются.
4. Колесо эмоций Ибуки (shocked, tounge). Лицо модельки не верно отображаются (пены и языка нету).
5. К

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 17:16

changed title from **{-Тест-}** to **{+Рапорт готовится+}**

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 17:33

changed title from **Рапорт {-готовится-}** to **Рапорт {+ЗБТ 25.03.21.+}**

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 17:33

changed the description

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:12

changed title from **Рапорт ЗБТ 25.03.21.** to **Рапорт {+багов +}ЗБТ 25.03.21.{+ (NeverLucky21)+}**

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:12

changed the description

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:46

changed the description

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:47

changed the description

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:53

changed the description

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:55

changed the description

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 19:00

changed title from **Рапорт багов ЗБТ 25.03.21. (NeverLucky21)** to **Рапорт багов ЗБТ 25.03.21. (NeverLucky21){+ /Сервер: Dev+}**

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 19:01

changed title from **Рапорт багов ЗБТ 25.03.21. (NeverLucky21){- /Сервер: Dev-}** to **Рапорт багов ЗБТ 25.03.21. (NeverLucky21)**

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 19:07

Как написал?

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @Engie on Mar 25, 2021, 19:58

16. Колесо эмоций Джунко. У Джунко присутствует всего 1 эмоция (оригинальная)
17. Спрайт Нагито на суде. Последний спрайт Нагито (с болезнью отчаянья) вырезан некорректно.

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 20:05

changed title from **Рапорт {-багов-} ЗБТ 25.03.21.{- (NeverLucky21)-}** to **Рапорт {+ошибок на+} ЗБТ 25.03.21.**

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 25, 2021, 20:05

changed the description

[2021-09-19 10:26] octothorpteam commented on #8
In GitLab by @NeverLucky21 on Mar 26, 2021, 18:52

changed title from **Рапорт ошибок на ЗБТ 25.03.21.** to **Рапорт ошибок на ЗБТ 25.03.21.{+ (Разобрано)+}**

[2021-09-19 10:27] #8 closed

[2021-09-19 10:27] octothorpteam opened #9 "Ошибка Facial Emote Mod на нескольких персонажей/моделей."
In GitLab by @NeverLucky21 on Mar 25, 2021, 20:37

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: У следующих персонажей/моделек есть ошибки связанные с "Facial Emote Mod".
1. Гандам (embarrassed, thinking). Лицо модельки не верно отображаются.
2. Фуюхико (shy). Лицо модельки не верно отображаются.
3. Хаджиме (confused). Лицо модельки не верно отображаются.
4. Ибуки (shocked, tounge). Лицо модел

[2021-09-19 10:27] octothorpteam commented on #9
In GitLab by @NeverLucky21 on Mar 25, 2021, 21:00

changed title from **Ошибка Facial Emote Mod на нескольких персонажей/моделей{- (25.03.21.)-}** to **Ошибка Facial Emote Mod на нескольких персонажей/моделей{+.+}**

[2021-09-19 10:27] octothorpteam commented on #9
In GitLab by @NeverLucky21 on Mar 25, 2021, 21:09

changed the description

[2021-09-19 10:27] octothorpteam commented on #9
In GitLab by @fin on Mar 30, 2021, 21:03

У ссылки на видео нету таймкода (в описании тоже)

[2021-09-19 10:27] octothorpteam commented on #9
In GitLab by @Krou on Apr 3, 2021, 09:33

Такой же баг у Хиёко - https://prnt.sc/112wq1j

[2021-09-19 10:27] octothorpteam commented on #9
In GitLab by @NeverLucky21 on Apr 5, 2021, 21:43

changed the description

[2021-09-19 10:27] octothorpteam commented on #9
In GitLab by @Mikvoin on Jul 4, 2021, 24:18

assigned to @Mikvoin

[2021-09-19 10:27] #9 closed

[2021-09-19 10:27] octothorpteam opened #10 "Голосование. Ошибки изображений и имен."
In GitLab by @NeverLucky21 on Mar 25, 2021, 20:59

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: У некоторых персонажей иконки, арты и имена не отображаются или отображаются не корректно.
1. Иконка, арт и имя Рейко Вакай и Рей Тогами не отображается на голосовании.
2. Вместо имени Аой отображается розовый error.
- Сценарий: 1. Начать игру с вышеперечисленными персонажами 2. Запустить голосовани

[2021-09-19 10:27] octothorpteam commented on #10
In GitLab by @NeverLucky21 on Mar 26, 2021, 19:35

changed the description

[2021-09-19 10:27] octothorpteam commented on #10
In GitLab by @fin on Mar 30, 2021, 21:05

assigned to @fin

[2021-09-19 10:27] octothorpteam commented on #10
In GitLab by @fin on May 4, 2021, 10:00

Скорее всего исправлен из-за смены логики отображения материалов для голосования и прочих систем

[2021-09-19 10:27] #10 closed

[2021-09-19 10:27] octothorpteam opened #11 "TFA Меню"
In GitLab by @Huehubr on Mar 25, 2021, 21:52

- Сервер: Dev
- Карта: dro_hopespeak

- Описание: При нажатии на "C", держа в руках оружие, открывается TFA меню вместо привычного
- Сценарий: 1. Взять оружие. 2. Нажать на "C"
- Классификация: Annoyance
- Видео с таймкодом: https://www.youtube.com/watch?v=kxjmiyGksj8 / 40:00

[2021-09-19 10:27] octothorpteam commented on #11
In GitLab by @fin on Mar 30, 2021, 21:07

assigned to @fin

[2021-09-19 10:27] #11 closed

[2021-09-19 10:27] octothorpteam opened #12 "ClassTrial. Таблички мертвых персонажей, которых нет в меню выбора."
In GitLab by @Huehubr on Mar 25, 2021, 21:58

- Сервер: Dev
- Карта: dro_hopespeak

- Описание: При смерти персонажа, которого нет в меню выбора персонажей, на табличке в комнате суда, отображается сторонний портрет
- Сценарий: 1. Взять персонажа, которого нет в меню выбора персонажей. 2. Убить этого персонажа/Умереть 3. Взглянуть на табличку на классном суде
- Классификация: Annoyance
- Видео с т

[2021-09-19 10:27] octothorpteam commented on #12
In GitLab by @fin on Mar 30, 2021, 21:08

assigned to @fin

[2021-09-19 10:27] octothorpteam commented on #12
In GitLab by @Krou on Apr 3, 2021, 09:41

Примечательно, что у ОСов, Комару и Рёко - норм таблички.
У Рэй Тогами эрорка на табличке. Пускай и мемный перс, но его вполне можно использовать в играх

[2021-09-19 10:27] #12 closed

[2021-09-19 10:27] octothorpteam opened #13 "Playermodel Меню"
In GitLab by @Huehubr on Mar 25, 2021, 22:04

- Сервер: Main/Dev/Private
- Карта: Any

- Описание: При открытии меню выбора Playermodel'и, не отображаются модели персонажей, которые есть в контенте сервера.
- Сценарий: 1. Зайти на сервер. 2. Открыть "С" меню и выбрать Playermodel Selector.
- Классификация: Annoyance
- Скриншот: ![20210325212554_1](https://my-gitlab-bucket.s3.amazonaws.com/40603583

[2021-09-19 10:28] octothorpteam commented on #13
In GitLab by @Mikvoin on Apr 2, 2021, 19:18

assigned to @Mikvoin

[2021-09-19 10:28] octothorpteam commented on #13
In GitLab by @Mikvoin on Apr 2, 2021, 19:21

Это не является багом, так как действия происходят в одиночке, а не на сервере.

[2021-09-19 10:28] #13 closed

[2021-09-19 10:28] octothorpteam opened #14 "Спрайты, имеющие графические недоработки или вещи, цепляющиеся за глаз"
In GitLab by @Huehubr on Mar 25, 2021, 22:15

- Сервер: Dev
- Карта: Any

- Описание: Некоторые спрайты немного не ровно или криво обрезаны, от чего, по краям видны белые полосы/окоймы
- Сценарий: 1. Выбрать ОПРЕДЕЛЕННОГО персонажа, спрайты которого имеют белые полосы. 2. Запустить классный суд. 3. Увидеть все своими глазами
- Классификация: Annoyance
- Видео с таймкодом: https://www.youtube.com/w

[2021-09-19 10:28] octothorpteam commented on #14
In GitLab by @Mikvoin on Apr 2, 2021, 19:23

assigned to @Mikvoin

[2021-09-19 10:28] octothorpteam commented on #14
In GitLab by @Mikvoin on Apr 2, 2021, 19:23

@Huehubr, @Krou
Можно получить конкретный список персонажей и номера спрайтов у которых наблюдается эта проблема?

[2021-09-19 10:28] octothorpteam commented on #14
In GitLab by @Huehubr on Apr 7, 2021, 18:52

Могу как-нибудь зайти и проверить, либо уже на ЗБТ

[2021-09-19 10:28] octothorpteam commented on #14
In GitLab by @Mikvoin on Jun 22, 2021, 12:43

Так что со списком?

[2021-09-19 10:28] octothorpteam commented on #14
In GitLab by @Huehubr on Jul 8, 2021, 15:10

Как-нибудь попрошу сервер выделить и проверю всех персонажей

[2021-09-19 10:28] octothorpteam commented on #14
In GitLab by @Mikvoin on Aug 8, 2021, 01:35

@Huehubr
Есть прогресс?

[2021-09-19 10:28] octothorpteam opened #15 "Спрайт Корекие"
In GitLab by @Huehubr on Mar 26, 2021, 02:39

- Сервер: Main/Private
- Карта: dro_hopespeak

- Описание: У Корекие не отображается правильно второй спрайт
- Сценарий: 1. Взять Корекие. 2. Запустить классный суд 3. Выбрать ВТОРОЙ спрайт
- Классификация: Annoyance
- Скриншоты: ![20210326021005_1](https://my-gitlab-bucket.s3.amazonaws.com/406035831/ad45fdf781aea92e0ef70e2429143a2e.jpg)

![20210326021

[2021-09-19 10:28] octothorpteam commented on #15
In GitLab by @Mikvoin on Apr 2, 2021, 19:30

assigned to @Mikvoin

[2021-09-19 10:28] #15 closed

[2021-09-19 10:28] octothorpteam opened #16 "Баг с камерой наблюдателя в зоне AV комнаты"
In GitLab by @Huehubr on Mar 26, 2021, 02:45

- Сервер: Main/Dev/Private
- Карта: dro_hopespeak

- Описание: В зеленом коридоре, рядом с AV комнатой, у наблюдателей появляется черный экран
- Сценарий: 1. Игрок стоит/проходит в нужном месте. 2. Зайти в наблюдение. 3. Наблюдать за игроком, который проходит в месте, указанном выше
- Классификация: Annoyance
- Видео: https://youtu.be/fPDKRB5dH80

[2021-09-19 10:28] octothorpteam commented on #16
In GitLab by @fin on Mar 30, 2021, 21:12

assigned to @fin

[2021-09-19 10:28] octothorpteam opened #17 "Некорректная работа !rettogame"
In GitLab by @Mastermind on Mar 26, 2021, 16:27

- Сервер: Dev
- Карта: dro_hopespeak/dro_funhouse

- Описание: Если игровой мастер возвращает убитого игрока с помощью команды !rettogame и при этом человек сидит в режиме наблюдателя, игрока возродит в лобби.
- Сценарий:
1) Убить человека
2) Зайти в режим наблюдателя
3) Игровой мастер прописывает !rettogame <игрок>
- Классификация: Annoyance
- Скри

[2021-09-19 10:28] octothorpteam commented on #17
In GitLab by @fin on Mar 30, 2021, 21:12

assigned to @fin

[2021-09-19 10:28] octothorpteam opened #18 "Аномальное поведение крови"
In GitLab by @Mastermind on Mar 26, 2021, 16:35

- Сервер: Dev
- Карта: dro_hopespeak

- Описание: По неизвестной причине кровь начала вести себя аномально. = \
- Сценарий: ???
- Классификация: Annoyance
- Скриншот/Видео с таймкодом:
ЗБТ 25.03.2021
ТаймКод: 1:50:43
Видео - https://youtu.be/9sSK24JGtHA?t=6643

[2021-09-19 10:28] octothorpteam commented on #18
In GitLab by @Krou on Mar 26, 2021, 17:01

Вид через Моноволлхак: https://www.youtube.com/watch?v=1u4jQXHMPyA

[2021-09-19 10:28] octothorpteam commented on #18
In GitLab by @Mikvoin on Apr 2, 2021, 19:28

@Krou, @Mastermind
Довольно сложно определить в чем именно проблема, однако, я предполагаю что все дело в определенной плеер модели. Необходимо провести тесты в которых будут повторяться действия, которые были выполнены в приложенных видео, чтобы установить проблемную плеер модель.

[2021-09-19 10:28] octothorpteam commented on #18
In GitLab by @Mikvoin on Apr 2, 2021, 19:29

assigned to @Mikvoin

[2021-09-19 10:29] octothorpteam opened #19 "Баг с руками Тогами (Локальный)"
In GitLab by @Eleon on Mar 26, 2021, 16:56

● Сервер: Dev

● Карта: dro_hopespeak

● Описание: Данный баг является локальным. При взятии рук персонажа Бьякуи Тогами выходят Еррорки. При взятии оружия также выскальзывает данный баг.

● Сценарий: 1. Взять персонажа Бьякуя Тогами, 2. Взять за него руки, 3. Взять оружие (Дополнительно)

● Классификация: Minor

● Видео: https://youtu.be/_Rew3IZoPbI

[2021-09-19 10:29] octothorpteam commented on #19
In GitLab by @Eleon on Mar 26, 2021, 16:57

changed the description

[2021-09-19 10:29] octothorpteam commented on #19
In GitLab by @Eleon on Mar 26, 2021, 17:05

changed the description

[2021-09-19 10:29] octothorpteam commented on #19
In GitLab by @Mikvoin on Apr 2, 2021, 19:15

assigned to @Mikvoin

[2021-09-19 10:29] #19 closed

[2021-09-19 10:29] octothorpteam opened #20 "Видные очертания спрайтов во время end_round/end_game."
In GitLab by @NeverLucky21 on Mar 26, 2021, 18:07

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: Во время "катсцены" end_round/end_game видны очертания одежды персонажей Рей Тогами и Рёко Атанаши
- Сценарий: 1. Начать игру с персонажами Рей Тогами/Рёко Атанаши 2. Прописать end_round/end_game
- Классификация: Annoyance
- Скриншот/Видео с таймкодом: https://www.youtube.com/watch?v=aT3u_sEDo7k (1:

[2021-09-19 10:29] octothorpteam commented on #20
In GitLab by @Mikvoin on Apr 2, 2021, 19:15

assigned to @Mikvoin

[2021-09-19 10:29] #20 closed

[2021-09-19 10:29] octothorpteam opened #21 "Последний спрайт Киётаки Ишимару - розовый error"
In GitLab by @NeverLucky21 on Mar 26, 2021, 21:17

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: Персонаж - Киётака Ишимару. Последний спрайт в меню отображается как ошибка.
- Сценарий: 1. Начать суд с Киётакой на игре 2. Пролистать до последнего спрайта
- Классификация: Annoyance
- Скриншот/Видео с таймкодом: https://www.youtube.com/watch?v=aT3u_sEDo7k (39:41)![opera_zWJktm3rdf](https://my-git

[2021-09-19 10:34] octothorpteam opened #22 "Тестовый баг"
In GitLab by @Mikvoin on Mar 15, 2021, 17:26

Мы тестируем клевую штуку!
- Список

[2021-09-19 10:34] octothorpteam commented on #22
In GitLab by @Krou on Mar 15, 2021, 18:26

Комментарий!

[2021-09-19 10:34] octothorpteam commented on #22
In GitLab by @Mikvoin on Mar 15, 2021, 18:27

Ответ на него!

[2021-09-19 10:34] #22 closed

[2021-09-19 10:34] octothorpteam opened #23 "Еще один тестовый баг :("
In GitLab by @Mikvoin on Mar 15, 2021, 18:40

ХМММММ

[2021-09-19 10:34] #23 closed

[2021-09-19 10:34] octothorpteam opened #24 "Тестовый баг"
In GitLab by @Krou on Mar 21, 2021, 12:39

Шаблон

[2021-09-19 10:34] #24 closed

[2021-09-19 10:34] octothorpteam opened #25 "Неудаляемые парты в классе 3-B"
In GitLab by @Krou on Mar 25, 2021, 16:15

- Сервер: Main
- Карта: dro_hopespeak
- Описание: Неудаляемые парты и учительская стойка в классе 3-B. 3 этаж.
- Сценарий: Направиться в комнату 3-B и попытаться удалить парты
- Классификация: Minor
- Скриншот/Видео с таймкодом: [Screenshot](/uploads/6dd4da3498de10e1aa77dc731c533f5e/Screenshot_4.png)

[2021-09-19 10:35] octothorpteam commented on #25
In GitLab by @Mikvoin on Apr 2, 2021, 19:31

assigned to @Mikvoin

[2021-09-19 10:35] #25 closed

[2021-09-19 10:35] octothorpteam opened #26 "Ошибка Investigation при предъявлении улики на классном суде, если игрок не собрал ни одну улику"
In GitLab by @Krou on Mar 25, 2021, 16:27

- Описание: Ни единой улики не было собрано во время главы, после начала классного суда, при предъявлении улик, они не отображались у того, кто их не собрал, при этом появлялась скриптовая ошибка в консоли
- Сценарий: 1. Не собирать улики. 2. Начать классный суд. 3. Предъявление улик. 4. У игрока, не собравшего улики, они не будут появляться в окне улик
-

[2021-09-19 10:35] octothorpteam commented on #26
In GitLab by @Mikvoin on Mar 25, 2021, 21:34

@Krou Лог ошибки?

[2021-09-19 10:35] octothorpteam commented on #26
In GitLab by @Krou on Mar 25, 2021, 21:44

Нету. Баг прислал стример, он не открывал консоль, чтобы зрители не видели

[2021-09-19 10:35] octothorpteam commented on #26
In GitLab by @fin on Mar 30, 2021, 21:00

assigned to @fin

[2021-09-19 10:35] octothorpteam commented on #26
In GitLab by @Krou on May 8, 2021, 17:48

@Mikvoin Лог ошибки - <br>
![image](/uploads/7cee1c99e31b364bb75422680d2b61b8/image.png)

[2021-09-19 10:35] octothorpteam commented on #26
In GitLab by @Krou on May 11, 2021, 11:14

changed title from **Ошибка при предъявлении улики на классном суде** to **Ошибка при предъявлении улики на классном суде{+, если игрок не собрал ни одну улику+}**

[2021-09-19 10:35] octothorpteam commented on #26
In GitLab by @Krou on Jun 8, 2021, 08:06

changed title from **Ошибка при предъявлении улики на классном суде, если игрок не собрал ни одну улику** to **Ошибка {+Investigation +}при предъявлении улики на классном суде, если игрок не собрал ни одну улику**

[2021-09-19 10:35] octothorpteam commented on #26
In GitLab by @Krou on Jun 8, 2021, 08:06

changed the description

[2021-09-19 10:35] octothorpteam opened #27 "Ошибка связанная с неожиданным вылетом из игры и поломкой камеры игрока."
In GitLab by @Krou on Mar 25, 2021, 16:39

- Сервер: Main
- Карта: dro_hopespeak

- Описание: После неизвестной мне ситуации игрок вылетает с сервера. В следствии чего игрок перезаходит на сервер, и когда загрузка заканчивается, у игрока вместо привычного меню выбора персонажа появляется черный экран (При этом может писать в чат и говорить в микрофон, команды типо @ Жалоба работают). Со стороны иг

[2021-09-19 10:35] octothorpteam commented on #27
In GitLab by @fin on Mar 30, 2021, 21:00

assigned to @fin

[2021-09-19 10:35] octothorpteam commented on #27
In GitLab by @fin on Jun 29, 2021, 02:16

mentioned in commit d50ad9bf55cb0be09309d54c996ae8484c48729f

[2021-09-19 10:35] octothorpteam opened #28 "Белая полоска во рту Монокумы"
In GitLab by @Krou on Mar 25, 2021, 16:43

- Сервер: Main
- Карта: dro_hopespeak

- Описание: У модельки Монокумы есть практически незаметная белая полоска во рту
- Сценарий: 1. Взять Монокуму 2. Выбрать эмоцию "Evil Laugh"
- Классификация: Annoyance
- Скриншот/Видео с таймкодом: [https://prnt.sc/10v5ton](https://prnt.sc/10v5ton)

[2021-09-19 10:35] octothorpteam opened #29 "Рапорт ошибок на ЗБТ 25.03.21. (Разобрано)"
In GitLab by @NeverLucky21 on Mar 25, 2021, 16:59

- Колесо эмоций
1. Колесо эмоций Гандама (embarrassed, thinking). Лицо модельки не верно отображаются.
2. Колесо эмоций Фуюхико (shy). Лицо модельки не верно отображаются.
3. Колесо эмоций Хаджиме (confused). Лицо модельки не верно отображаются.
4. Колесо эмоций Ибуки (shocked, tounge). Лицо модельки не верно отображаются (пены и языка нету).
5. К

[2021-09-19 10:35] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 17:16

changed title from **{-Тест-}** to **{+Рапорт готовится+}**

[2021-09-19 10:35] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 17:33

changed title from **Рапорт {-готовится-}** to **Рапорт {+ЗБТ 25.03.21.+}**

[2021-09-19 10:35] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 17:33

changed the description

[2021-09-19 10:35] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:12

changed title from **Рапорт ЗБТ 25.03.21.** to **Рапорт {+багов +}ЗБТ 25.03.21.{+ (NeverLucky21)+}**

[2021-09-19 10:35] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:12

changed the description

[2021-09-19 10:35] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:46

changed the description

[2021-09-19 10:35] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:47

changed the description

[2021-09-19 10:36] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:53

changed the description

[2021-09-19 10:36] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 18:55

changed the description

[2021-09-19 10:36] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 19:00

changed title from **Рапорт багов ЗБТ 25.03.21. (NeverLucky21)** to **Рапорт багов ЗБТ 25.03.21. (NeverLucky21){+ /Сервер: Dev+}**

[2021-09-19 10:36] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 19:01

changed title from **Рапорт багов ЗБТ 25.03.21. (NeverLucky21){- /Сервер: Dev-}** to **Рапорт багов ЗБТ 25.03.21. (NeverLucky21)**

[2021-09-19 10:36] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 19:07

Как написал?

[2021-09-19 10:36] octothorpteam commented on #29
In GitLab by @Engie on Mar 25, 2021, 19:58

16. Колесо эмоций Джунко. У Джунко присутствует всего 1 эмоция (оригинальная)
17. Спрайт Нагито на суде. Последний спрайт Нагито (с болезнью отчаянья) вырезан некорректно.

[2021-09-19 10:36] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 20:05

changed title from **Рапорт {-багов-} ЗБТ 25.03.21.{- (NeverLucky21)-}** to **Рапорт {+ошибок на+} ЗБТ 25.03.21.**

[2021-09-19 10:36] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 25, 2021, 20:05

changed the description

[2021-09-19 10:36] octothorpteam commented on #29
In GitLab by @NeverLucky21 on Mar 26, 2021, 18:52

changed title from **Рапорт ошибок на ЗБТ 25.03.21.** to **Рапорт ошибок на ЗБТ 25.03.21.{+ (Разобрано)+}**

[2021-09-19 10:36] #29 closed

[2021-09-19 10:36] octothorpteam opened #30 "Ошибка Facial Emote Mod на нескольких персонажей/моделей."
In GitLab by @NeverLucky21 on Mar 25, 2021, 20:37

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: У следующих персонажей/моделек есть ошибки связанные с "Facial Emote Mod".
1. Гандам (embarrassed, thinking). Лицо модельки не верно отображаются.
2. Фуюхико (shy). Лицо модельки не верно отображаются.
3. Хаджиме (confused). Лицо модельки не верно отображаются.
4. Ибуки (shocked, tounge). Лицо модел

[2021-09-19 10:36] octothorpteam commented on #30
In GitLab by @NeverLucky21 on Mar 25, 2021, 21:00

changed title from **Ошибка Facial Emote Mod на нескольких персонажей/моделей{- (25.03.21.)-}** to **Ошибка Facial Emote Mod на нескольких персонажей/моделей{+.+}**

[2021-09-19 10:36] octothorpteam commented on #30
In GitLab by @NeverLucky21 on Mar 25, 2021, 21:09

changed the description

[2021-09-19 10:36] octothorpteam commented on #30
In GitLab by @fin on Mar 30, 2021, 21:03

У ссылки на видео нету таймкода (в описании тоже)

[2021-09-19 10:36] octothorpteam commented on #30
In GitLab by @Krou on Apr 3, 2021, 09:33

Такой же баг у Хиёко - https://prnt.sc/112wq1j

[2021-09-19 10:36] octothorpteam commented on #30
In GitLab by @NeverLucky21 on Apr 5, 2021, 21:43

changed the description

[2021-09-19 10:36] octothorpteam commented on #30
In GitLab by @Mikvoin on Jul 4, 2021, 24:18

assigned to @Mikvoin

[2021-09-19 10:36] #30 closed

[2021-09-19 10:36] octothorpteam opened #31 "Голосование. Ошибки изображений и имен."
In GitLab by @NeverLucky21 on Mar 25, 2021, 20:59

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: У некоторых персонажей иконки, арты и имена не отображаются или отображаются не корректно.
1. Иконка, арт и имя Рейко Вакай и Рей Тогами не отображается на голосовании.
2. Вместо имени Аой отображается розовый error.
- Сценарий: 1. Начать игру с вышеперечисленными персонажами 2. Запустить голосовани

[2021-09-19 10:36] octothorpteam commented on #31
In GitLab by @NeverLucky21 on Mar 26, 2021, 19:35

changed the description

[2021-09-19 10:36] octothorpteam commented on #31
In GitLab by @fin on Mar 30, 2021, 21:05

assigned to @fin

[2021-09-19 10:36] octothorpteam commented on #31
In GitLab by @fin on May 4, 2021, 10:00

Скорее всего исправлен из-за смены логики отображения материалов для голосования и прочих систем

[2021-09-19 10:37] #31 closed

[2021-09-19 10:37] octothorpteam opened #32 "TFA Меню"
In GitLab by @Huehubr on Mar 25, 2021, 21:52

- Сервер: Dev
- Карта: dro_hopespeak

- Описание: При нажатии на "C", держа в руках оружие, открывается TFA меню вместо привычного
- Сценарий: 1. Взять оружие. 2. Нажать на "C"
- Классификация: Annoyance
- Видео с таймкодом: https://www.youtube.com/watch?v=kxjmiyGksj8 / 40:00

[2021-09-19 10:37] octothorpteam commented on #32
In GitLab by @fin on Mar 30, 2021, 21:07

assigned to @fin

[2021-09-19 10:37] #32 closed

[2021-09-19 10:37] octothorpteam opened #33 "ClassTrial. Таблички мертвых персонажей, которых нет в меню выбора."
In GitLab by @Huehubr on Mar 25, 2021, 21:58

- Сервер: Dev
- Карта: dro_hopespeak

- Описание: При смерти персонажа, которого нет в меню выбора персонажей, на табличке в комнате суда, отображается сторонний портрет
- Сценарий: 1. Взять персонажа, которого нет в меню выбора персонажей. 2. Убить этого персонажа/Умереть 3. Взглянуть на табличку на классном суде
- Классификация: Annoyance
- Видео с т

[2021-09-19 10:37] octothorpteam commented on #33
In GitLab by @fin on Mar 30, 2021, 21:08

assigned to @fin

[2021-09-19 10:37] octothorpteam commented on #33
In GitLab by @Krou on Apr 3, 2021, 09:41

Примечательно, что у ОСов, Комару и Рёко - норм таблички.
У Рэй Тогами эрорка на табличке. Пускай и мемный перс, но его вполне можно использовать в играх

[2021-09-19 10:37] #33 closed

[2021-09-19 10:37] octothorpteam opened #34 "Playermodel Меню"
In GitLab by @Huehubr on Mar 25, 2021, 22:04

- Сервер: Main/Dev/Private
- Карта: Any

- Описание: При открытии меню выбора Playermodel'и, не отображаются модели персонажей, которые есть в контенте сервера.
- Сценарий: 1. Зайти на сервер. 2. Открыть "С" меню и выбрать Playermodel Selector.
- Классификация: Annoyance
- Скриншот: ![20210325212554_1](/uploads/17d6bd4cba030795ffaa07058f8fd97b/20210325

[2021-09-19 10:37] octothorpteam commented on #34
In GitLab by @Mikvoin on Apr 2, 2021, 19:18

assigned to @Mikvoin

[2021-09-19 10:37] octothorpteam commented on #34
In GitLab by @Mikvoin on Apr 2, 2021, 19:21

Это не является багом, так как действия происходят в одиночке, а не на сервере.

[2021-09-19 10:37] #34 closed

[2021-09-19 10:37] octothorpteam opened #35 "Спрайты, имеющие графические недоработки или вещи, цепляющиеся за глаз"
In GitLab by @Huehubr on Mar 25, 2021, 22:15

- Сервер: Dev
- Карта: Any

- Описание: Некоторые спрайты немного не ровно или криво обрезаны, от чего, по краям видны белые полосы/окоймы
- Сценарий: 1. Выбрать ОПРЕДЕЛЕННОГО персонажа, спрайты которого имеют белые полосы. 2. Запустить классный суд. 3. Увидеть все своими глазами
- Классификация: Annoyance
- Видео с таймкодом: https://www.youtube.com/w

[2021-09-19 10:37] octothorpteam commented on #35
In GitLab by @Mikvoin on Apr 2, 2021, 19:23

assigned to @Mikvoin

[2021-09-19 10:37] octothorpteam commented on #35
In GitLab by @Mikvoin on Apr 2, 2021, 19:23

@Huehubr, @Krou
Можно получить конкретный список персонажей и номера спрайтов у которых наблюдается эта проблема?

[2021-09-19 10:37] octothorpteam commented on #35
In GitLab by @Huehubr on Apr 7, 2021, 18:52

Могу как-нибудь зайти и проверить, либо уже на ЗБТ

[2021-09-19 10:37] octothorpteam commented on #35
In GitLab by @Mikvoin on Jun 22, 2021, 12:43

Так что со списком?

[2021-09-19 10:37] octothorpteam commented on #35
In GitLab by @Huehubr on Jul 8, 2021, 15:10

Как-нибудь попрошу сервер выделить и проверю всех персонажей

[2021-09-19 10:37] octothorpteam commented on #35
In GitLab by @Mikvoin on Aug 8, 2021, 01:35

@Huehubr
Есть прогресс?

[2021-09-19 10:37] octothorpteam opened #36 "Спрайт Корекие"
In GitLab by @Huehubr on Mar 26, 2021, 02:39

- Сервер: Main/Private
- Карта: dro_hopespeak

- Описание: У Корекие не отображается правильно второй спрайт
- Сценарий: 1. Взять Корекие. 2. Запустить классный суд 3. Выбрать ВТОРОЙ спрайт
- Классификация: Annoyance
- Скриншоты: ![20210326021005_1](/uploads/93696d84215b9638148a98ff81c4b30b/20210326021005_1.jpg)

![20210326021001_1](/uploads/73061b03f4

[2021-09-19 10:37] octothorpteam commented on #36
In GitLab by @Mikvoin on Apr 2, 2021, 19:30

assigned to @Mikvoin

[2021-09-19 10:37] #36 closed

[2021-09-19 10:38] octothorpteam opened #37 "Баг с камерой наблюдателя в зоне AV комнаты"
In GitLab by @Huehubr on Mar 26, 2021, 02:45

- Сервер: Main/Dev/Private
- Карта: dro_hopespeak

- Описание: В зеленом коридоре, рядом с AV комнатой, у наблюдателей появляется черный экран
- Сценарий: 1. Игрок стоит/проходит в нужном месте. 2. Зайти в наблюдение. 3. Наблюдать за игроком, который проходит в месте, указанном выше
- Классификация: Annoyance
- Видео: https://youtu.be/fPDKRB5dH80

[2021-09-19 10:38] octothorpteam commented on #37
In GitLab by @fin on Mar 30, 2021, 21:12

assigned to @fin

[2021-09-19 10:38] octothorpteam opened #38 "Некорректная работа !rettogame"
In GitLab by @Mastermind on Mar 26, 2021, 16:27

- Сервер: Dev
- Карта: dro_hopespeak/dro_funhouse

- Описание: Если игровой мастер возвращает убитого игрока с помощью команды !rettogame и при этом человек сидит в режиме наблюдателя, игрока возродит в лобби.
- Сценарий:
1) Убить человека
2) Зайти в режим наблюдателя
3) Игровой мастер прописывает !rettogame <игрок>
- Классификация: Annoyance
- Скри

[2021-09-19 10:38] octothorpteam commented on #38
In GitLab by @fin on Mar 30, 2021, 21:12

assigned to @fin

[2021-09-19 10:38] octothorpteam opened #39 "Аномальное поведение крови"
In GitLab by @Mastermind on Mar 26, 2021, 16:35

- Сервер: Dev
- Карта: dro_hopespeak

- Описание: По неизвестной причине кровь начала вести себя аномально. = \
- Сценарий: ???
- Классификация: Annoyance
- Скриншот/Видео с таймкодом:
ЗБТ 25.03.2021
ТаймКод: 1:50:43
Видео - https://youtu.be/9sSK24JGtHA?t=6643

[2021-09-19 10:38] octothorpteam commented on #39
In GitLab by @Krou on Mar 26, 2021, 17:01

Вид через Моноволлхак: https://www.youtube.com/watch?v=1u4jQXHMPyA

[2021-09-19 10:38] octothorpteam commented on #39
In GitLab by @Mikvoin on Apr 2, 2021, 19:28

@Krou, @Mastermind
Довольно сложно определить в чем именно проблема, однако, я предполагаю что все дело в определенной плеер модели. Необходимо провести тесты в которых будут повторяться действия, которые были выполнены в приложенных видео, чтобы установить проблемную плеер модель.

[2021-09-19 10:38] octothorpteam commented on #39
In GitLab by @Mikvoin on Apr 2, 2021, 19:29

assigned to @Mikvoin

[2021-09-19 10:38] octothorpteam opened #40 "Баг с руками Тогами (Локальный)"
In GitLab by @Eleon on Mar 26, 2021, 16:56

● Сервер: Dev

● Карта: dro_hopespeak

● Описание: Данный баг является локальным. При взятии рук персонажа Бьякуи Тогами выходят Еррорки. При взятии оружия также выскальзывает данный баг.

● Сценарий: 1. Взять персонажа Бьякуя Тогами, 2. Взять за него руки, 3. Взять оружие (Дополнительно)

● Классификация: Minor

● Видео: https://youtu.be/_Rew3IZoPbI

[2021-09-19 10:38] octothorpteam commented on #40
In GitLab by @Eleon on Mar 26, 2021, 16:57

changed the description

[2021-09-19 10:38] octothorpteam commented on #40
In GitLab by @Eleon on Mar 26, 2021, 17:05

changed the description

[2021-09-19 10:38] octothorpteam commented on #40
In GitLab by @Mikvoin on Apr 2, 2021, 19:15

assigned to @Mikvoin

[2021-09-19 10:38] #40 closed

[2021-09-19 10:38] octothorpteam opened #41 "Видные очертания спрайтов во время end_round/end_game."
In GitLab by @NeverLucky21 on Mar 26, 2021, 18:07

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: Во время "катсцены" end_round/end_game видны очертания одежды персонажей Рей Тогами и Рёко Атанаши
- Сценарий: 1. Начать игру с персонажами Рей Тогами/Рёко Атанаши 2. Прописать end_round/end_game
- Классификация: Annoyance
- Скриншот/Видео с таймкодом: https://www.youtube.com/watch?v=aT3u_sEDo7k (1:

[2021-09-19 10:38] octothorpteam commented on #41
In GitLab by @Mikvoin on Apr 2, 2021, 19:15

assigned to @Mikvoin

[2021-09-19 10:38] #41 closed

[2021-09-19 10:38] octothorpteam opened #42 "Последний спрайт Киётаки Ишимару - розовый error"
In GitLab by @NeverLucky21 on Mar 26, 2021, 21:17

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: Персонаж - Киётака Ишимару. Последний спрайт в меню отображается как ошибка.
- Сценарий: 1. Начать суд с Киётакой на игре 2. Пролистать до последнего спрайта
- Классификация: Annoyance
- Скриншот/Видео с таймкодом: https://www.youtube.com/watch?v=aT3u_sEDo7k (39:41)![opera_zWJktm3rdf](/uploads/cf717

[2021-09-19 10:38] octothorpteam commented on #42
In GitLab by @NeverLucky21 on Mar 26, 2021, 21:18

changed the description

[2021-09-19 10:38] octothorpteam commented on #42
In GitLab by @NeverLucky21 on Mar 26, 2021, 21:19

changed the description

[2021-09-19 10:38] octothorpteam commented on #42
In GitLab by @Eleon on Mar 27, 2021, 11:04

Этот баг не только на сервере ЗБТ, но и на всех. Вчера на стриме было.

[2021-09-19 10:38] octothorpteam commented on #42
In GitLab by @Mikvoin on Apr 2, 2021, 19:26

@fin, у character1_3 должно быть 23 спрайта.

[2021-09-19 10:39] octothorpteam commented on #42
In GitLab by @fin on Jun 29, 2021, 02:16

mentioned in commit d9f30edd47207c1c1cf5c77a7a7bba4fdca09309

[2021-09-19 10:39] #42 closed

[2021-09-19 10:39] octothorpteam opened #43 "Баг с отображением ошибки спрайта Шуичи Сайхары в конце раунда."
In GitLab by @Eleon on Mar 26, 2021, 22:27

● Сервер: Dev

● Карта: dro_hopespeak

● Описание: После запуска EndRound, в самом EndRound-е персонаж Шуичи Сайхара отображается ошибкой (типичные чёрно-розовые пиксели). Перед следующим судом Куратор два энд-раунда запускал для теста, но ошибка всё оставалась. После этого мы снова взяли Шуичи, но эрорки уже не было.

● Сценарий: 1. Взять персонажа Шуич

[2021-09-19 10:39] octothorpteam commented on #43
In GitLab by @Eleon on Mar 26, 2021, 22:32

changed the description

[2021-09-19 10:39] octothorpteam opened #44 "Убийство порошком из огнетушителя"
In GitLab by @Krou on Mar 27, 2021, 15:36

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: При убийстве порошком огнетушителя отсутствует "Тип ран" в информации о трупе
- Сценарий: 1. Взять огнетушитель 2. Нажать R и убить игрока выходящим порошком 3. Осмотреть труп
- Классификация: Annoyance
- Скриншот: https://prnt.sc/10x1nvx

[2021-09-19 10:39] octothorpteam commented on #44
In GitLab by @Krou on Mar 27, 2021, 21:09

changed the description

[2021-09-19 10:39] octothorpteam commented on #44
In GitLab by @Mikvoin on Apr 2, 2021, 19:24

@fin, стоит убрать урон у огнетушителя.

[2021-09-19 10:39] octothorpteam commented on #44
In GitLab by @fin on Jun 29, 2021, 02:16

mentioned in commit 15771dd11fb1186ab56dbed3ab51ca53d99bf689

[2021-09-19 10:39] #44 closed

[2021-09-19 10:39] octothorpteam opened #45 "Баг с кроватью и end_round"
In GitLab by @Eleon on Mar 27, 2021, 17:13

● Сервер: Main

● Карта: dro_hopespeak

● Описание: Происходило всё на 170 обт. Когда стример лёг спать, ГМ запустил end_round. И стример, нажимая кнопку Q, мог взаимодействовать с end_round-ом (отключать его).

● Сценарий: 1. Выбрать персонажа , 2. Пойти лечь спать, 3. Запустить end_round , 4. Нажать кнопку Q

● Классификация: Annoyance

● Видео: https:

[2021-09-19 10:39] octothorpteam commented on #45
In GitLab by @Eleon on Mar 27, 2021, 17:13

changed the description

[2021-09-19 10:39] octothorpteam commented on #45
In GitLab by @Eleon on Mar 27, 2021, 17:26

changed title from **Баг с кроватью и {-Эндроундом-}** to **Баг с кроватью и {+end_round+}**

[2021-09-19 10:39] octothorpteam commented on #45
In GitLab by @Eleon on Mar 27, 2021, 17:26

changed the description

[2021-09-19 10:39] octothorpteam commented on #45
In GitLab by @fin on Mar 30, 2021, 21:17

assigned to @fin

[2021-09-19 10:39] octothorpteam opened #46 "Error-спрайт и измененный порядок в результатах игры"
In GitLab by @Krou on Mar 27, 2021, 21:12

- Сервер: Main
- Карта: dro_hopespeak
- Описание: В конце игры (171 ОБТ) присутствовал Error-спрайт (Погибший Макото), а также порядок персонажей отличался от порядка в конце раунда.
- Сценарий: Неизвестно.
- Классификация: Minor
- Скриншоты: Конец раунда: https://prnt.sc/10x9snw Конец игры: https://prnt.sc/10x9rsq

[2021-09-19 10:39] octothorpteam commented on #46
In GitLab by @Mikvoin on Jun 22, 2021, 13:48

Это связано с убийством Монокумы или другого персонажа, у которого нет материалов.

[2021-09-19 10:39] #46 closed

[2021-09-19 10:39] octothorpteam opened #47 "Ошибки в коде, из-за чего случаются ошибки со стартом игры"
In GitLab by @Huehubr on Mar 28, 2021, 01:55

- Сервер: Main
- Карта: dro_hopespeak

- Описание: При неизвестном порядке действий (возможно и без этого порядка), игроков не закидывает в игру, не один из двух способов не работает, такие, как: !setgamestatus game или !monomenu (Fin это уже фиксил, но баг периодически возвращается)
- Сценарий: ???
- Классификация: Serious
- Скриншот/Видео с таймкодом

[2021-09-19 10:39] octothorpteam commented on #47
In GitLab by @fin on Mar 30, 2021, 21:18

assigned to @fin

[2021-09-19 10:39] octothorpteam commented on #47
In GitLab by @fin on Jun 29, 2021, 02:16

mentioned in commit d50ad9bf55cb0be09309d54c996ae8484c48729f

[2021-09-19 10:39] octothorpteam opened #48 "Баг с ПМом"
In GitLab by @Adagium on Mar 28, 2021, 18:05

- Сервер: Main
- Карта: dro_hopespeak
- Описание: Если у человека ник "Нагито Комаэда" (в стиме и в игре, соответственно), и в пм написать персонажу Нагито Комаэда - пм придет человеку с этим ником из стима
- Сценарий:
- Классификация: Minor

[2021-09-19 10:39] octothorpteam commented on #48
In GitLab by @Adagium on Mar 28, 2021, 18:07

changed the description

[2021-09-19 10:40] octothorpteam commented on #48
In GitLab by @Krou on Mar 29, 2021, 10:29

Такое особенно часто случается, если пишешь ник/имя персонажа не полностью. Например писал Монокуме "!pm Мон Я собираюсь убить", а сообщение пришло человеку с ником "Моника".
Как вариант решения я предлагаю добавить "!pmc" (pm character) и "!pmp" (pm player), чтобы избежать чего-то подобного

[2021-09-19 10:40] octothorpteam commented on #48
In GitLab by @fin on Mar 30, 2021, 20:59

assigned to @fin

[2021-09-19 10:40] octothorpteam opened #49 "Разговоры и движение игроков при окончании главы"
In GitLab by @Krou on Mar 31, 2021, 10:54

- Сервер: Dev
- Карта: dro_hopespeak
- Описание: Игрок может говорить и двигаться при "Продолжение следует...", если зашел в анимацию перед событием и вышел из неё во время экрана "Продолжение следует..."
- Сценарий: 1. Игрок включает анимацию 2. Начинается end_round 3. После окончания анимации во время действия end_round можно двигаться и говорить
- Клас

[2021-09-19 10:40] octothorpteam commented on #49
In GitLab by @fin on Apr 27, 2021, 18:05

assigned to @fin

[2021-09-19 10:40] octothorpteam opened #50 "Не работает микрофона на суде при перебинде"
In GitLab by @Krou on Apr 3, 2021, 19:31

- Описание: В настройках я поменял кнопку голосового чата на дополнительную кнопку мыши. На суде при нажатии на эту кнопку камера на меня наводится, но меня не слышат другие. Чинится такое только если вернуть кнопку голосового чата по умолчанию ( на X ).
- Сценарий:
1. Открыл настройки ГМода
2. Перебиндил "Голосовая связь" на кнопку MOUSE5
3. На суде камер

[2021-09-19 10:40] octothorpteam commented on #50
In GitLab by @fin on Apr 27, 2021, 18:05

assigned to @fin

[2021-09-19 10:40] octothorpteam opened #51 "Еда крутится, когда ложишь ее"
In GitLab by @Krou on Apr 3, 2021, 19:57

- Описание: Если положить тарелку еды под неправильным углом она... крутится... Видео: [https://youtu.be/3S2kAYJsHJ0](https://youtu.be/3S2kAYJsHJ0)
- Сценарий:
1. Приготовить еду
2. Положить ее под измененным углом (в большинстве случаев так ложится) и смотреть как она крутится

[2021-09-19 10:40] octothorpteam commented on #51
In GitLab by @NeverLucky21 on Apr 3, 2021, 22:06

https://www.youtube.com/watch?v=PGNiXGX2nLU

[2021-09-19 10:40] octothorpteam commented on #51
In GitLab by @Mikvoin on Apr 27, 2021, 12:12

assigned to @Mikvoin

[2021-09-19 10:40] #51 closed

[2021-09-19 10:40] octothorpteam opened #52 "Поза с вытянутой рукой при удержании предмета остается после отпускания"
In GitLab by @Krou on Apr 4, 2021, 08:33

- Описание: Игроки со стороны видели, что стример идет с вытянутой рукой (словно в ней пистолет или типа-того).
[Тут о баге сообщают игроку - 5:57:15](https://youtu.be/Zvq21PnUue8?t=21435) и [вероятная причина бага - 5:54:55](https://youtu.be/Zvq21PnUue8?t=21295)
- Сценарий:
1. ВЕРОЯТНО зажать ЛКМ на каком-то предмете, чтобы передвигать его. Игрок переходи

[2021-09-19 10:40] #52 closed

[2021-09-19 10:40] octothorpteam opened #53 "Застревание в дверях в комнату казни"
In GitLab by @Krou on Apr 5, 2021, 11:51

- **Описание:** Игрок может застрять в дверях в комнату казни (в которой люди смотрят на казнь, а не умирают) из-за их автоматического закрытия. На видео стример и Рантаро застряли в них (Рантаро выбрался через noclip). [Видео - 5:33:05](https://youtu.be/wNV27Vk4Qjc?t=19985)
- **Сценарий:** (предположительный)
1. Игрок открывает дверь
2. Дверь начинает авт

[2021-09-19 10:40] octothorpteam commented on #53
In GitLab by @Mikvoin on Apr 6, 2021, 02:13

assigned to @Mikvoin

[2021-09-19 10:40] #53 closed

[2021-09-19 10:40] octothorpteam opened #54 "Некорректный статус игрока с начала игры"
In GitLab by @Shamriel on Apr 5, 2021, 12:43

 - Описание: В мономеню Рёма отображался мёртвым, рядом был таймер на "00:00", у игрока отсутствовали ключи у двери и статы не моги понижаться.
 - Сценарий: Запуск игры на 16 человек.

[2021-09-19 10:40] octothorpteam commented on #54
In GitLab by @fin on Apr 9, 2021, 12:04

assigned to @fin

[2021-09-19 10:40] octothorpteam commented on #54
In GitLab by @fin on Apr 11, 2021, 10:10

Вроде все нормально с 16 игроками, скорее всего это связано с тем что игроков не возвращало в игру

[2021-09-19 10:40] #54 closed

[2021-09-19 10:40] octothorpteam opened #55 "Локальный баг с "открытой" дверью в общежитие"
In GitLab by @Krou on Apr 5, 2021, 13:17

- **Описание**: Гуляя по карте я заметил, что дверь в комнату Макото открыта, но в дверном проеме была чернота. Я попытался войти, но издавался звук, словно я пытаюсь открыть дверь. Игроки рядом подошли ко мне и открыли ее. Когда я спросил у них после игры, они ответили, что от их лица дверь была закрыта. [Видео](https://youtu.be/Vv9KJVgFhR0)
- **Сценарий*

[2021-09-19 10:40] octothorpteam commented on #55
In GitLab by @Mikvoin on Apr 6, 2021, 02:15

@Krou
Это очень редкая ошибка. По каким-то странным обстоятельствам у тебя открылась дверь на клиенте, однако, на сервере она закрыта. В связи с этим возникает парадокс, что ты пытаешься войти в проход, которого нет

[2021-09-19 10:40] octothorpteam commented on #55
In GitLab by @Mikvoin on Aug 8, 2021, 01:17

@Krou
За 4 месяца этот баг не повторился, так что можно закрыть этот репорт

[2021-09-19 10:41] #55 closed

[2021-09-19 10:41] octothorpteam opened #56 "Двери в сад на 5-м этаже не закрываются после открытия."
In GitLab by @NeverLucky21 on Apr 9, 2021, 11:53

- **Описание**: Двери в сад на 5-м этаже после открытия не закрываются. Если точнее, левая дверь работает нормально, а правая нет и ломает левую дверь (невозможно закрыть тоже). Баг связан с картой. Обнаружен в режиме Singleplayer. [Видео.](https://youtu.be/TGvcB4uFrNg)
- **Сценарий**: Открыть правую дверь в сад > Попытаться закрыть дверь

[2021-09-19 10:41] octothorpteam commented on #56
In GitLab by @NeverLucky21 on Apr 9, 2021, 11:53

changed the description

[2021-09-19 10:41] octothorpteam commented on #56
In GitLab by @NeverLucky21 on Apr 9, 2021, 11:54

changed the description

[2021-09-19 10:41] octothorpteam commented on #56
In GitLab by @Mikvoin on Apr 10, 2021, 02:29

assigned to @Mikvoin

[2021-09-19 10:41] #56 closed

[2021-09-19 10:41] octothorpteam opened #57 "Спрайты Мукуро и имя Рёмы в меню выбора персонажа."
In GitLab by @Engie on Apr 9, 2021, 22:00

- Описание: В режиме выбора персонажа отсутствует спрайт Мукуро и имя Рёмы.
Сценарий:
1. Зашёл на сервер.
2. Открыл меню выбора персонажа и просмотрел всех персов, после чего обнаружил проблему.

![w6bqrjRtsRo](/uploads/56f5474de4c709817c89eed67ec4a9f3/w6bqrjRtsRo.jpg)

![73zrRVou2QU](/uploads/cd18107e4d792d7d992b3635a53bb79a/73zrRVou2QU.jpg)

[2021-09-19 10:41] octothorpteam commented on #57
In GitLab by @Mikvoin on Apr 10, 2021, 02:29

assigned to @Mikvoin

[2021-09-19 10:41] octothorpteam commented on #57
In GitLab by @fin on Jun 29, 2021, 02:16

mentioned in commit 4637a7d055e5fc4fa2c5eec451a6c7cf43ae497a

[2021-09-19 10:41] #57 closed

[2021-09-19 10:41] octothorpteam opened #58 "Вылет после выбора персонажей character5_1 и character5_2"
In GitLab by @Mikvoin on Apr 10, 2021, 02:26

- Описание: при выборе персонажей character5_1 и character5_2 меню вылетает с ошибкой.

- Сценарий:
1. Открыть выбор персонажей на F4 и пролистать до пятой коллекции
2. Выбрать character5_1 или character5_2.

[code]

![](https://i.imgur.com/S7pqerB.png)

[2021-09-19 10:41] octothorpteam commented on #58
In GitLab by @fin on Jun 29, 2021, 02:16

mentioned in commit 4637a7d055e5fc4fa2c5eec451a6c7cf43ae497a

[2021-09-19 10:41] #58 closed

[2021-09-19 10:41] octothorpteam opened #59 "Баг с пропаданием рук при !stripweapons"
In GitLab by @Krou on Apr 10, 2021, 12:10

- **Описание**:<br>
При прописывании "!stripweapons" у игрока пропадают руки из инвентаря
- **Сценарий**:
1. Администратор пишет !stripweapons имя_игрока
2. У игрока пропадает руки (если игрок еще и админ, то у него остается его набор (физган и т.д.)
![image](/uploads/1aba88d2c76553013cdfc99890fab209/image.png)

[2021-09-19 10:41] octothorpteam commented on #59
In GitLab by @Krou on Apr 10, 2021, 12:11

changed title from **{-Пример бага-}** to **{+Баг с пропаданием рук при !stripweapons+}**

[2021-09-19 10:41] octothorpteam opened #60 "Баг, при котором можно убить Наблюдателя/Ведущего"
In GitLab by @Krou on Apr 10, 2021, 12:35

- **Описание**:<br>
При прописывании "!hp <ник> 0" Монокуме или наблюдателю, то его можно убить с удара любым оружием (кроме кулаков)
- **Сценарий**:
1. Администратор прописывает "!hp <ник игрок> 0"
2. Игрок становится смертным и умирает с одного удара (кроме как от кулаков)

[2021-09-19 10:41] octothorpteam commented on #60
In GitLab by @fin on Apr 26, 2021, 21:06

assigned to @fin

[2021-09-19 10:41] octothorpteam opened #61 "При смерти ГМа, в конце раунда/игры появляется Error-спрайт"
In GitLab by @Krou on Apr 10, 2021, 16:13

- **Описание**:<br>
Когда ГМ умирает или меняет персонажа в результатах главы/игры появляется его семнадцатый Error-спрайт (если игроков было 16, конечно)
- **Сценарий**:
1. Игра начинается с ГМом за Монокуму
2. ГМ умирает или меняет перса с Монокумы на другого
3. Прописывается конец игры/раунда и появляется Error спрайт
![image](/uploads/16abbc5cfe3c5b5b

[2021-09-19 10:41] octothorpteam commented on #61
In GitLab by @fin on Apr 26, 2021, 21:06

assigned to @fin

[2021-09-19 10:41] octothorpteam opened #62 "Игрока не слышно, если на экране открыто какое-то меню"
In GitLab by @Krou on Apr 11, 2021, 12:33

- **Описание**:<br>
При каком-то экране поверх (улика, записка, устав академии или !menu как пример) микрофон не работает, пускай само изображение его находится на экране как обычно. На суду или на игре - не важно
- **Сценарий**:
1. Открыть меню
2. Начать говорить. Микрофон появляется на экране, но игроки не слышат спикера.

[2021-09-19 10:41] octothorpteam opened #63 "Талант Рёмы в меню - Error"
In GitLab by @Krou on Apr 13, 2021, 12:03

- **Описание**:<br>
Талант Рёмы в меню выбора персонажа - Error
![image](/uploads/55b4a89dd93d6345f03830bcfef82ef8/image.png)

[2021-09-19 10:42] octothorpteam commented on #63
In GitLab by @Mikvoin on Apr 22, 2021, 19:20

assigned to @Mikvoin

[2021-09-19 10:42] #63 closed

[2021-09-19 10:42] octothorpteam opened #64 "Спрайты персонажей в меню выбора персонажа перекрывают имя и талант"
In GitLab by @Krou on Apr 13, 2021, 12:11

- **Описание**:<br>
У части персонажей в меню выбора персонажей спрайты перекрывают имя и талант<br>
https://imgur.com/a/C52OxTE - Ссылка. Скрин ниже прикрепил как пример
![image](/uploads/eae509f5e5583b58575d5d0fe1bdd2d3/image.png)

[2021-09-19 10:42] octothorpteam commented on #64
In GitLab by @Mikvoin on Apr 22, 2021, 19:20

assigned to @Mikvoin

[2021-09-19 10:42] octothorpteam opened #65 "Неправильный порядок персонажей в меню"
In GitLab by @Krou on Apr 15, 2021, 10:34

- **Описание**:<br>
В меню выбора персонажей (а также на вики) неправильный порядок. Сначала должны идти парни (тоже в каком-то порядке), затем девушки. Сначала такого порядка придерживались, но потом из-за добавления новых персонажей порядок сбился<br>
Такое в персонажах всех трех частей, вот один из примеров:<br>
P.S.: Также Комару и Рёко расположены по

[2021-09-19 10:42] octothorpteam commented on #65
In GitLab by @Krou on Apr 15, 2021, 19:40

changed the description

[2021-09-19 10:42] octothorpteam commented on #65
In GitLab by @Krou on Apr 15, 2021, 19:40

changed the description

[2021-09-19 10:42] octothorpteam commented on #65
In GitLab by @Mikvoin on Apr 19, 2021, 14:57

@Krou
Исправим после обновления, которое позволит с легкостью добавлять и убирать новых персонажей.

[2021-09-19 10:42] octothorpteam opened #66 "Неправильное название персонажа"
In GitLab by @Sanny on Apr 18, 2021, 23:26

Вместо надписи Котоко Утсуги написанно Масару Даймонд![20210418231959_1](/uploads/09390c92c97573a90cfba2b34e23221a/20210418231959_1.jpg)

[2021-09-19 10:42] octothorpteam commented on #66
In GitLab by @Mikvoin on Apr 22, 2021, 19:20

assigned to @Mikvoin

[2021-09-19 10:42] #66 closed

[2021-09-19 10:42] octothorpteam opened #67 "когда на инвалидной коляске пытаешь открыть дверь/покушать встаешь"
In GitLab by @Sanny on Apr 18, 2021, 23:30

Это не очень удобно и очень сильно мешает рп

[2021-09-19 10:42] octothorpteam opened #68 "Увеличение размера текста при высоком разрешении экрана"
In GitLab by @Mikvoin on Apr 19, 2021, 14:56

Разрешение монитора: 2560x1440

![image](/uploads/5b1799a39a540d0214bd183eacbfc68f/image.png)

[2021-09-19 10:42] octothorpteam commented on #68
In GitLab by @fin on Apr 26, 2021, 20:56

assigned to @fin

[2021-09-19 10:42] octothorpteam commented on #68
In GitLab by @Mikvoin on Apr 30, 2021, 11:53

Не исправлено
![1](https://i.imgur.com/4Vw8Sv6.png)

[2021-09-19 10:42] octothorpteam commented on #68
In GitLab by @fin on Jun 29, 2021, 02:16

mentioned in commit de29825f6a13a52674f2c8a9d34fd3e6a3715d7b

[2021-09-19 10:42] octothorpteam opened #69 "Получение урона в лобби"
In GitLab by @Sanny on Apr 19, 2021, 17:19

Получение урона в лобби от рпг![20210419171837_1](/uploads/1f804410a9aab3abc9b1ff7932992ef7/20210419171837_1.jpg)![20210419171839_1](/uploads/ed30b4f401274946992a91e1dd3a023c/20210419171839_1.jpg)

[2021-09-19 10:42] octothorpteam commented on #69
In GitLab by @fin on Apr 26, 2021, 20:56

assigned to @fin

[2021-09-19 10:42] octothorpteam commented on #69
In GitLab by @Mikvoin on Jul 4, 2021, 24:15

@Sanny
Ты уверена, что твой персонаж не был в игре на тот момент?

[2021-09-19 10:42] octothorpteam commented on #69
In GitLab by @Mikvoin on Aug 8, 2021, 01:29

Я так и не получил ответа и за все это время подобное не встречалось.

[2021-09-19 10:42] #69 closed

[2021-09-19 10:42] octothorpteam opened #70 "Неправильное название персонажа при голосование"
In GitLab by @Sanny on Apr 20, 2021, 10:57

![20210419204342_1](/uploads/84d88c68e6ec027b3a3ecd53b29e6734/20210419204342_1.jpg)

[2021-09-19 10:43] octothorpteam commented on #70
In GitLab by @Mikvoin on Apr 22, 2021, 19:19

assigned to @Mikvoin

[2021-09-19 10:43] #70 closed

[2021-09-19 10:43] octothorpteam opened #71 "Баг с "Управлять" у предмета"
In GitLab by @Krou on Apr 20, 2021, 15:32

**Описание:** Если начать "управлять" предметом, то он во-первых не двигается и во-вторых из этого режима можно выйти лишь удалением предмета или перезаходом на сервер<br>
[https://youtu.be/E_VM-syeuO8](https://youtu.be/E_VM-syeuO8)<br>
**Сценарий:**<br>1. Открыть C-меню с физганом в руках<br>
2. Нажать на предмет ПКМ и выбрать "Управлять:<br>
2.5 Вы не м

[2021-09-19 10:43] octothorpteam commented on #71
In GitLab by @fin on Apr 26, 2021, 20:49

assigned to @fin

[2021-09-19 10:43] octothorpteam opened #72 "Швабра, создающая Error квадраты"
In GitLab by @Krou on Apr 20, 2021, 18:14

**Описание:** Метла, при нажатии ЛКМ создает Error-квадрат. Единственный способ подметать, не оставляя этих следов - зажать ЛКМ, не наводясь на стену или пол, после чего уже перевести мышку на пол<br>
**Сценарий:**
1. Взять метлу
2. Нажать ЛКМ, наведясь на пол или стену (находясь близко к нему)
![image](/uploads/f4c84f8a90c69e470a8b0c53affbda12/image.png)

[2021-09-19 10:43] octothorpteam commented on #72
In GitLab by @fin on Apr 26, 2021, 20:49

assigned to @fin

[2021-09-19 10:43] octothorpteam opened #73 "У Комару спрайты Рёко на суде"
In GitLab by @Krou on Apr 24, 2021, 16:30

**Описание:** У Комару спрайты Рёко на суде

[2021-09-19 10:43] octothorpteam commented on #73
In GitLab by @Mikvoin on Apr 25, 2021, 09:06

assigned to @Mikvoin

[2021-09-19 10:43] #73 closed

[2021-09-19 10:43] octothorpteam opened #74 "Пролаг при загрузке изображения на голосовании"
In GitLab by @Krou on Apr 28, 2021, 10:29

**Описание:** Когда начинается голосование, присутствуют пролаги при загрузке изображения персонажа при наведении на него. Если изображение персонажа уже игрок прогружал ранее, то лагов не будет<br>
**Видео:** [https://youtu.be/juNLAekZ3Rg](https://youtu.be/juNLAekZ3Rg)

[2021-09-19 10:43] octothorpteam commented on #74
In GitLab by @fin on May 4, 2021, 09:58

assigned to @fin

[2021-09-19 10:43] #74 closed

[2021-09-19 10:43] octothorpteam opened #75 "Команда !botkick не работает"
In GitLab by @Krou on Apr 28, 2021, 10:32

**Описание:** Команда !botkick не работает<br>
**Сценарий:**
1. Написать !bots x (любое число, для спавна ботом)<br>
2. Написать !botkick (ничего не произойдет, боты останутся на сервере)

[2021-09-19 10:43] octothorpteam commented on #75
In GitLab by @Krou on May 1, 2021, 18:40

Вместо этого работает команда !kickbots, поэтому закрываю баг

[2021-09-19 10:43] #75 closed

[2021-09-19 10:43] octothorpteam opened #76 "Глаза Фуюхико летают на суду"
In GitLab by @Krou on May 1, 2021, 18:49

**Описание:** У игрока на Фуюхико на суду видны его глаза в виде белых шаров<br>
[Глаза летают вдалеке, видны лишь в начале суда и не мешают игре](https://youtu.be/2Le_qohQy6E?t=6)<br>
[Глаза летают над спрайтом Саяки](https://youtu.be/jmPwiUIiJ40?t=35)<br>
[Глаза перекрывают спрайты игрока](https://youtu.be/chc7lwP9U34?t=9803)<br>

[2021-09-19 10:43] octothorpteam commented on #76
In GitLab by @Krou on May 1, 2021, 18:50

changed the description

[2021-09-19 10:43] octothorpteam commented on #76
In GitLab by @Mikvoin on Aug 8, 2021, 01:21

@Krou
На данный момент этой проблемы не наблюдается.

[2021-09-19 10:43] #76 closed

[2021-09-19 10:43] octothorpteam opened #77 "Отсутствие эмоций у Терутеру"
In GitLab by @Krou on May 4, 2021, 11:15

**Описание:** У Терутеру отсутствуют эмоции

[2021-09-19 10:43] octothorpteam opened #78 "Неправильное отображение последнего спрайта Чихиро"
In GitLab by @Krou on May 4, 2021, 18:49

**Описание:** Правый нижний спрайт Чихиро (который с "пузырьком") отображается неправильно<br>
[https://youtu.be/fs0N669YLys](https://youtu.be/fs0N669YLys)<br>
![image](/uploads/30c183c5bcac13204fa850ba398b21ce/image.png)

[2021-09-19 10:43] octothorpteam commented on #78
In GitLab by @Mikvoin on May 8, 2021, 10:41

assigned to @Mikvoin

[2021-09-19 10:44] #78 closed

[2021-09-19 10:44] octothorpteam opened #79 "Баг с Монокумой (character10_1)"
In GitLab by @Krou on May 5, 2021, 09:55

Описание: У Монокумы character10_1 есть баги.
1. Опровержение в виде Error - [*тык*](https://prnt.sc/12ihe67)
2. Аргументы Монокумы в виде Error - [*тык*](https://prnt.sc/12ihbio)
3. Монокума был в списке на голосовании - [186 ОБТ](https://prnt.sc/12iww6n)

[2021-09-19 10:44] octothorpteam commented on #79
In GitLab by @Krou on May 5, 2021, 15:38

changed the description

[2021-09-19 10:44] octothorpteam commented on #79
In GitLab by @Krou on May 5, 2021, 15:38

changed the description

[2021-09-19 10:44] octothorpteam commented on #79
In GitLab by @Krou on May 5, 2021, 15:38

changed the description

[2021-09-19 10:44] octothorpteam commented on #79
In GitLab by @Mikvoin on May 8, 2021, 10:30

assigned to @Mikvoin

[2021-09-19 10:44] octothorpteam commented on #79
In GitLab by @Mikvoin on May 8, 2021, 10:30

1. Исправил
2. Это уже исправит @fin
3. Это происходит из-за того, что кто-то убивает Монокуму после использования !hp 0

[2021-09-19 10:44] octothorpteam opened #80 "не сохраняются записки"
In GitLab by @eronique on May 8, 2021, 07:12

1. во время игры возникла проблема с энтити "моя записка". у некоторых игроков она в принципе не открывалась на кнопку "e", некоторые же могли её открыть, но сохранить какой-либо текст внутри невозможно. в принципе эта проблема легко пофиксилась одним сообщением фину, но в целом было бы здорово избежать данного бага в дальнейшем.
2. да чёрт её знает, к

[2021-09-19 10:44] octothorpteam commented on #80
In GitLab by @fin on May 17, 2021, 13:20

проблема в том что я перед игрой иногда обновляю скрипты, но скрипт с записками не обновляется из-за чего они ломаются

[2021-09-19 10:44] octothorpteam commented on #80
In GitLab by @fin on Jul 2, 2021, 21:12

assigned to @fin

[2021-09-19 10:44] octothorpteam commented on #80
In GitLab by @fin on Jul 2, 2021, 21:13

Исправлено в 7327965588f4104fe542e6adeeb29d1c667b08be

[2021-09-19 10:44] #80 closed

[2021-09-19 10:44] octothorpteam opened #81 "Ошибка после включения сервера"
In GitLab by @Mikvoin on May 8, 2021, 10:41

[code]

[2021-09-19 10:44] octothorpteam opened #82 "Отсутствие рангов после запуска сервера"
In GitLab by @Mikvoin on May 8, 2021, 10:48

Когда я пытаюсь выдать ранг через консоль (panel.octo.gg), то он пишет, что рангов таких нет. Стоит мне начать подключаться к серверу, как тут же все появляется.

[code]

[2021-09-19 10:44] octothorpteam commented on #82
In GitLab by @fin on Jun 13, 2021, 22:21

Все из-за того что сервер входит в режим гибернации после запуска и не пытается получить информацию с БД

[2021-09-19 10:44] #82 closed

[2021-09-19 10:44] octothorpteam opened #83 "Статы не восстанавливаются после смерти"
In GitLab by @NeverLucky21 on May 8, 2021, 18:01

Неполные статы не восстанавливаются после смерти и во время наблюдения, особенно раздражает эффект сонности.
https://i.imgur.com/mEmadOB.png

[2021-09-19 10:44] octothorpteam commented on #83
In GitLab by @NeverLucky21 on May 8, 2021, 21:50

changed the description

[2021-09-19 10:44] octothorpteam commented on #83
In GitLab by @NeverLucky21 on May 8, 2021, 21:51

changed the description

[2021-09-19 10:44] octothorpteam opened #84 "Не отображаются улики, при их предъявлении на классном суде у того, кто не собрал ни единой улики."
In GitLab by @Huehubr on May 9, 2021, 23:44

* Сервер: Main/Private/Dev
* Карта: dro_hopespeak
* Описание: У игрока, не взявшего ни единой улики, они не будут отображаться при предъявлении их на суде другими игроками
* Сценарий: 1. Начать игру с минимум 2-мя игроками 2. Расставить улики, один подбирает, второй нет 3. Запустить classtrial 4. Игрок, собравший улики, предъявляет их на суде. Итог: У д

[2021-09-19 10:44] #84 closed

[2021-09-19 10:44] octothorpteam opened #85 "Отображение оружия"
In GitLab by @Lenka on May 10, 2021, 18:12

(В инвентаре была катана)
1. После первого суда справа появился силует, что я как будто держу катану, но на самом деле у меня были руки
2. Оружие крайне находилось далеко
3. Исправляется баг, если переключить с катану на руки![Безымянный](/uploads/eade5588adcf44579257287851f56232/Безымянный.png)

[2021-09-19 10:45] octothorpteam commented on #85
In GitLab by @Mikvoin on Jul 4, 2021, 24:21

@Lenka
Тэг `Incident` добавляется, когда есть ситуации, которые требуют немедленного исправления. К примеру, баг приводит к крашу сервера и т.д.
В твоем случае, это исключительно визуальная проблема.

[2021-09-19 10:45] #85 closed

[2021-09-19 10:45] octothorpteam opened #86 "Двери в бассейне не отражаются через воду"
In GitLab by @Krou on May 16, 2021, 18:25

**Описание:** Двери в раздевалку не видны через отражение в бассейне<br>
![image](/uploads/76c4bac4ab407a2da4fa75bc2cef3d4d/image.png)

[2021-09-19 10:45] octothorpteam commented on #86
In GitLab by @Mikvoin on Jun 13, 2021, 21:00

assigned to @Mikvoin

[2021-09-19 10:45] octothorpteam commented on #86
In GitLab by @Mikvoin on Jun 22, 2021, 12:54

@Krou
Это не баг, а параметры настроек в гмоде.
- ![](https://i.imgur.com/APQfY93.png)

[2021-09-19 10:45] #86 closed

[2021-09-19 10:45] octothorpteam opened #87 "Игроки не умирают, падая в люк в комнате казни."
In GitLab by @eronique on May 25, 2021, 12:34

**Описание:**
По какой-то причине игроки, падая в люк, не погибают при падении. Из-за этого приходится прилетать к ним в низ и добивать их, что не очень-то и удобно.

**Сценарий:**
1. Встать с фуллхп на месте открытия люка.
2. Открыть его, спровоцировав падение (или намеренно прыгнуть).
3. Упасть и не умереть!

[2021-09-19 10:45] octothorpteam commented on #87
In GitLab by @Mikvoin on Jun 13, 2021, 20:58

assigned to @Mikvoin

[2021-09-19 10:45] octothorpteam commented on #87
In GitLab by @fin on Jul 9, 2021, 22:04

Исправлено в ef95b20b61e9a5c27bea7a30ba49eaae71b5bff2

[2021-09-19 10:45] #87 closed

[2021-09-19 10:45] octothorpteam opened #88 "Фиолетовая Комару"
In GitLab by @Lenka on Jun 2, 2021, 21:28

Есть редкий баг, который был ещё с января, при котором Комару становится фиолетовой
В данном случае фиолетовый оттенок видео только на мне
![Безымянный](/uploads/1d8866f4e7d65cde633513ae5640eb9d/Безымянный.png)

[2021-09-19 10:45] octothorpteam commented on #88
In GitLab by @Lenka on Jun 2, 2021, 21:30

changed the description

[2021-09-19 10:45] octothorpteam commented on #88
In GitLab by @Lenka on Jun 2, 2021, 21:38

changed the description

[2021-09-19 10:45] octothorpteam opened #89 "Изменение размера меню при изменении разрешения экрана"
In GitLab by @Lenka on Jun 2, 2021, 21:36

Меню выбора спрайта меняется при изменении разрешения экрана, к тому же если поставить его обратно, то меню станет очень маленьким (работает не всегда)
![1](/uploads/da4d3bad3ddf7b7fb02fa2af0a22acd2/1.png)

![2](/uploads/e969ef4869426091d8218f2e2458f435/2.png)

[2021-09-19 10:45] octothorpteam commented on #89
In GitLab by @fin on Jun 13, 2021, 21:07

assigned to @fin

[2021-09-19 10:45] octothorpteam commented on #89
In GitLab by @fin on Aug 25, 2021, 19:58

mentioned in commit 929c48eea4d43a29303f244099c223a22c68fad1

[2021-09-19 10:45] #89 closed

[2021-09-19 10:45] octothorpteam opened #90 "Дополнение "investigation" вызывает ошибку"
In GitLab by @Loli-Kartonka on Jun 7, 2021, 24:55

Во время суда у Монокумы(возможно и у игроков) полностью сломалось отображение улик которые предьявляют другие люди, да и вообще полностью любых.
Я не понял как это получилось, но так явно не должно быть.
+Корекиё тогда уже был мёртв, очень странный баг.
![20210606231659_1](/uploads/218de3950fbc92e267eca289dfb107ac/20210606231659_1.jpg)

[2021-09-19 10:45] octothorpteam commented on #90
In GitLab by @Loli-Kartonka on Jun 7, 2021, 24:55

changed title from **Дополнение "investigation"** to **Дополнение "investigation"{+ вызывает ошибку+}**

[2021-09-19 10:45] octothorpteam commented on #90
In GitLab by @Krou on Jun 8, 2021, 08:02

Об ошибке уже сообщено более подробно: [Ссылка](https://code.octo.gg/dro/gmod/-/issues/5)

[2021-09-19 10:45] #90 closed

[2021-09-19 10:45] octothorpteam opened #91 "Новые спрайты Кируми в меню "Эмоции" не соответствуют действительности"
In GitLab by @Krou on Jun 10, 2021, 09:18

**Описание:** При выборе новых спрайтов Кируми выбирается тот, что правее, а не тот, что выбираешь.<br>
**Видео:** https://youtu.be/BTbaBYbFyUE

[2021-09-19 10:46] octothorpteam commented on #91
In GitLab by @Mikvoin on Jun 13, 2021, 20:52

assigned to @Mikvoin

[2021-09-19 10:46] #91 closed

[2021-09-19 10:46] octothorpteam opened #92 "Текст в чате"
In GitLab by @Mikvoin on Jun 20, 2021, 14:44

Пробелы есть, но отображается так, будто их нет.
- ![image](/uploads/07ae5c9e01a1d69f06d4916232aa9808/image.png)

[2021-09-19 10:46] octothorpteam commented on #92
In GitLab by @Mikvoin on Jun 20, 2021, 14:44

changed the description

[2021-09-19 10:46] #92 closed

[2021-09-19 10:46] octothorpteam opened #93 "Спавн ботов не работает"
In GitLab by @Krou on Jun 22, 2021, 16:50

**Описание:** команды !bots и !bot не работают.

[2021-09-19 10:46] #93 closed

[2021-09-19 10:46] octothorpteam opened #94 "Нельзя удалять пропы на 5 этаже в додзе"
In GitLab by @Krou on Jun 25, 2021, 11:23

**Описание:** Проп бумаги с кистью, который находится на столе в додзе, нельзя удалить. Также нельзя удалить лампы и прочее во дворике комнаты<br>
![image](/uploads/cbe49ccf1e81c944d215aab55c2d8c4a/image.png)<br>
![image](/uploads/9ea196978f5296dc6e38ae765479df55/image.png)

[2021-09-19 10:46] octothorpteam commented on #94
In GitLab by @Krou on Jun 25, 2021, 11:24

changed title from **Нельзя удал{-и-}ть проп на 5 этаже** to **Нельзя удал{+я+}ть проп{+ы+} на 5 этаже{+ в додзе+}**

[2021-09-19 10:46] octothorpteam commented on #94
In GitLab by @Mikvoin on Jul 4, 2021, 24:13

@Krou
Я могу сделать все удаляемым, но вот с лампами это немного другое, ибо это запеченное освещение, которое останется даже после удаления пропа.

[2021-09-19 10:46] octothorpteam commented on #94
In GitLab by @Mikvoin on Jul 4, 2021, 24:14

assigned to @Mikvoin

[2021-09-19 10:46] octothorpteam commented on #94
In GitLab by @Krou on Jul 5, 2021, 16:26

@Mikvoin актуально на Dev

[2021-09-19 10:46] octothorpteam commented on #94
In GitLab by @Mikvoin on Aug 5, 2021, 22:28

@Krou
Необходимо сделать так, чтобы и растительность можно было удалить или как? Пометь на скриншоте, что именно сделать удаляемым.

[2021-09-19 10:46] octothorpteam commented on #94
In GitLab by @Krou on Aug 5, 2021, 22:45

Растительность думаю не обязательно, главное - то, что на первом скриншоте. Второе желательно. Остальное не так важно

[2021-09-19 10:46] octothorpteam commented on #94
In GitLab by @Mikvoin on Aug 8, 2021, 01:23

@Krou Исправлено

[2021-09-19 10:46] #94 closed

[2021-09-19 10:46] octothorpteam opened #95 "У стримеров есть доступ к настройкам двери"
In GitLab by @Krou on Jun 25, 2021, 17:42

**Описание:** У роли "Стример" есть доступ к настройкам двери, что мешается на трансляции

[2021-09-19 10:46] octothorpteam commented on #95
In GitLab by @Mikvoin on Aug 5, 2021, 22:27

assigned to @Mikvoin

[2021-09-19 10:46] octothorpteam commented on #95
In GitLab by @Mikvoin on Aug 8, 2021, 01:27

Исправлено

[2021-09-19 10:46] #95 closed

[2021-09-19 10:46] octothorpteam opened #96 "Кастомные спрайты персонажа 10_10 и 12_1."
In GitLab by @Megu on Jun 28, 2021, 14:53

У персонажа 10_10 всегда спрайты Яске Мацуды. Сначала я думала, что такое только у меня, однако у других игроков так же встречается данная проблема, просто крайне редко. Перезаход на сервер не помогает, перезапуск игры не помогает, отписаться и подписаться на контент не помогает(пробовала 2 раза), удалить папки addons, cache, download , downloads тоже не

[2021-09-19 10:46] octothorpteam commented on #96
In GitLab by @Megu on Jun 28, 2021, 14:59

changed the description

[2021-09-19 10:47] octothorpteam commented on #96
In GitLab by @Megu on Jun 28, 2021, 14:59

changed the description

[2021-09-19 10:47] octothorpteam commented on #96
In GitLab by @Megu on Jun 28, 2021, 14:59

changed title from **Кастомные спрайты персонажа 10_10.** to **Кастомные спрайты персонажа 10_10{+ и 12_1+}.**

[2021-09-19 10:47] octothorpteam commented on #96
In GitLab by @Mikvoin on Jun 29, 2021, 10:41

assigned to @Mikvoin

[2021-09-19 10:47] octothorpteam commented on #96
In GitLab by @Mikvoin on Jun 29, 2021, 10:42

@Megu
Персонаж имел тот же айдишник, но лежал в другом аддоне. Убрал его.

[2021-09-19 10:47] #96 closed

[2021-09-19 10:47] octothorpteam opened #97 "Камера при сидении"
In GitLab by @Mikvoin on Jun 29, 2021, 10:43

Камера недостаточно низко опускается при сидении на стуле

[2021-09-19 10:47] octothorpteam commented on #97
In GitLab by @Mikvoin on Jun 29, 2021, 10:44

changed the description

[2021-09-19 10:47] #97 closed

[2021-09-19 10:47] octothorpteam opened #98 "Отключить взятие пропа на E"
In GitLab by @Mikvoin on Jun 29, 2021, 10:46

![](https://i.imgur.com/Sv8qzF7.jpeg)

[2021-09-19 10:47] octothorpteam commented on #98
In GitLab by @chelog on Jun 30, 2021, 14:42

assigned to @fin

[2021-09-19 10:47] octothorpteam commented on #98
In GitLab by @fin on Jun 30, 2021, 16:13

mentioned in commit 80e979bc48c47a4cee59ba1517bd5d890c33e1d0

[2021-09-19 10:47] #98 closed

[2021-09-19 10:47] octothorpteam opened #99 "Камера тонет в character1_13"
In GitLab by @Mikvoin on Jun 29, 2021, 10:48

![](https://i.imgur.com/9jBBNcQ.jpeg)

[2021-09-19 10:47] #99 closed

[2021-09-19 10:47] octothorpteam opened #100 "Волосы в камере у character1_15"
In GitLab by @Mikvoin on Jun 29, 2021, 10:48

![](https://i.imgur.com/tFeY8gE.png)

[2021-09-19 10:47] #100 closed

[2021-09-19 10:47] octothorpteam opened #101 "Волосы на камере у character2_5"
In GitLab by @Mikvoin on Jun 29, 2021, 10:50

[2021-09-19 10:47] #101 closed

[2021-09-19 10:47] octothorpteam opened #102 "Ошибка при "Присмотреться""
In GitLab by @Mikvoin on Jun 29, 2021, 11:16

Нажал на присмотреться и консоль начала сыпать ошибками

[code]

[2021-09-19 10:47] octothorpteam commented on #102
In GitLab by @chelog on Jun 29, 2021, 19:10

Я вчера удалил нашу систему присмотреться, ошибки не должно быть после перезапуска

[2021-09-19 10:47] #102 closed

[2021-09-19 10:47] octothorpteam opened #103 "Невозможно взять оружие"
In GitLab by @Mikvoin on Jun 29, 2021, 11:17

![](https://i.imgur.com/6qNfJWi.png)

[2021-09-19 10:48] octothorpteam commented on #103
In GitLab by @chelog on Jun 29, 2021, 19:10

Это исправится после перезапуска сервера, я это уже исправлял

[2021-09-19 10:48] #103 closed

[2021-09-19 10:48] octothorpteam opened #104 "Отключить вид от первого лица на классном суде"
In GitLab by @Mikvoin on Jun 29, 2021, 11:24

![](https://i.imgur.com/9hEOT77.jpeg)

[2021-09-19 10:48] octothorpteam commented on #104
In GitLab by @chelog on Jun 30, 2021, 14:40

Решено в 72668e472539f9d2602714de68c213b97aa1680e

[2021-09-19 10:48] #104 closed

[2021-09-19 10:48] octothorpteam opened #105 "Обыск и исследование можно делать одновременно"
In GitLab by @Mikvoin on Jun 29, 2021, 11:27

- Можно делать 2 действия одновременно
- ![](https://i.imgur.com/4nXH3rh.png)

[2021-09-19 10:48] octothorpteam commented on #105
In GitLab by @chelog on Jun 29, 2021, 19:09

Это не ошибка, так и было задумано, изменить так, чтобы можно было делать только одно действие?

[2021-09-19 10:48] octothorpteam commented on #105
In GitLab by @Mikvoin on Jun 29, 2021, 19:14

Да, лучше изменить, чтобы было что-то одно

[2021-09-19 10:48] #105 closed

[2021-09-19 10:48] octothorpteam opened #106 "Кнопка "Действия" на Q-меню не открывается"
In GitLab by @Mikvoin on Jun 29, 2021, 11:29

[code]

[2021-09-19 10:48] octothorpteam commented on #106
In GitLab by @chelog on Jun 29, 2021, 19:09

Это потому что у вас нет C-меню, чем его заменить?

[2021-09-19 10:48] octothorpteam commented on #106
In GitLab by @Mikvoin on Jun 29, 2021, 19:15

Это нужно будет отдельно обсудить

[2021-09-19 10:48] octothorpteam commented on #106
In GitLab by @fin on Jul 1, 2021, 19:10

assigned to @fin

[2021-09-19 10:48] octothorpteam commented on #106
In GitLab by @fin on Jul 1, 2021, 19:11

968c22ee7b41d6f6a990f3d4d7de69733cd85580

[2021-09-19 10:48] #106 closed

[2021-09-19 10:48] octothorpteam opened #107 "Неправильно выбраны цвета в "Материалы дела""
In GitLab by @Mikvoin on Jun 29, 2021, 11:32

![](https://i.imgur.com/MpcGPtN.png)

[2021-09-19 10:48] octothorpteam commented on #107
In GitLab by @chelog on Jun 30, 2021, 14:42

assigned to @fin

[2021-09-19 10:48] octothorpteam commented on #107
In GitLab by @fin on Jun 30, 2021, 19:26

mentioned in commit 801dd356506caf758dd75e55a0d8cc81895fe0be

[2021-09-19 10:48] #107 closed

[2021-09-19 10:48] octothorpteam opened #108 "После перезахода нет инвентаря"
In GitLab by @Mikvoin on Jun 29, 2021, 17:08

![](https://i.imgur.com/VVldOr2.jpeg)

[2021-09-19 10:48] octothorpteam commented on #108
In GitLab by @chelog on Jun 29, 2021, 19:08

Имеется в виду, когда персонаж уже в игре и его восстанавливает в игру после перезахода?

[2021-09-19 10:48] octothorpteam commented on #108
In GitLab by @Mikvoin on Jun 30, 2021, 24:44

Да

[2021-09-19 10:49] octothorpteam commented on #108
In GitLab by @chelog on Jun 30, 2021, 14:43

assigned to @chelog

[2021-09-19 10:49] #108 closed

[2021-09-19 10:49] octothorpteam opened #109 "Пропал предмет с рук"
In GitLab by @Mikvoin on Jun 29, 2021, 17:17

Если у тебя в руках тяжелый предмет и ты меняешь "Руки" на "Physgun", то он пропадает.

[2021-09-19 10:49] octothorpteam commented on #109
In GitLab by @chelog on Jun 30, 2021, 14:43

assigned to @chelog

[2021-09-19 10:49] #109 closed

[2021-09-19 10:49] octothorpteam opened #110 "Баг с приседанием в прыжке"
In GitLab by @Krou on Jun 29, 2021, 17:23

**Описание:** Прыжок и приседание некоректно отображается через новую камеру как со стороны, так и от лица игрока.<br>
Однако со старой камерой (физган в руке) у игрока отображается нормально, а со стороны все также неправильно<br>
**Видео:** https://youtu.be/w__4Cuijsgg

[2021-09-19 10:49] octothorpteam commented on #110
In GitLab by @chelog on Jun 29, 2021, 19:04

Новый вид устанавливает камеру в настоящее положение головы. Со стороны все приседания в прыжке так выглядят, так что, к сожалению, с этим ничего не сделать, потому что этот вид как раз и основан на том, чтобы показывать реальное тело игрока, а не искусственное, как это было раньше

[2021-09-19 10:49] #110 closed

[2021-09-19 10:49] octothorpteam opened #111 "Баги с новой камерой на персонажах"
In GitLab by @Krou on Jun 29, 2021, 18:15

https://imgur.com/a/1CUKAiO
<br>
Об этом написано на imgur, но отдельно хочу отметить, что когда character3_16 садится, он ничего не видит

[2021-09-19 10:49] octothorpteam commented on #111
In GitLab by @chelog on Jun 29, 2021, 19:06

Для этого будет написан отдельный редактор, позволяющий немного изменить положение камеры и настроить кости, которые также должны прятаться наряду с головой. Я настроил пока что только Мондо, там тоже такие проблемы были. Закрою тикет, когда сделаю редактор

[2021-09-19 10:49] #111 closed

[2021-09-19 10:49] octothorpteam opened #112 "Баг с bodyground"
In GitLab by @Krou on Jun 29, 2021, 18:22

**Описание:** Когда ты изменяешь bodyground на персонаже (Easy Bodyground Tool) и затем меняешь персонажа, то на нем сбитые настройки bodyground<br>
**Видео:** https://youtu.be/0ghLpKbEwF8
<br>
<br>
**Примечание:** Актуально на Main сервере

[2021-09-19 10:49] octothorpteam commented on #112
In GitLab by @Krou on Jun 29, 2021, 18:25

changed the description

[2021-09-19 10:49] octothorpteam commented on #112
In GitLab by @chelog on Jun 29, 2021, 19:07

Сбрасывать бодигрупы при смене персонажа? Сделаем :thumbsup:

[2021-09-19 10:49] #112 closed

[2021-09-19 10:49] octothorpteam opened #113 "TFA меню на C и выбивание дверей дробовиком"
In GitLab by @Mikvoin on Jun 30, 2021, 24:49

- Если взять оружие и нажать на C, то откроется меню TFA с хар-ками оружия
- Если взять дробовик и выстрелить в дверь, то она слетит с петель.

[2021-09-19 10:49] octothorpteam commented on #113
In GitLab by @Mikvoin on Jun 30, 2021, 24:50

changed the description

[2021-09-19 10:49] octothorpteam commented on #113
In GitLab by @fin on Jul 1, 2021, 17:54

assigned to @fin

[2021-09-19 10:49] octothorpteam commented on #113
In GitLab by @fin on Jul 1, 2021, 19:07

mentioned in commit fa9463ef7c1851e43ed112a86f625505bc6b74a8

[2021-09-19 10:49] #113 closed

[2021-09-19 10:49] octothorpteam opened #114 "Меню инвентаря не пропадает при клике на Q"
In GitLab by @Krou on Jun 30, 2021, 07:35

Инвентарь остается поверх экрана, если единыжды нажать Q, а не зажать (Меню персонажа в таком случае отсутствует)<br>
![image](/uploads/acd62b5eb9482acf7b548da5af8f406c/image.png)

[2021-09-19 10:49] octothorpteam commented on #114
In GitLab by @chelog on Jun 30, 2021, 08:59

Как лучше сделать: чтобы оставалось и меню персонажа, или скрывать инвентарь тоже? У нас это сделано специально, если хочется долго копаться в инвентаре, а держать все время неудобно

[2021-09-19 10:50] #114 closed

[2021-09-19 10:50] octothorpteam opened #115 "Кайто не по центру в Q-меню"
In GitLab by @Krou on Jul 1, 2021, 12:50

Очевидно, это из-за рукава слева. Если возможно, то стоит либо влево подвинуть центр спрайта, либо справа пустое пространство добавить, чтобы картинка сместилась
![image](/uploads/129618ba2ed0b10f7015f30015162818/image.png)

[2021-09-19 10:50] octothorpteam commented on #115
In GitLab by @fin on Jul 1, 2021, 19:18

Проблема в спрайте, у нас все рассчитывается одинаково для всех

[2021-09-19 10:50] octothorpteam commented on #115
In GitLab by @Mikvoin on Jul 4, 2021, 24:11

assigned to @Mikvoin

[2021-09-19 10:50] #115 closed

[2021-09-19 10:50] octothorpteam opened #116 "Пропы падают через текстуры карты (01.07.21) - ОБТ №217"
In GitLab by @Krou on Jul 1, 2021, 21:20

Все пропы падают через пол когда их спавнишь

[2021-09-19 10:50] octothorpteam opened #117 "Ошибка при использовании auth_allowentry"
In GitLab by @Mikvoin on Jul 3, 2021, 11:01

![](https://i.imgur.com/Wuo2SSG.png)

[2021-09-19 10:50] #117 closed

[2021-09-19 10:50] octothorpteam opened #118 "Баг с анимацией"
In GitLab by @Stalker on Jul 3, 2021, 11:43

В какой-то момент произошёл анимационный баг, из-за которого персонаж постоянно двигался вприсяди. Т.е. игрок на персонаже видел всё нормально и передвигался шагом/бегом, но у кого-нибудь это выглядит так, будто персонаж передвигается на корточках (при этом скорость и хитбоксы сохраняются)

[2021-09-19 10:50] octothorpteam opened #119 "Не отображается имя в octolib_data camera"
In GitLab by @Mikvoin on Jul 4, 2021, 24:11

Не отображается имя
- ![](https://i.imgur.com/T2mMWoF.png)

[2021-09-19 10:50] octothorpteam commented on #119
In GitLab by @Mikvoin on Jul 4, 2021, 24:11

changed the description

[2021-09-19 10:50] #119 closed

[2021-09-19 10:50] octothorpteam opened #120 "Неправильное отображение поверхностей в спортзале через новую камеру"
In GitLab by @Krou on Jul 5, 2021, 16:13

Часть стен неправильно отображается через новую камеру, а также со старой, но в ноуклипе<br>
![image](/uploads/eb499af3903919de2ebc5b556192feda/image.png)<br>
https://youtu.be/ckTMWyvueuY

[2021-09-19 10:50] octothorpteam commented on #120
In GitLab by @Mikvoin on Jul 5, 2021, 22:59

assigned to @Mikvoin

[2021-09-19 10:50] #120 closed

[2021-09-19 10:50] octothorpteam opened #121 "Игроки в лобби спавнятся в полу"
In GitLab by @Krou on Jul 5, 2021, 17:22

Игроки при заходе спавнятся в текстурах, а также ничего не видят, пока не выберутся
![image](/uploads/6c1b7b9ed9e52028991f41ea89016f17/image.png)

[2021-09-19 10:50] #121 closed

[2021-09-19 10:50] octothorpteam opened #122 "Окна на 2 этаж общежития открываются при открытии садов"
In GitLab by @Krou on Jul 6, 2021, 03:39

Окна на 2 этаж общежития открываются при открытии садов, из-за чего игроки, подсадив друг друга, к примеру, могут запрыгнуть туда. Актуально на DEV сервере. Это не совсем баг, но, думаю, это не должно работать так

[2021-09-19 10:50] octothorpteam commented on #122
In GitLab by @Mikvoin on Aug 5, 2021, 22:27

assigned to @Mikvoin

[2021-09-19 10:50] octothorpteam opened #123 "На DEV сервер доступ по умолчанию есть только у "Руководство""
In GitLab by @Krou on Jul 6, 2021, 20:36

На DEV сервер доступ по умолчанию есть только у людей с самым высоким рангом, "Руководство".

[2021-09-19 10:50] #123 closed

[2021-09-19 10:50] octothorpteam opened #124 "Дверь на новой карте"
In GitLab by @Adagium on Jul 7, 2021, 16:20

![pLA_2qkSzUk](/uploads/affb77765a402e55d1c376fd1582e4fd/pLA_2qkSzUk.jpg)

При открытии нет текстуры с одной стороны двери. Дверь находится в раздевалках на втором этаже общежития.

[2021-09-19 10:51] octothorpteam commented on #124
In GitLab by @Mikvoin on Jul 29, 2021, 05:50

assigned to @Mikvoin

[2021-09-19 10:51] #124 closed

[2021-09-19 10:51] octothorpteam opened #125 "Ошибка при настройке классного суда map_editor"
In GitLab by @Mikvoin on Jul 8, 2021, 23:13

1. Создал лобби
2. Настроил позиции игроков на классном суде и радиусы
3. При нажатии на кнопку: "Обновить" появляется ошибка.
[code]

[2021-09-19 10:51] octothorpteam commented on #125
In GitLab by @chelog on Jul 9, 2021, 18:20

Надо открывать редактир через `map_editor`

[2021-09-19 10:51] #125 closed

[2021-09-19 10:51] octothorpteam opened #126 "Нельзя нажать на центр классного суда"
In GitLab by @Mikvoin on Jul 8, 2021, 23:14

[code]

[2021-09-19 10:51] octothorpteam commented on #126
In GitLab by @fin on Jul 9, 2021, 18:39

Исправлено в 6564bf3a231ca42c3ce1f27ab1d86ea37250c289

[2021-09-19 10:51] #126 closed

[2021-09-19 10:51] octothorpteam opened #127 "Недоработка на новой карте"
In GitLab by @Huehubr on Jul 9, 2021, 11:24

Новые ворота нового прохода на втором этаже проходят сквозь потолок, из-за чего, вылазят на третьем этаже

![20210707202553_1](/uploads/f8c5a28fed2045bf15088fb34eccc803/20210707202553_1.jpg)

![20210707202559_1](/uploads/67aafb8c271f47264d8c9c0a44dd77bc/20210707202559_1.jpg)

[2021-09-19 10:51] octothorpteam opened #128 "Суд не работает после очистки карты"
In GitLab by @Krou on Jul 10, 2021, 22:05

Я случайно удалил трибуны, так что очистил карту для их восстановления. После этого игроки не перешли в систему спрайтов и ходили 3D-модельками: <br>
https://youtu.be/RVQ6kF8ASn0?t=26450

[2021-09-19 10:51] octothorpteam opened #129 "При открытии садов открылся лишь один, у столовой. Второй, внутренний - нет"
In GitLab by @Krou on Jul 10, 2021, 22:12

При открытии садов открылся лишь один, у столовой. Второй, внутренний - нет.<br>
Причина полностью мне не известна, возможно я случайно, нажав ПКМ, руками закрыл ворота.

[2021-09-19 10:51] octothorpteam commented on #129
In GitLab by @Mikvoin on Aug 5, 2021, 22:27

assigned to @Mikvoin

[2021-09-19 10:51] octothorpteam commented on #129
In GitLab by @Mikvoin on Aug 26, 2021, 12:05

Больше не актуально.

[2021-09-19 10:51] #129 closed

[2021-09-19 10:51] octothorpteam opened #130 "Баг команды инкогнито"
In GitLab by @Adagium on Jul 12, 2021, 16:14

При использовании команды инкогнито лидером (роль "лидерство") - игрок не может вернуть себе роль. Помогает только перезаход. Не могу быть уверен, что у других ролей с командой инкогнито нет такого же бага.

[2021-09-19 10:51] octothorpteam opened #131 "Неправильно отображается эмоция "Spooky" у Кокичи Омы"
In GitLab by @Krou on Jul 24, 2021, 12:46

Не помню точно, как выглядела эмоция, но была действительно "страшной". Сейчас вместо Spooky у Кокичи это:<br>
![image](/uploads/42a27b9be1126c9dbbd60d226762e82e/image.png)

[2021-09-19 10:51] octothorpteam opened #132 "Нельзя встать с кровати на DEV сервере"
In GitLab by @Krou on Jul 26, 2021, 15:31

Игрок, когда ложится на кровать, не может проснуться. Даже смерть его не спасает, после нее у игрока черный экран.
![image](/uploads/28ddee837c72fbc7424a2872baae5f8d/image.png)

[2021-09-19 10:51] octothorpteam commented on #132
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 3f8b5a4048865fe68aff90bd16fa7d8bf8f5bcd0

[2021-09-19 10:51] #132 closed

[2021-09-19 10:51] octothorpteam opened #133 "Когда ешь еду, голод уменьшается, либо не меняется."
In GitLab by @Engie on Jul 27, 2021, 12:53

После того, как я нашёл на карте ранее приготовленную еду (еда была приготовлена другим игроком) и решил её съесть, мой голод наоборот стал меньше (стат упал), а также иногда при поедании других блюд статы вообще не менялись.

[2021-09-19 10:51] octothorpteam commented on #133
In GitLab by @chelog on Aug 3, 2021, 21:20

Не получилось повторить, да и по коду вижу, что такое не может происходить. Возможно, кто-то создал еду с неправильными значениями через редактор

[2021-09-19 10:52] #133 closed

[2021-09-19 10:52] octothorpteam opened #134 "Черный экран во время наблюдения на сервере DEV"
In GitLab by @HOLLYSHEAT on Jul 27, 2021, 12:55

[2021-09-19 10:52] octothorpteam commented on #134
In GitLab by @HOLLYSHEAT on Jul 27, 2021, 12:55

assigned to @HOLLYSHEAT

[2021-09-19 10:52] octothorpteam commented on #134
In GitLab by @chelog on Aug 3, 2021, 21:14

assigned to @chelog and unassigned @HOLLYSHEAT

[2021-09-19 10:52] octothorpteam commented on #134
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit d67a835b0405ee15f1e80909473138e7a3aa88e6

[2021-09-19 10:52] #134 closed

[2021-09-19 10:52] octothorpteam opened #135 "При "соприкосновении" с объектами экран становится чёрным."
In GitLab by @Engie on Jul 27, 2021, 12:55

В случае, если игрок вплотную подходит к объекту или другому игроку, экран становится полностью чёрным.

[2021-09-19 10:52] octothorpteam commented on #135
In GitLab by @chelog on Aug 3, 2021, 21:46

Я отвечал в #116

[2021-09-19 10:52] #135 closed

[2021-09-19 10:52] octothorpteam opened #136 "После закрытия меню с рецептами иконка "стекло" не исчезала."
In GitLab by @Engie on Jul 27, 2021, 13:00

После открытия меню с рецептами (прошу прощения, забыл как оно называется) и перехода во вкладку материалы у меня не исчезала иконка с материалом "стекло".

[2021-09-19 10:52] octothorpteam commented on #136
In GitLab by @chelog on Aug 3, 2021, 21:17

Такое изредко бывает, когда закрываешь окно при наведеннии на иконку. Помогает повторное наведение на нее же

[2021-09-19 10:52] #136 closed

[2021-09-19 10:52] octothorpteam opened #137 "Проблемы с камерой (dev сервер)"
In GitLab by @goldflame on Jul 27, 2021, 13:25

перечень таков: <br>
1) если присесть перед каким-либо объектом – камера потемнеет, наверняка потому что уходит в него; <br>
2) если подпрыгнуть и присесть – камера может упереться в потолок и снова потемнеть; <br>
3) если держать огнестрельное оружие, то видно, что руки слишком вытянуты от камеры, с оружия нельзя целиться на ПКМ.

[2021-09-19 10:52] octothorpteam commented on #137
In GitLab by @chelog on Aug 3, 2021, 20:53

1. Так и должно быть, сделано, чтобы игрок не мог смотреть сквозь предметы и стены, так как модель игрока не полностью соответствует оригинальному положению камеры и иногда может входить в стену
2. Это особенности движка Source, с этим ничего нельзя сделать, к сожалению
3. Из-за того, что мы рисуем "настоящее" тело персонажа, мы не можем использовать "ви

[2021-09-19 10:52] #137 closed

[2021-09-19 10:52] octothorpteam opened #138 "Баги с рецептами"
In GitLab by @Krou on Jul 27, 2021, 17:09

- Блины не готовятся, так как яйца и масло (ингредиенты блинов) готовятся в яичницу<br>
- Пицца Пепперони - У одного человека была Error, у остальных норм<br>
- Пицца Маргарита - Всё скрафтилось, но вместо модельки пиццы выдалась моделька китайской еды<br>
- Нельзя приготовить: Какао, Экспессо<br>
- Модель варенного риса у всех Error

[2021-09-19 10:52] octothorpteam commented on #138
In GitLab by @chelog on Aug 3, 2021, 21:07

Это были старые рецепты из Доброграда. Уже удалены

[2021-09-19 10:52] #138 closed

[2021-09-19 10:52] octothorpteam opened #139 "Обычные игроки удаляют пропы через контекст-меню"
In GitLab by @Mikvoin on Jul 29, 2021, 05:51

[2021-09-19 10:52] octothorpteam commented on #139
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit c5ec1a416f9971a31b8dd630533119a88d8abd1e

[2021-09-19 10:52] #139 closed

[2021-09-19 10:52] octothorpteam opened #140 "Админ-тул выпадает как предмет"
In GitLab by @Mikvoin on Jul 29, 2021, 05:52

[2021-09-19 10:53] octothorpteam commented on #140
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 939e9704b70df818791417d85994799f9eb4cfe3

[2021-09-19 10:53] #140 closed

[2021-09-19 10:53] octothorpteam opened #141 "Админы не могут делать постоянными предметы"
In GitLab by @Mikvoin on Jul 29, 2021, 05:52

[2021-09-19 10:53] octothorpteam commented on #141
In GitLab by @chelog on Jul 31, 2021, 14:57

Нужно выдать рангу привилегию `Edit Permaprops`

[2021-09-19 10:53] #141 closed

[2021-09-19 10:53] octothorpteam opened #142 "Звук закрытия и открытия дверей"
In GitLab by @Mikvoin on Jul 29, 2021, 05:53

Должен воспроизводиться в процессе, а не после него

[2021-09-19 10:53] octothorpteam commented on #142
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 3cf4cecb7a9d3d16d32d604179b02ffe42daee12

[2021-09-19 10:53] #142 closed

[2021-09-19 10:53] octothorpteam opened #143 "Ослабить чувствительность для иконки стейта"
In GitLab by @Mikvoin on Jul 29, 2021, 05:53

[2021-09-19 10:53] octothorpteam commented on #143
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit b455e1817fc333ea1cc1160e2c5faea4ab1fcc3c

[2021-09-19 10:53] #143 closed

[2021-09-19 10:53] octothorpteam opened #144 "Нет иконки для стейта"
In GitLab by @Mikvoin on Jul 29, 2021, 05:54

![](https://trello-attachments.s3.amazonaws.com/60f855c07ff3d446a314d17e/504x449/85a373ae9a57765a4cc6249ff5e88e93/image.png)

[2021-09-19 10:53] octothorpteam commented on #144
In GitLab by @chelog on Aug 3, 2021, 21:14

assigned to @fin

[2021-09-19 10:53] #144 closed

[2021-09-19 10:53] octothorpteam opened #145 "Отключить худ и чат во время голосования"
In GitLab by @Mikvoin on Jul 29, 2021, 05:54

[2021-09-19 10:53] octothorpteam commented on #145
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 4b7647ca4694ca8aa378a5763ecea10c3345e43d

[2021-09-19 10:53] #145 closed

[2021-09-19 10:53] octothorpteam opened #146 "Линия перетаскивания предмета не обрывается"
In GitLab by @Mikvoin on Jul 29, 2021, 05:54

![](https://trello-attachments.s3.amazonaws.com/60f8564f23d32d7020dff0ca/600x338/7b48884e0ca7f90316dc4460d868d438/KUtvXrO.jpeg.jpg)

[2021-09-19 10:53] octothorpteam commented on #146
In GitLab by @Mikvoin on Jul 29, 2021, 05:55

changed title from **Линия перетаскивания не обрывается** to **Линия перетаскивания {+предмета +}не обрывается**

[2021-09-19 10:53] octothorpteam commented on #146
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 2d89bd1034e52d1581f0782fd1b90bfbb6858a81

[2021-09-19 10:53] #146 closed

[2021-09-19 10:53] octothorpteam opened #147 "Не работает "присмотреться" для контейнеров"
In GitLab by @Mikvoin on Jul 29, 2021, 05:55

[2021-09-19 10:54] octothorpteam commented on #147
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit b73352ac0aebca8d48df19eaada936aac0b4d2e3

[2021-09-19 10:54] #147 closed

[2021-09-19 10:54] octothorpteam opened #148 "Худ перекрывает сонливость"
In GitLab by @Mikvoin on Jul 29, 2021, 05:56

Если при эффектах сонливости включать худ на Q, то таким образом можно избежать эффектов.

[2021-09-19 10:54] octothorpteam commented on #148
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 78f23d6a7e0c7bac7e8152ac51127a542c4fb16d

[2021-09-19 10:54] #148 closed

[2021-09-19 10:54] octothorpteam opened #149 ""Анимации на месте" только для добродеев"
In GitLab by @Mikvoin on Jul 29, 2021, 05:56

[2021-09-19 10:54] octothorpteam commented on #149
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 947eeab0d4cfae12153f6de5cc4660d77cdbe937

[2021-09-19 10:54] #149 closed

[2021-09-19 10:54] octothorpteam opened #150 "Ноклип после классного суда"
In GitLab by @Mikvoin on Jul 29, 2021, 05:56

![](https://i.imgur.com/Z6FulLE.jpeg)

[2021-09-19 10:54] octothorpteam commented on #150
In GitLab by @Mikvoin on Jul 29, 2021, 05:56

changed the description

[2021-09-19 10:54] octothorpteam commented on #150
In GitLab by @Mikvoin on Jul 29, 2021, 05:57

changed the description

[2021-09-19 10:54] octothorpteam commented on #150
In GitLab by @chelog on Aug 3, 2021, 21:14

assigned to @fin

[2021-09-19 10:54] octothorpteam commented on #150
In GitLab by @chelog on Aug 3, 2021, 21:43

assigned to @chelog and unassigned @fin

[2021-09-19 10:54] octothorpteam commented on #150
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit b06265140c4922db51bd997313754b5ea48de381

[2021-09-19 10:54] #150 closed

[2021-09-19 10:54] octothorpteam opened #151 "Невозможность взять предмет в воздухе"
In GitLab by @Mikvoin on Jul 29, 2021, 05:57

Если игрок1 держит проп в воздухе, а игрок2 хочет его оттащить или забрать, то у него это не получится

[2021-09-19 10:54] octothorpteam commented on #151
In GitLab by @chelog on Jul 31, 2021, 16:31

Можно, проверили, скорей всего, вы не можете навестись на проп, пробуйте целиться чуть выше, ведь прицел идет не прямо из глаз

[2021-09-19 10:54] #151 closed

[2021-09-19 10:54] octothorpteam opened #152 "Название улик не полное"
In GitLab by @Mikvoin on Jul 29, 2021, 05:58

![](https://i.imgur.com/G7RwArL.png)
Расширить название улик

[2021-09-19 10:54] octothorpteam commented on #152
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 30f636bc68b6fa10c511dfcbf4e41a45facfa8d1

[2021-09-19 10:54] #152 closed

[2021-09-19 10:54] octothorpteam opened #153 "Пишется использование команды в чате"
In GitLab by @Mikvoin on Jul 29, 2021, 05:59

[2021-09-19 10:55] octothorpteam commented on #153
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit b803eeb8ddc9b4daea6c6a27d8597c785d485c82

[2021-09-19 10:55] #153 closed

[2021-09-19 10:55] octothorpteam opened #154 "Поменять цвет фона у иконок на G"
In GitLab by @Mikvoin on Jul 29, 2021, 06:00

![](https://i.imgur.com/7YMzXmM.png)

[2021-09-19 10:55] octothorpteam commented on #154
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit b6196bb15a557a28adb4073031c52216b0e6d1bc

[2021-09-19 10:55] #154 closed

[2021-09-19 10:55] octothorpteam opened #155 "Появление игрока после смерти"
In GitLab by @Mikvoin on Jul 29, 2021, 06:01

Необходимо сделать автоматическое появление через некоторое время и убрать появление по кнопке.

[2021-09-19 10:55] octothorpteam commented on #155
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 8fe1cdaa2b1321921761b3ee98d7e0532099d1a3

[2021-09-19 10:55] #155 closed

[2021-09-19 10:55] octothorpteam opened #156 "Невозможно показать руки игроку"
In GitLab by @Mikvoin on Jul 29, 2021, 07:00

Сделать колесо взаимодействия и добавить туда 2 действия:
- Показать руки
- Обыскать

[2021-09-19 10:55] #156 closed

[2021-09-19 10:55] octothorpteam opened #157 "Дверь в классе 2-B открывается внутрь стены"
In GitLab by @Krou on Jul 29, 2021, 11:13

Самая левая дверь в классе 2-B открывается внутрь стены
![image](/uploads/43e22faceace3843751a3e003f036de0/image.png)

[2021-09-19 10:55] octothorpteam commented on #157
In GitLab by @Mikvoin on Aug 3, 2021, 06:04

assigned to @Mikvoin

[2021-09-19 10:55] #157 closed

[2021-09-19 10:55] octothorpteam opened #158 "Сообщение о CSS-контенте"
In GitLab by @Mikvoin on Jul 29, 2021, 12:53

![image](/uploads/de0af589383d66317a8c989a5706fe44/image.png)

[2021-09-19 10:55] octothorpteam commented on #158
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 7db46aa960fe1aef6068bcc8e8208f9aa7381cdf

[2021-09-19 10:55] #158 closed

[2021-09-19 10:55] octothorpteam opened #159 "Двери в комнату казни на новой карте работает некорректно"
In GitLab by @Anal_Ninja on Jul 29, 2021, 21:52

Двустворчатая дверь, ведущая в комнату казни, при нажатии кнопки в кабинке открывается не полностью(Открывается только одна дверца, а не две сразу)
![20210729213332_1](/uploads/7985b3468a98da6e86e208011131d432/20210729213332_1.jpg)

[2021-09-19 10:55] #159 closed

[2021-09-19 10:55] octothorpteam opened #160 "Браузер звуков"
In GitLab by @7-th_sky on Jul 30, 2021, 18:31

Браузер звуков в инструменте "Осмотреть" не открывается ![изображение_2021-07-30_183122](/uploads/3d3f2cb7a47af30721d8a1c4e2b77328/изображение_2021-07-30_183122.png)

[2021-09-19 10:55] octothorpteam commented on #160
In GitLab by @chelog on Aug 3, 2021, 21:13

assigned to @fin

[2021-09-19 10:55] octothorpteam commented on #160
In GitLab by @chelog on Aug 3, 2021, 21:41

assigned to @chelog and unassigned @fin

[2021-09-19 10:55] octothorpteam commented on #160
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit cfe0747789618397829295e2bb2fed221740698c

[2021-09-19 10:55] #160 closed

[2021-09-19 10:56] octothorpteam opened #161 "Яищница и плита"
In GitLab by @7-th_sky on Aug 2, 2021, 21:24

Невозможно приготовить яищницу, пока не включишь духовку
![image](/uploads/11bc59a584aaa02628ef1a96521ac453/image.png)

[2021-09-19 10:56] octothorpteam commented on #161
In GitLab by @7-th_sky on Aug 2, 2021, 21:24

changed the description

[2021-09-19 10:56] octothorpteam commented on #161
In GitLab by @7-th_sky on Aug 3, 2021, 19:02

changed the description

[2021-09-19 10:56] octothorpteam commented on #161
In GitLab by @chelog on Aug 3, 2021, 19:41

Плита обычно подразумевалась как место для крафта, а духовка - для процессов. Перемещу кнопку на плиту, включение запускает все контейнеры энтити, по отдельности нельзя включать

[2021-09-19 10:56] octothorpteam commented on #161
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 5806a87308e7f223df1622ccefd3c5ec820f0e3a

[2021-09-19 10:56] #161 closed

[2021-09-19 10:56] octothorpteam opened #162 "Мондо лагает"
In GitLab by @Klank on Aug 2, 2021, 21:39

Когда Мондо движется он лагает https://youtu.be/Pui96bq61gM

[2021-09-19 10:56] octothorpteam commented on #162
In GitLab by @Klank on Aug 2, 2021, 21:39

assigned to @Klank

[2021-09-19 10:56] octothorpteam commented on #162
In GitLab by @Klank on Aug 2, 2021, 21:53

changed the description

[2021-09-19 10:56] octothorpteam commented on #162
In GitLab by @Mikvoin on Aug 2, 2021, 23:42

unassigned @Klank

[2021-09-19 10:56] octothorpteam commented on #162
In GitLab by @Krou on Aug 3, 2021, 23:19

Проблема вероятно связана с тем, что его тело одевалось через инструмент Easy Bonemerge Tool

[2021-09-19 10:56] #162 closed

[2021-09-19 10:56] octothorpteam opened #163 "Отсутствие возможности сжечь новые предметы"
In GitLab by @Chisachisa on Aug 2, 2021, 21:39

Если взять предметы из инвентаря, достать их и поднести к мусоросжигателю, то сжечь их все равно нельзя.

[2021-09-19 10:56] octothorpteam commented on #163
In GitLab by @Chisachisa on Aug 2, 2021, 21:39

assigned to @Chisachisa

[2021-09-19 10:56] #163 closed

[2021-09-19 10:56] octothorpteam opened #164 "Проп застрял в текстуре"
In GitLab by @Klank on Aug 2, 2021, 21:40

Очки застряли в текстуре https://youtu.be/D4WrJCemJ30

[2021-09-19 10:56] octothorpteam commented on #164
In GitLab by @Klank on Aug 2, 2021, 21:40

assigned to @Klank

[2021-09-19 10:56] octothorpteam commented on #164
In GitLab by @Klank on Aug 2, 2021, 21:56

changed the description

[2021-09-19 10:56] octothorpteam opened #165 "Музыка перестала работать"
In GitLab by @Mikvoin on Aug 2, 2021, 21:42

Музыка перестала работать
[code]

[2021-09-19 10:56] octothorpteam commented on #165
In GitLab by @fin on Aug 2, 2021, 21:48

Исправил в 5a0417c50009b0c0bd8721212fbd4c45e7b60dfe

[2021-09-19 10:56] #165 closed

[2021-09-19 10:56] octothorpteam opened #166 "Проблемы с моделькой Киётаки Ишимару"
In GitLab by @Chisachisa on Aug 2, 2021, 21:51

Во время движения головой Киётаки - видно часть его ?эмоций?![изображение_2021-08-02_214859](/uploads/53aa68d6447a7a302681445cb61e797e/изображение_2021-08-02_214859.png)![шгешгншгнш](/uploads/b533ed397f75603a5eebed58e51ed132/шгешгншгнш.PNG)

[2021-09-19 10:57] octothorpteam commented on #166
In GitLab by @Chisachisa on Aug 2, 2021, 21:51

assigned to @Chisachisa

[2021-09-19 10:57] octothorpteam commented on #166
In GitLab by @Krou on Aug 3, 2021, 23:15

Проблема вероятно связана с тем, что его тело одевалось через инструмент Easy Bonemerge Tool

[2021-09-19 10:57] #166 closed

[2021-09-19 10:57] octothorpteam opened #167 "Немного неестественное поведение моделек"
In GitLab by @7-th_sky on Aug 2, 2021, 22:01

На всех очкастых персонажах (кроме Бьякуи) очки двигаются позже модельки. Так же заметил, что иногда у модельки Токо трясётся лицо и косички, когда та двигается https://www.youtube.com/watch?v=RAaDpb33t5Y

[2021-09-19 10:57] octothorpteam commented on #167
In GitLab by @Krou on Aug 3, 2021, 23:17

@7-th_sky можешь уточнить что значит "На всех очкастых персонажах (кроме Бьякуи)"? У Хифуми при проверке я не нашел такой проблемы

[2021-09-19 10:57] octothorpteam commented on #167
In GitLab by @Krou on Aug 3, 2021, 23:18

Проблема вероятно связана с тем, что тело Токо одевалось через инструмент Easy Bonemerge Tool

[2021-09-19 10:57] octothorpteam commented on #167
In GitLab by @7-th_sky on Aug 4, 2021, 24:12

Мне сообщили, что такое у всех персонажей в очках. Видимо, это видно не у всех

[2021-09-19 10:57] #167 closed

[2021-09-19 10:57] octothorpteam opened #168 "Прицел сбивается с центра экрана после смерти и возрождения"
In GitLab by @NeverLucky21 on Aug 2, 2021, 22:23

После возрождения прицел сбился с центра экрана. Возможный фикс - перезаход.

![изображение_2021-08-02_222223](/uploads/95834b9fddefa9897a88b597826141f8/изображение_2021-08-02_222223.png)

[2021-09-19 10:57] octothorpteam commented on #168
In GitLab by @chelog on Aug 3, 2021, 21:15

assigned to @chelog

[2021-09-19 10:57] octothorpteam commented on #168
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 38d3bc72f99105b179f7ec90baf317b02e81f9e3

[2021-09-19 10:57] #168 closed

[2021-09-19 10:57] octothorpteam opened #169 "Элементы одежды Токо и Мондо видно через стену с буфета на кухню"
In GitLab by @NeverLucky21 on Aug 2, 2021, 22:29

Title

![image](/uploads/36a678a768312d5859993b602459080b/image.png)

[2021-09-19 10:57] octothorpteam commented on #169
In GitLab by @Krou on Aug 3, 2021, 23:14

Проблема связана с тем, что их тела одевались через инструмент Easy Bonemerge Tool

[2021-09-19 10:57] octothorpteam commented on #169
In GitLab by @Mikvoin on Aug 5, 2021, 22:26

assigned to @Mikvoin

[2021-09-19 10:57] octothorpteam opened #170 "Во время сна нельзя встать"
In GitLab by @NeverLucky21 on Aug 2, 2021, 22:31

Всё застывает во время сна.

![image](/uploads/92eb45de2d73c9535db3a5fe854e2e82/image.png)

[2021-09-19 10:57] octothorpteam commented on #170
In GitLab by @Krou on Aug 3, 2021, 10:56

[Тема с данным багом](https://code.octo.gg/dro/gmod/-/issues/111) уже существует

[2021-09-19 10:57] #170 closed

[2021-09-19 10:57] octothorpteam opened #171 "Очень быстрая приготовка тоста"
In GitLab by @Klank on Aug 2, 2021, 22:52

Тост был очень быстро приготовлен https://youtu.be/K6rYLMl2XoE

[2021-09-19 10:57] octothorpteam commented on #171
In GitLab by @Klank on Aug 2, 2021, 22:52

assigned to @Klank

[2021-09-19 10:57] octothorpteam commented on #171
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 5bc051223bc53ff7ef4f53764bd32562b323ee56

[2021-09-19 10:57] #171 closed

[2021-09-19 10:58] octothorpteam opened #172 "Быстрое кипячение воды"
In GitLab by @Klank on Aug 2, 2021, 22:53

Вода быстро вскипятилась https://youtu.be/eEupOGVwkS0

[2021-09-19 10:58] octothorpteam commented on #172
In GitLab by @Klank on Aug 2, 2021, 22:54

changed title from **Быстрое {-приготовление тоста-}** to **Быстрое {+кипячение воды+}**

[2021-09-19 10:58] octothorpteam commented on #172
In GitLab by @Klank on Aug 2, 2021, 22:54

changed the description

[2021-09-19 10:58] octothorpteam commented on #172
In GitLab by @chelog on Aug 3, 2021, 21:14

Исправлено в 5bc051223bc53ff7ef4f53764bd32562b323ee56

[2021-09-19 10:58] #172 closed

[2021-09-19 10:58] octothorpteam opened #173 "Дверь на втором этаже общежития не открывается"
In GitLab by @SkittleS on Aug 2, 2021, 23:06

Одна из дверей на втором этаже общежития почему-то закрыта. Открыть её можно только выламыванием. Уточняя её местоположение, она является одной из тех четырёх дверей, находящихся примерно у входа, а точнее, первая дверь справа(обведена красной линией на скриншоте)![Inkeddro_hopespeak_3006210000_LI](/uploads/a606685027a3c9f64a8b0fb28db98b16/Inkeddro_hop

[2021-09-19 10:58] octothorpteam commented on #173
In GitLab by @Mikvoin on Aug 2, 2021, 23:19

@SkittleS, в следующий раз, постарайся оставить скриншот или хотя бы координаты

[2021-09-19 10:58] octothorpteam commented on #173
In GitLab by @SkittleS on Aug 2, 2021, 23:47

changed the description

[2021-09-19 10:58] octothorpteam commented on #173
In GitLab by @SkittleS on Aug 2, 2021, 23:49

Ах да, прощу прощения, исправил

[2021-09-19 10:58] octothorpteam commented on #173
In GitLab by @SkittleS on Aug 3, 2021, 21:42

changed the description

[2021-09-19 10:58] octothorpteam commented on #173
In GitLab by @SkittleS on Aug 3, 2021, 21:42

changed the description

[2021-09-19 10:58] octothorpteam commented on #173
In GitLab by @SkittleS on Aug 3, 2021, 21:43

changed the description

[2021-09-19 10:58] octothorpteam opened #174 "Отдаление от игрока моделек Джунко, Саяки и Хифуми"
In GitLab by @NeverLucky21 on Aug 2, 2021, 23:42

На средних настройках у моделей Джунко, Саяки и Хифуми пропадают некоторые элементы (волосы, лицо, руки).

![image](/uploads/6dee4049c97f4e0871af507b742100a5/image.png)

[2021-09-19 10:58] octothorpteam commented on #174
In GitLab by @BratPlat on Aug 3, 2021, 14:37

Привет. Что именно не так с волосами? Они перестают двигаться (пропадает физика)?
А в лице пропадают только зрачки или еще что-то?

[2021-09-19 10:58] octothorpteam commented on #174
In GitLab by @NeverLucky21 on Aug 3, 2021, 17:44

Всё так как вы и поняли сами.

[2021-09-19 10:58] octothorpteam commented on #174
In GitLab by @Mastermind on Aug 4, 2021, 20:52

Привязал по времени.
https://youtu.be/meOHKOqV15E?t=2528

[2021-09-19 10:58] octothorpteam commented on #174
In GitLab by @BratPlat on Aug 4, 2021, 20:56

Некоторое было исправлено (не сразу может быть добавлено на сервер), но помните, что это сделано в качестве оптимизации на больших расстояниях. Поэтому, если изменения не значительны сильно, то пусть так и будет.
PS: Что-то на подобие рук является значительным, так что исправил.

[2021-09-19 10:58] #174 closed

[2021-09-19 10:58] octothorpteam opened #175 "Недочеты в модельке Мукуро"
In GitLab by @Anal_Ninja on Aug 3, 2021, 11:14

1. Татуировка на руке Мукуро сдвигается с места
https://youtu.be/YMCO58Qu5n4
2. Доп. эмоции Мукуро иногда выходят за лицо
https://youtu.be/tQVECKqGNhc

[2021-09-19 10:58] octothorpteam commented on #175
In GitLab by @Krou on Aug 3, 2021, 23:15

Проблема вероятно связана с тем, что ее тело одевалось через инструмент Easy Bonemerge Tool

[2021-09-19 10:58] octothorpteam commented on #175
In GitLab by @BratPlat on Aug 4, 2021, 14:46

Подобные проблемы у всех персонажей, которые использует bonemerge. Модели будут заменены на целостные на первое время.

[2021-09-19 10:59] #175 closed

[2021-09-19 10:59] octothorpteam opened #176 "Классный суд не запускается"
In GitLab by @Mikvoin on Aug 3, 2021, 19:04

[code]

[2021-09-19 10:59] octothorpteam commented on #176
In GitLab by @Mikvoin on Aug 3, 2021, 19:04

changed the description

[2021-09-19 10:59] octothorpteam commented on #176
In GitLab by @chelog on Aug 3, 2021, 19:04

assigned to @chelog

[2021-09-19 10:59] octothorpteam commented on #176
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit cf01b63e267035a0e3dc47f2905020a5b35373a2

[2021-09-19 10:59] #176 closed

[2021-09-19 10:59] octothorpteam opened #177 "Проблемы с аддоном Prop Resizer"
In GitLab by @goldflame on Aug 3, 2021, 23:10

У некоторых игроков может отображаться изменённый в размере проп как обычно. Исправляется перезаходом на сервер.

[2021-09-19 10:59] octothorpteam opened #178 "Баг работы C-меню"
In GitLab by @Krou on Aug 3, 2021, 23:43

После обновления на Dev, при котором убрали подсвечивание при наведении на энтити, иногда нельзя взаимодействовать с предметом, нажимая на него ПКМ. На видимо ниже это работает в начале и конце, но в середине перестает. Причину появления бага и способа бороться с ним узнать не смог <br>
https://youtu.be/55l_MyAwZ0Q

[2021-09-19 10:59] octothorpteam opened #179 "Ошибка с эдитором"
In GitLab by @Mikvoin on Aug 4, 2021, 24:14

[code]

Из-за этого, возможно, суд не работает

[code]

[2021-09-19 10:59] octothorpteam commented on #179
In GitLab by @Mikvoin on Aug 4, 2021, 24:14

changed the description

[2021-09-19 10:59] #179 closed

[2021-09-19 10:59] octothorpteam opened #180 "Музыка в пустом пресете плейлиста"
In GitLab by @Mikvoin on Aug 4, 2021, 24:49

- Остается музыка с предыдущего плейлиста:
- ![](https://i.imgur.com/X0HrsnV.png)

[2021-09-19 10:59] octothorpteam commented on #180
In GitLab by @Mikvoin on Aug 4, 2021, 24:49

changed the description

[2021-09-19 10:59] octothorpteam opened #181 "Ошибка в консоли после запуска сервера"
In GitLab by @Mikvoin on Aug 4, 2021, 14:23

Я не знаю на что она влияет, однако:
[code]

[2021-09-19 10:59] octothorpteam commented on #181
In GitLab by @Mikvoin on Aug 4, 2021, 14:23

changed the description

[2021-09-19 10:59] octothorpteam commented on #181
In GitLab by @fin on Aug 5, 2021, 14:44

mentioned in commit 83291cac8a87429f7aee6d1b598bc1ad89fab4f5

[2021-09-19 10:59] #181 closed

[2021-09-19 10:59] octothorpteam opened #182 "Erorr иконки у предметов"
In GitLab by @Krou on Aug 4, 2021, 19:21

Erorr иконки у предметов:
- **Монопад**
- Пружина
- Брокколи
- Мука
- Сосиска
- Черный/Зеленый/Травяной чай (заварка)
- Слитки
- Скалка
- Коктейльный шейкер
<br>(Также у талонов, но они не нужны)

[2021-09-19 10:59] octothorpteam commented on #182
In GitLab by @chelog on Aug 4, 2021, 22:02

assigned to @chelog

[2021-09-19 10:59] octothorpteam commented on #182
In GitLab by @chelog on Aug 4, 2021, 22:37

assigned to @Mikvoin and unassigned @chelog

[2021-09-19 10:59] octothorpteam commented on #182
In GitLab by @Mikvoin on Aug 4, 2021, 23:48

@chelog
1. Монопад: `monopad`
2. Пружина: `metal_sprint`
3. Брокколи: `food_broccolil`
4. Мука: `food_pita`
5. Сосиска: `food_sausage2`
6. Черный/Зеленый/Травяной: `leaves`
7. Слитки: -
8. Скалка: -
9. Коктейльный шейкер:
10. Мономонеты: `monocoin`

Оружие:
- tfa_nmrih_asaw - `angle_grinder`
- tfa_nmrih_bat - `baseball_bat`
- tfa_nmrih_chainsaw - `chain

[2021-09-19 10:59] octothorpteam commented on #182
In GitLab by @chelog on Aug 4, 2021, 23:57

assigned to @chelog and unassigned @Mikvoin

[2021-09-19 11:00] #182 closed

[2021-09-19 11:00] octothorpteam opened #183 "Баг с инвентарём Сакуры и Нэкомару"
In GitLab by @TheHacker- on Aug 4, 2021, 19:48

1. Взяв через F4 персонажей Сакура и Нэкомару у них выперают руки вперёд буд-то бы у них в инвентаре "Рук" что-то тяжелое, даже если инвентарь пуст. Это можно исправить просто нажав один раз ПКМ, НО в итоге персонаж не может бегать и прыгать.
2. Повторить довольно легко главное взять персонажа.
Мондо, Сакура, Леон, Гандам, Предатель, Нэкомару, Кайто,

[2021-09-19 11:00] octothorpteam commented on #183
In GitLab by @chelog on Aug 4, 2021, 21:24

assigned to @chelog

[2021-09-19 11:00] octothorpteam commented on #183
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 5f96791d55d0082e012c0f4b9ed138b2d49e434e

[2021-09-19 11:00] #183 closed

[2021-09-19 11:00] octothorpteam opened #184 "Иконка микрофона"
In GitLab by @Krou on Aug 4, 2021, 19:54

На Dev, при разговоре, видна иконка микрофона:
![image](/uploads/24e5a104dd3ae0466cbbdcba4c4d65fd/image.png)

[2021-09-19 11:00] octothorpteam commented on #184
In GitLab by @Mikvoin on Aug 4, 2021, 19:57

@Krou, а это проблема?

[2021-09-19 11:00] octothorpteam commented on #184
In GitLab by @Krou on Aug 4, 2021, 21:34

Видимо нет. Просто раньше не было иконки, поэтому посчитал за баг.

[2021-09-19 11:00] #184 closed

[2021-09-19 11:00] octothorpteam opened #185 "Эффект "Осмотреть" не сохраняется с помощью постоянных предметов"
In GitLab by @Krou on Aug 4, 2021, 20:25

Если на постоянный предмет наложить эффект "Осмотреть", то при перезапуске сервера этот эффект не сохраняется

[2021-09-19 11:00] octothorpteam commented on #185
In GitLab by @chelog on Aug 4, 2021, 22:04

@Krou сохраняли постоянные предметы после установки эффекта?
По коду и по тестам все работает

[2021-09-19 11:00] octothorpteam commented on #185
In GitLab by @chelog on Aug 4, 2021, 22:10

assigned to @chelog

[2021-09-19 11:00] octothorpteam commented on #185
In GitLab by @Krou on Aug 4, 2021, 22:11

Вроде как да. Завтра еще перепроверю в таком случае

[2021-09-19 11:00] #185 closed

[2021-09-19 11:00] octothorpteam opened #186 "В "octoinv_help" у миксера старая иконка"
In GitLab by @Krou on Aug 4, 2021, 20:26

Все видно на картинке
![image](/uploads/b4abdc7ce1ec5c5918eec57931909637/image.png)

[2021-09-19 11:00] octothorpteam commented on #186
In GitLab by @chelog on Aug 4, 2021, 22:11

Исправлено в 28b39367496fbc723ce6912babf758757f2d1fb1

[2021-09-19 11:00] #186 closed

[2021-09-19 11:00] octothorpteam opened #187 "В octoinv_help при нажатии на "Сдобное тесто" показывает рецепт "Пицца Пеперони (компоненты)""
In GitLab by @Krou on Aug 4, 2021, 20:34

В octoinv_help при нажатии на "Сдобное тесто" показывает рецепт "Пицца Пеперони (компоненты)"
![image](/uploads/4b73fc73bf2481c3a37acaed1d01f6f2/image.png)

[2021-09-19 11:00] octothorpteam commented on #187
In GitLab by @chelog on Aug 4, 2021, 21:25

assigned to @chelog

[2021-09-19 11:00] octothorpteam commented on #187
In GitLab by @chelog on Aug 5, 2021, 14:44

mentioned in commit 69611e4a221bd1f99b3b22c1d33d83bd83924aba

[2021-09-19 11:00] #187 closed

[2021-09-19 11:00] octothorpteam opened #188 "Нет текстур при обнаружении трупа"
In GitLab by @Mikvoin on Aug 4, 2021, 22:09

![](https://i.imgur.com/9FveisR.jpeg)

[2021-09-19 11:01] octothorpteam commented on #188
In GitLab by @chelog on Aug 4, 2021, 22:37

assigned to @Mikvoin

[2021-09-19 11:01] #188 closed

[2021-09-19 11:01] octothorpteam opened #189 "Не открывается редактирование при дабл клике"
In GitLab by @Mikvoin on Aug 5, 2021, 01:35

![](https://i.imgur.com/WREvzH8.png)

[2021-09-19 11:01] octothorpteam opened #190 "Невозможно сбросить позицию в зоны в эдиторе"
In GitLab by @Mikvoin on Aug 5, 2021, 01:46

[code]

[2021-09-19 11:01] octothorpteam commented on #190
In GitLab by @Mikvoin on Aug 5, 2021, 01:46

made the issue confidential

[2021-09-19 11:01] octothorpteam commented on #190
In GitLab by @Mikvoin on Aug 5, 2021, 01:46

changed the description

[2021-09-19 11:01] octothorpteam commented on #190
In GitLab by @Mikvoin on Aug 5, 2021, 22:25

Не заметил кнопки. Май бэд

[2021-09-19 11:01] #190 closed

[2021-09-19 11:01] octothorpteam opened #191 "Худ открывается в текстбоксах"
In GitLab by @Mikvoin on Aug 5, 2021, 01:58

![](https://i.imgur.com/TFkF6WU.jpeg)

[2021-09-19 11:01] octothorpteam commented on #191
In GitLab by @fin on Aug 5, 2021, 14:44

mentioned in commit 8da9bf4a1e5f3bbae17e7a0a9bbffd8132caf43b

[2021-09-19 11:01] #191 closed

[2021-09-19 11:01] octothorpteam opened #192 "Текстуры на классном суде"
In GitLab by @Mikvoin on Aug 5, 2021, 01:59

![](https://i.imgur.com/hw6d8mq.jpeg)

[2021-09-19 11:01] #192 closed

[2021-09-19 11:01] octothorpteam opened #193 "Смена иконки аргумента при предъявлении"
In GitLab by @Mikvoin on Aug 5, 2021, 02:00

Если игрок предъявляет чужой аргумент, то у него сменяется иконка. Так быть не должно
- ![](https://i.imgur.com/IKmr9Hp.jpeg)

[2021-09-19 11:01] octothorpteam opened #194 "Текстуры на голосовании"
In GitLab by @Mikvoin on Aug 5, 2021, 02:00

- ![](https://i.imgur.com/QsV4eT8.png)

[2021-09-19 11:01] #194 closed

[2021-09-19 11:01] octothorpteam opened #195 "При голосовании открывается чат"
In GitLab by @Mikvoin on Aug 5, 2021, 02:01

Так быть не должно :/

[2021-09-19 11:01] octothorpteam commented on #195
In GitLab by @fin on Aug 5, 2021, 14:44

mentioned in commit 8da9bf4a1e5f3bbae17e7a0a9bbffd8132caf43b

[2021-09-19 11:01] #195 closed

[2021-09-19 11:01] octothorpteam opened #196 "Высокий порог чувствительности у иконки стейта"
In GitLab by @Mikvoin on Aug 5, 2021, 02:02

![](https://i.imgur.com/ZWRkk48.jpeg)

[2021-09-19 11:01] octothorpteam opened #197 "Моментальное возрождение после смерти"
In GitLab by @Mikvoin on Aug 5, 2021, 02:06

[2021-09-19 11:01] octothorpteam opened #198 "Вечный инвиз при повторном запуске классного суда"
In GitLab by @Mikvoin on Aug 5, 2021, 02:13

Если при классном суде запустить классный суд, то все игроки станут невидимыми.
- Не помогает даже смена модели или смерть персонажа.

[2021-09-19 11:02] octothorpteam commented on #198
In GitLab by @Mikvoin on Aug 5, 2021, 02:14

changed title from **{-Ошибка-} при повторном запуске классного суда** to **{+Вечный инвиз+} при повторном запуске классного суда**

[2021-09-19 11:02] octothorpteam opened #199 "Туалеты на новейшей версии карты"
In GitLab by @Krou on Aug 5, 2021, 11:58

Туалеты на новейшей версии карты<br>
1 этаж рядом со спортзалом (в обоих туалетах)<br>
![image](/uploads/bdd329c811878419c69ac1cc0570e415/image.png)
2 этаж (в обоих туалетах)<br>
![image](/uploads/2361073c48d215be95ab2f7ab8113d33/image.png)
4 этаж (в обоих туалетах)<br>
![image](/uploads/0846d642dc56156a2faaa2e127834966/image.png)

[2021-09-19 11:02] #199 closed

[2021-09-19 11:02] octothorpteam opened #200 "Сад на 5 этаже на новейшей версии карты"
In GitLab by @Krou on Aug 5, 2021, 12:17

Дорожка и земля кривая
![image](/uploads/b90a8e450c960ca1170fc76ea49805cd/image.png)

[2021-09-19 11:02] octothorpteam commented on #200
In GitLab by @Mikvoin on Aug 5, 2021, 22:24

assigned to @Mikvoin

[2021-09-19 11:02] octothorpteam commented on #200
In GitLab by @Mikvoin on Aug 26, 2021, 11:01

Исправлено. Изменения вступят в силу в следующем обновлении карты.

[2021-09-19 11:02] #200 closed

[2021-09-19 11:02] octothorpteam opened #201 "Дверь на 5 этаж в сад нельзя закрыть на новейшей карте"
In GitLab by @Krou on Aug 5, 2021, 12:20

После открытия сада на 5 этаже дверь нельзя закрыть
![image](/uploads/41a0083ba8b8fd5bb272389d2fc7f5fa/image.png)

[2021-09-19 11:02] octothorpteam commented on #201
In GitLab by @Mikvoin on Aug 5, 2021, 22:25

assigned to @Mikvoin

[2021-09-19 11:02] #201 closed

[2021-09-19 11:02] octothorpteam opened #202 "Дверь за сценой на новейшей карте отсутствует"
In GitLab by @Krou on Aug 5, 2021, 12:22

Дверь за сценой на новейшей карте отсутствует<br>
Также возможно баг с лестницей рядом
![image](/uploads/741621d28b25d9a42567fe179335301d/image.png)

[2021-09-19 11:02] octothorpteam commented on #202
In GitLab by @Krou on Aug 5, 2021, 12:22

changed the description

[2021-09-19 11:02] octothorpteam commented on #202
In GitLab by @Mikvoin on Aug 5, 2021, 22:25

assigned to @Mikvoin

[2021-09-19 11:02] octothorpteam opened #203 "Одна из дверь в медпункт не является дверью на новейшей версии карты"
In GitLab by @Krou on Aug 5, 2021, 12:23

Левая дверь не является дверью, видно по отсутствию меню двери
![image](/uploads/a98f3005febc8e95d30215bd4ca4e596/image.png)

[2021-09-19 11:02] octothorpteam commented on #203
In GitLab by @Mikvoin on Aug 5, 2021, 22:25

assigned to @Mikvoin

[2021-09-19 11:02] octothorpteam commented on #203
In GitLab by @Mikvoin on Aug 8, 2021, 01:06

@Krou
Я специально так сделал. Это можно заметить по отсутствию ручек на текстурах. Это проблема?

[2021-09-19 11:02] octothorpteam opened #204 "Стена туалета входит в тайную комнату на 2 этаже"
In GitLab by @Krou on Aug 5, 2021, 12:46

Стена туалета входит в тайную комнату на 2 этаже
![image](/uploads/b8778aea137256b19c3d6367ecfcb465/image.png)

[2021-09-19 11:02] octothorpteam commented on #204
In GitLab by @Mikvoin on Aug 5, 2021, 22:25

assigned to @Mikvoin

[2021-09-19 11:02] #204 closed

[2021-09-19 11:02] octothorpteam opened #205 "Баг с дверью в AV-room с внутренней стороны"
In GitLab by @Krou on Aug 5, 2021, 15:17

Баг с дверью в AV-room с внутренней стороны
![image](/uploads/11e3e83e6f5fe82bf56f4137fa769b6c/image.png)

[2021-09-19 11:02] octothorpteam commented on #205
In GitLab by @Mikvoin on Aug 5, 2021, 22:25

assigned to @Mikvoin

[2021-09-19 11:02] #205 closed

[2021-09-19 11:03] octothorpteam opened #206 "Редактор персонажей не поддерживает вес рук"
In GitLab by @Mikvoin on Aug 5, 2021, 16:24

![](https://i.imgur.com/1sbqmDD.png)

[2021-09-19 11:03] octothorpteam opened #207 "Оружие появляется в инвентаре"
In GitLab by @Mikvoin on Aug 5, 2021, 18:58

Надо убрать появление этих оружий после скрытия:
- `octo_camera`
- `weapon_medkit`

[2021-09-19 11:03] octothorpteam commented on #207
In GitLab by @Mikvoin on Aug 5, 2021, 22:26

assigned to @chelog

[2021-09-19 11:03] octothorpteam commented on #207
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit 018088293536b2379224038525afadb4039f2759

[2021-09-19 11:03] #207 closed

[2021-09-19 11:03] octothorpteam opened #208 "Низкая дальность отрисовки pixel_sprite"
In GitLab by @Mikvoin on Aug 5, 2021, 18:58

Низкая дальность отрисовки pixel_sprite у дверей общежития

[2021-09-19 11:03] octothorpteam opened #209 "Камера от первого лица Ремы уходит под землю при приседании"
In GitLab by @NeverLucky21 on Aug 5, 2021, 19:54

Title. Думаю надо немного изменить камеру модельке или сам хитбокс.

[2021-09-19 11:03] octothorpteam commented on #209
In GitLab by @NeverLucky21 on Aug 6, 2021, 13:13

Точно такой же недочет у детей из UDG.

[2021-09-19 11:03] octothorpteam opened #210 "Нет описания для улик/аргументов на классном суде"
In GitLab by @Mikvoin on Aug 5, 2021, 22:45

Вот так должно быть: ![](https://i.imgur.com/NWLPokM.jpeg)

[2021-09-19 11:03] octothorpteam opened #211 "тест"
In GitLab by @Mikvoin on Aug 6, 2021, 24:40

[2021-09-19 11:03] #211 closed

[2021-09-19 11:03] octothorpteam opened #212 "Дырки у Мукуро Икусаба в end_round"
In GitLab by @Mikvoin on Aug 6, 2021, 02:14

![](https://i.imgur.com/ekqd1ex.png)

[2021-09-19 11:03] octothorpteam commented on #212
In GitLab by @Mikvoin on Aug 6, 2021, 02:14

changed the description

[2021-09-19 11:03] octothorpteam commented on #212
In GitLab by @Mikvoin on Aug 6, 2021, 02:14

assigned to @Mikvoin

[2021-09-19 11:03] #212 closed

[2021-09-19 11:03] octothorpteam opened #213 "Баг после завершения игры"
In GitLab by @Krou on Aug 6, 2021, 03:00

После завершения игры (e1s1) игроки не могли менять снаряжение через колесико мыши (руки, физган и т.д.), а также не могли писать в чат. Открывать инвентарь было можно

[2021-09-19 11:03] octothorpteam opened #214 "Застревание в трибунах суда"
In GitLab by @Krou on Aug 6, 2021, 11:36

После окончания суда некоторые игроки застревают в трибунах суда. Это наглядно видно [здесь](https://youtu.be/38gidytzdPc?t=12170), стример прыгает, чтобы выбраться, а застрявшему Шуичи помогает администратор.

[2021-09-19 11:03] octothorpteam commented on #214
In GitLab by @Mikvoin on Aug 6, 2021, 12:15

assigned to @Mikvoin

[2021-09-19 11:03] octothorpteam commented on #214
In GitLab by @Mikvoin on Aug 26, 2021, 10:54

Исправлено. Изменения вступят в силу в следующем обновлении карты.

[2021-09-19 11:03] #214 closed

[2021-09-19 11:03] octothorpteam opened #215 "Лифт не открывается"
In GitLab by @Krou on Aug 6, 2021, 11:41

На игре e1s1 сломался лифт. Его нельзя было никак открыть. Тем не менее, лифт как-то починился чуть позже. Причина как того, как он сломался, так и того, как починился, не понятна

[2021-09-19 11:03] octothorpteam commented on #215
In GitLab by @Mikvoin on Aug 25, 2021, 23:20

Исправлено

[2021-09-19 11:04] #215 closed

[2021-09-19 11:04] octothorpteam opened #216 "Баг со звуками лифта"
In GitLab by @Krou on Aug 6, 2021, 11:53

Когда лифт не доезжает до конца и его заставляют возвращаться во время своего пути, по окончанию движения лифта звуки его движения остаются. Остановить их можно лишь с помощью команды "stopsound" в консоли.<br>
[**Видео**](https://youtu.be/v8t5mZBff4Q)

[2021-09-19 11:04] octothorpteam commented on #216
In GitLab by @Mikvoin on Aug 6, 2021, 12:15

assigned to @Mikvoin

[2021-09-19 11:04] octothorpteam opened #217 "Афк-статус при сворачивании"
In GitLab by @Mikvoin on Aug 6, 2021, 12:14

![](https://i.imgur.com/AenRBfY.jpeg)

[2021-09-19 11:04] octothorpteam commented on #217
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit dd40fa74bc8c98eb139a9fdea24a3bae0c410e55

[2021-09-19 11:04] #217 closed

[2021-09-19 11:04] octothorpteam opened #218 "Плеер: авто-определение музыки из DR2"
In GitLab by @Mikvoin on Aug 6, 2021, 12:38

Если выбрать папку dr_2 и нажать "Авто", то на каком-то моменте загрузки она встанет намертво
![](https://i.imgur.com/29o6HwI.png)

[2021-09-19 11:04] octothorpteam commented on #218
In GitLab by @Mikvoin on Aug 6, 2021, 12:42

Нашел проблему: некоторые файлы имеют точки в названии

[2021-09-19 11:04] #218 closed

[2021-09-19 11:04] octothorpteam opened #219 "Новая система инвентаря мешает работе нынешнего ПНВ"
In GitLab by @Krou on Aug 6, 2021, 14:31

Раньше игрок мог взять ПНВ, нажать R (одеть ПНВ), после чего взять оружие в руки и убить, продолжая видеть в темноте. Сейчас, убирая ПНВ с нажатым R (то есть одетым), оно убирается в инвентарь, из-за чего перестает быть видно в темноте.<br>
[Демонстрация проблемы](https://youtu.be/YajAv8fqETc)

[2021-09-19 11:04] octothorpteam commented on #219
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit 09c1511196b84783c2c7255b1e35c11b4e5adb8c

[2021-09-19 11:04] #219 closed

[2021-09-19 11:04] octothorpteam opened #220 "Некоторые иконки на дверях находятся внутри комнаты, а не снаружи"
In GitLab by @Krou on Aug 6, 2021, 14:45

Некоторые иконки на дверях находятся внутри комнаты, а не снаружи.
![image](/uploads/bdf173fafd73c25f64fc8d46b2316dde/image.png)

[Видео с демонстрацией того, в каких комнатах наблюдается проблема (У Ибуки проблема, не было ни с той, ни с другой)](https://youtu.be/0fxO2iTB2b0)

[2021-09-19 11:04] octothorpteam commented on #220
In GitLab by @Mikvoin on Aug 8, 2021, 01:09

@Krou
Это не баг. В эдиторе была неправильно указана сторона у дверей. Если такое встречается на карте, то игровой мастер может лично исправить это через редактор карты.

[2021-09-19 11:04] #220 closed

[2021-09-19 11:04] octothorpteam opened #221 "Нижняя часть худа перекрывает инвентарь"
In GitLab by @Mikvoin on Aug 6, 2021, 14:53

![](https://i.imgur.com/7oL6h6Q.png)

[2021-09-19 11:04] octothorpteam commented on #221
In GitLab by @Mikvoin on Aug 8, 2021, 01:08

marked this issue as related to #223

[2021-09-19 11:04] octothorpteam commented on #221
In GitLab by @Mikvoin on Aug 25, 2021, 23:20

Исправлено

[2021-09-19 11:04] #221 closed

[2021-09-19 11:04] octothorpteam opened #222 "Пофиксить ключи (ранкинг сервера в браузере)"
In GitLab by @Mikvoin on Aug 6, 2021, 14:54

![](https://i.imgur.com/SmHaUNz.png)

[2021-09-19 11:04] octothorpteam commented on #222
In GitLab by @Mikvoin on Aug 6, 2021, 14:55

made the issue confidential

[2021-09-19 11:04] #222 closed

[2021-09-19 11:05] octothorpteam opened #223 "Свойства энтити открываются через раз"
In GitLab by @Mikvoin on Aug 6, 2021, 15:20

![2021-08-06_15-12-57](/uploads/257a822459543f8706190bf4b67f0fab/2021-08-06_15-12-57.mp4)

[2021-09-19 11:05] octothorpteam commented on #223
In GitLab by @Mikvoin on Aug 6, 2021, 15:20

changed the description

[2021-09-19 11:05] octothorpteam commented on #223
In GitLab by @Mikvoin on Aug 6, 2021, 15:21

changed the description

[2021-09-19 11:05] octothorpteam commented on #223
In GitLab by @chelog on Aug 18, 2021, 17:29

assigned to @chelog

[2021-09-19 11:05] octothorpteam opened #224 "Неизвестный может создавать и предъявлять аргументы на суде"
In GitLab by @Mikvoin on Aug 6, 2021, 16:08

![](https://i.imgur.com/lNGRVKf.jpeg)

[2021-09-19 11:05] octothorpteam opened #225 "Тени людей на 2-м этаже видно с 1-го этажа"
In GitLab by @NeverLucky21 on Aug 6, 2021, 16:47

Вот.

![image](/uploads/d4d9d629daa1159efe80843ed10111f0/image.png)

[2021-09-19 11:05] octothorpteam opened #226 "Выкидывание оружия с инвентаря"
In GitLab by @ste0pa on Aug 6, 2021, 20:58

Помогала одному гму в маппинге, в итоге заметила такую вещь, что при ручном перемещение оружия в руки, другие оружия просто выбрасываются![2021-08-06_20-26-21](/uploads/a4de29335621c1fb18a7ebd87fb41bb3/2021-08-06_20-26-21.mp4)

[2021-09-19 11:05] octothorpteam commented on #226
In GitLab by @NeverLucky21 on Aug 6, 2021, 21:46

Вроде бы это не баг, при выборе оружия все вещи на "руках" падают на землю.

[2021-09-19 11:05] #226 closed

[2021-09-19 11:05] octothorpteam opened #227 "!announce не работает"
In GitLab by @Krou on Aug 6, 2021, 21:14

Команда !announce не работает. Вероятно проблема точно такая же, что и была с !pm

[2021-09-19 11:05] octothorpteam commented on #227
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit abca667206147ae80d86c9ae00cbd39779813f44

[2021-09-19 11:05] #227 closed

[2021-09-19 11:05] octothorpteam opened #228 "Часы на экране после сворачивания"
In GitLab by @Krou on Aug 6, 2021, 21:20

После сворачивания игры и последующего его открытия появляется данная картинка часов. Насколько я понимаю, ее быть не должно
![image](/uploads/d6095680b30c4835a580c112dc622d4c/image.png)

[2021-09-19 11:05] octothorpteam commented on #228
In GitLab by @Mikvoin on Aug 8, 2021, 01:15

@Krou
Дубликат: https://code.octo.gg/dro/gmod/-/issues/196

[2021-09-19 11:05] #228 closed

[2021-09-19 11:05] octothorpteam opened #229 "Стена туалета криво поставлена на 2 этаже общежития"
In GitLab by @Krou on Aug 6, 2021, 23:33

![image](/uploads/5c1e65f21187d77df6dd8f8867464fe0/image.png)

[2021-09-19 11:05] octothorpteam commented on #229
In GitLab by @Mikvoin on Aug 8, 2021, 01:15

assigned to @Mikvoin

[2021-09-19 11:05] octothorpteam commented on #229
In GitLab by @Mikvoin on Aug 8, 2021, 01:15

Исправил

[2021-09-19 11:05] #229 closed

[2021-09-19 11:05] octothorpteam opened #230 "Баг с взлетом с помощью руки"
In GitLab by @Sanny on Aug 7, 2021, 01:03

Когда от первого лица что то трогаешь рукой можно взлетать с помощью этой руки на всякие шкафы. Или просто добираться до второго
этажа общежития. Надо просто рукой удержать что то более высокое и ты туда полетишь буквально.

[2021-09-19 11:05] octothorpteam commented on #230
In GitLab by @chelog on Aug 18, 2021, 17:29

Так и задумано. Я спрашивал @Mikvoin, нужно ли оставлять эту механику, он сказал, что оставим и посмотрим, как игроки будут отзываться. Так что надо спросить у него, надо ли это убирать

[2021-09-19 11:06] octothorpteam commented on #230
In GitLab by @Mikvoin on Aug 25, 2021, 23:19

Исправлено

[2021-09-19 11:06] #230 closed

[2021-09-19 11:06] octothorpteam opened #231 "Лифт и новые модельки Химико и Корекиё"
In GitLab by @HistoryFedor on Aug 7, 2021, 03:27

Новые моделки Химико и Корекиё могут провалиться через лифт, когда он едет верх. Лифт имеется виду на классный суд.

[2021-09-19 11:06] octothorpteam commented on #231
In GitLab by @Mikvoin on Aug 8, 2021, 01:10

assigned to @Mikvoin

[2021-09-19 11:06] octothorpteam commented on #231
In GitLab by @Mikvoin on Aug 8, 2021, 01:12

@HistoryFedor
Модельки Химико и Корекие не менялись, это старые модели. Нужно больше информации по поводу падения через лифт:
- Кто-нибудь мог отключить коллизию?
- Это были плеермодели?
- Какие персонажи были в лифте на момент падения Химико и Корекие?
- Это случилось после вызова лифта наверх во время движения или перед?

[2021-09-19 11:06] octothorpteam opened #232 "Верёвка от груши в мужской и женской раздевалке на второй этаже"
In GitLab by @HistoryFedor on Aug 7, 2021, 03:30

Два раза дублируется и одна работает нормально, а другая является как часть карты. На фото можно увидеть этот баг.![-Z-oKb9gQNU](/uploads/8aa6af047a3ed9b083eb8a48da15cce1/-Z-oKb9gQNU.jpg)

[2021-09-19 11:06] octothorpteam commented on #232
In GitLab by @Mikvoin on Aug 8, 2021, 14:59

assigned to @Mikvoin

[2021-09-19 11:06] octothorpteam commented on #232
In GitLab by @Mikvoin on Aug 26, 2021, 12:06

@HistoryFedor
Речь идет о черной веревке?

[2021-09-19 11:06] octothorpteam commented on #232
In GitLab by @HistoryFedor on Aug 26, 2021, 22:48

Верёвка, которая держит грушу. Одна является как часть карты, а другая уже прикреплена к груше. Как я уже говорил на фото видно про какие верёвки я говорю.

[2021-09-19 11:06] octothorpteam opened #233 "Невозможность телепортироваться к игроку"
In GitLab by @HistoryFedor on Aug 7, 2021, 03:32

В Админ-тул есть функция, где можно телепортироваться к игроку. Однако, если это сделать, то в чате выдаёт ошибку и также повторяет сообщение 2 раза (На бывшей версии вообще не писалось)![mv400MlCTTQ](/uploads/a42173726475c2882f926d4672f9cd0b/mv400MlCTTQ.jpg)

[2021-09-19 11:06] octothorpteam commented on #233
In GitLab by @fin on Aug 8, 2021, 11:31

assigned to @fin

[2021-09-19 11:06] octothorpteam commented on #233
In GitLab by @fin on Aug 18, 2021, 17:15

mentioned in commit 5c2f5bc6acf771cd41d8bdbe14fc090d787868d6

[2021-09-19 11:06] #233 closed

[2021-09-19 11:06] octothorpteam opened #234 "Неработающие освещение на отдельных этажах"
In GitLab by @HistoryFedor on Aug 7, 2021, 03:57

Попытка выбрать освещение в "Вводы карты" любого этажа выдают ошибку, что энити не найдено. Также дубликация 5 этажа![7eu5NmQB43g](/uploads/449917f4ecb133b104abd3fdff331afd/7eu5NmQB43g.jpg)![E9bMWgnzqaM](/uploads/d9e660e7b96c9449ee7b99ec6a81438e/E9bMWgnzqaM.jpg)

[2021-09-19 11:06] octothorpteam commented on #234
In GitLab by @HistoryFedor on Aug 7, 2021, 03:57

changed title from **Неработающие освещение на отдельных этажа{-ъ-}** to **Неработающие освещение на отдельных этажа{+х+}**

[2021-09-19 11:06] octothorpteam commented on #234
In GitLab by @Mikvoin on Aug 8, 2021, 01:09

assigned to @Mikvoin

[2021-09-19 11:06] octothorpteam commented on #234
In GitLab by @Mikvoin on Aug 8, 2021, 01:10

@HistoryFedor
Пока что это не реализовано. Сделаю в следующем обновлении карты, когда переработаю полностью освещение. Предположительно к играм на следующей неделе.

[2021-09-19 11:06] octothorpteam opened #235 "Баг с табличками на дверях после запуска игры"
In GitLab by @HistoryFedor on Aug 7, 2021, 04:09

На дверях у половина отсутствует таблички, а у других это есть. К сожалению фото нету, но на приватке 06.08.21 у нас такое было.

[2021-09-19 11:06] octothorpteam commented on #235
In GitLab by @Lagushka on Aug 7, 2021, 12:36

При этом таблички были видны с другой стороны двери.

[2021-09-19 11:06] octothorpteam commented on #235
In GitLab by @Mikvoin on Aug 8, 2021, 01:27

@HistoryFedor
Уже отписывал вот здесь: https://code.octo.gg/dro/gmod/-/issues/199
На данный момент эта проблема решена.

[2021-09-19 11:06] octothorpteam opened #236 "Не работает Бан и Кик в Мономеню"
In GitLab by @Rust on Aug 7, 2021, 11:28

Играл на приватной игре 6.08, и было необходимо выгнать с сервера одного неадекватного игрока, однако после нажатия кнопок Бан и Кик, ничего не происходило(Причина бана/кика была указана)
       Подробности.
Сначала я зафиксировал неадеквата на месте, а после взял в руки инструмент админа(Админтул). Нажал ЛКМ этим админтулом и сначала выбрал Кик игрока. Та

[2021-09-19 11:06] octothorpteam commented on #236
In GitLab by @fin on Aug 8, 2021, 11:31

assigned to @fin

[2021-09-19 11:07] octothorpteam commented on #236
In GitLab by @Rust on Aug 8, 2021, 20:29

changed the description

[2021-09-19 11:07] octothorpteam commented on #236
In GitLab by @Rust on Aug 8, 2021, 20:29

changed the description

[2021-09-19 11:07] octothorpteam commented on #236
In GitLab by @fin on Aug 25, 2021, 19:58

mentioned in commit e2f19a190a969885df050d8c8e4555e9b818864e

[2021-09-19 11:07] #236 closed

[2021-09-19 11:07] octothorpteam opened #237 "Эррор в выборе персонажей"
In GitLab by @Sanny on Aug 7, 2021, 20:48

![20210807204536_1](/uploads/1693be1dbb6ce2607fe4b3696e49c0b5/20210807204536_1.jpg) Еррор всех персов первой ронпы

[2021-09-19 11:07] octothorpteam commented on #237
In GitLab by @Mikvoin on Aug 8, 2021, 01:09

assigned to @Mikvoin

[2021-09-19 11:07] octothorpteam commented on #237
In GitLab by @fin on Aug 8, 2021, 11:31

assigned to @fin and unassigned @Mikvoin

[2021-09-19 11:07] octothorpteam commented on #237
In GitLab by @fin on Aug 8, 2021, 11:31

assigned to @Mikvoin and unassigned @fin

[2021-09-19 11:07] octothorpteam commented on #237
In GitLab by @fin on Aug 8, 2021, 11:31

assigned to @fin and unassigned @Mikvoin

[2021-09-19 11:07] octothorpteam commented on #237
In GitLab by @fin on Aug 18, 2021, 17:15

mentioned in commit c4435784936be8b2783c3a7f5cc720c56bef31c3

[2021-09-19 11:07] #237 closed

[2021-09-19 11:07] octothorpteam opened #238 "Ошибка при выставлении позиции классного суда"
In GitLab by @Mikvoin on Aug 7, 2021, 22:20

- Карта: rp_downtown_v2
- Сервер: Dev
При изменении позиции классного суда ничего не происходит, а в консоли сервера появляется следующая ошибка:
[code]

[2021-09-19 11:07] octothorpteam commented on #238
In GitLab by @fin on Aug 8, 2021, 11:30

assigned to @fin

[2021-09-19 11:07] octothorpteam commented on #238
In GitLab by @fin on Aug 18, 2021, 17:15

mentioned in commit c5aa86f3aab7b96298d4afcfed7a668662a3258a

[2021-09-19 11:07] #238 closed

[2021-09-19 11:07] octothorpteam opened #239 "Выбор персонажа"
In GitLab by @Sanny on Aug 7, 2021, 23:36

Детей,Комару и Мукуро нету в выборе персонажа

[2021-09-19 11:07] octothorpteam commented on #239
In GitLab by @Sanny on Aug 7, 2021, 23:39

changed title from **{-Иллюстрация Миу Ирумы-}** to **{+Выбор персонажа+}**

[2021-09-19 11:07] octothorpteam commented on #239
In GitLab by @Sanny on Aug 7, 2021, 23:39

changed the description

[2021-09-19 11:07] octothorpteam opened #240 "Графические проблемы у маленьких плеермоделей"
In GitLab by @goldflame on Aug 8, 2021, 24:07

![image](/uploads/57f72514d4201e43ee77181d631fd2d5/image.png)

Подобное у всех малых моделей вроде детей из недавнего обновления, а также, если не ошибаюсь, у Рёмы Хоши тоже.

[2021-09-19 11:07] octothorpteam commented on #240
In GitLab by @goldflame on Aug 8, 2021, 24:07

changed the description

[2021-09-19 11:07] octothorpteam opened #241 "Иконки и спрайты низкого качества при низкой настройке текстур"
In GitLab by @goldflame on Aug 8, 2021, 24:12

При низких настройках, у Мукуро Икусабы низкое качество спрайтов, однако (на скриншоте не запечатлено) иконка персонажа хорошего качества.

![image](/uploads/279331b92dce20f1e9652e3a10fb5161/image.png)

С остальными персонажами обратное: хорошее качество спрайтов, однако низкое качество иконки.

![image](/uploads/17a15303c0700406cbdb09912e3aa9b7/image

[2021-09-19 11:08] octothorpteam commented on #241
In GitLab by @goldflame on Aug 8, 2021, 24:12

changed the description

[2021-09-19 11:08] octothorpteam commented on #241
In GitLab by @goldflame on Aug 8, 2021, 24:13

changed the description

[2021-09-19 11:08] octothorpteam commented on #241
In GitLab by @Mikvoin on Aug 8, 2021, 02:51

assigned to @Mikvoin

[2021-09-19 11:08] octothorpteam commented on #241
In GitLab by @Mikvoin on Aug 26, 2021, 12:06

Исправлено.

[2021-09-19 11:08] #241 closed

[2021-09-19 11:08] octothorpteam opened #242 "Проблемы с закрытием/открытием дверей комнаты казни"
In GitLab by @goldflame on Aug 8, 2021, 24:20

При единственном нажатии на кнопку открытия дверей в комнату казни - они откроются без проблем. Однако, закрыть обратно их не удастся.

В четверг (игра 05.08) удавалось закрыть двери лишь при условии, что к ним подлетишь, закроешь при помощи ключей, затем нажмёшь на кнопку. И наоборот: отопрёшь эти бедные двери ключами и нажмёшь снова по кнопке. Однак

[2021-09-19 11:08] octothorpteam opened #243 "Игроки имеют излишний доступ к энтити-контейнерам"
In GitLab by @goldflame on Aug 8, 2021, 24:31

Обычный игрок может подойти к, допустим, плите, зажать клавишу "E", – и запереть её, после чего у всех остальных игроков возникает конфуз и они не могут ничего сделать с ней.

Также игрок может открепить плиту при помощи той же клавиши "E", фурнитура естественно размораживается и может улететь в тартарары кухни, попутно с этим забрать пару жизней непо

[2021-09-19 11:08] octothorpteam opened #244 "Некликабельный инвентарь"
In GitLab by @goldflame on Aug 8, 2021, 24:36

При открытии интерфейса на клавишу "Q" возникает проблема: интерфейс не кликабелен, даже если просто навести курсор на иконки инвентаря. Ребятам помогал перезаход, и, по словам одного из них, у него починилась проблема, когда он взял в руки тулган и обратно взял "руки" в руки. Баг возникает независимо от того, были у тебя физган с тулганом.

[2021-09-19 11:08] octothorpteam commented on #244
In GitLab by @Mikvoin on Aug 8, 2021, 01:08

marked this issue as related to #200

[2021-09-19 11:08] octothorpteam commented on #244
In GitLab by @fin on Aug 8, 2021, 11:31

assigned to @fin

[2021-09-19 11:08] octothorpteam commented on #244
In GitLab by @fin on Aug 18, 2021, 17:15

mentioned in commit 8d896ff81d98eb402cd839cfe2fbda5437f7e947

[2021-09-19 11:08] #244 closed

[2021-09-19 11:08] octothorpteam opened #245 "Нельзя взять физган/тулган после окончания игры"
In GitLab by @goldflame on Aug 8, 2021, 24:58

Как и говорилось в заголовке, пропадает физган и тулган после окончания игры. Особо много сказать о баге не могу.

[2021-09-19 11:08] octothorpteam commented on #245
In GitLab by @cherrymiku on Aug 8, 2021, 19:32

После окончания игры нельзя не только физган/тулган взять, но и чат открыть, если поменять этап игры через консоль с Конец игры на Подготовку, то все будет работать. Это к слову всему этого)

[2021-09-19 11:08] octothorpteam opened #246 "У некоторых персонажей видно волосы"
In GitLab by @Mikvoin on Aug 8, 2021, 01:18

Все кости волос убраны в эдиторе.
![](https://i.imgur.com/bPhgoMx.png)

[2021-09-19 11:08] octothorpteam commented on #246
In GitLab by @chelog on Aug 18, 2021, 16:13

Должно быть исправлено в ce415d830788f10f6953308485c7e2438a95f4a3

[2021-09-19 11:08] #246 closed

[2021-09-19 11:08] octothorpteam opened #247 "Орфографическая ошибка"
In GitLab by @Lenka on Aug 8, 2021, 01:46

Простая и никак не мешающая, но ошибка в тексте ![543543543656565](/uploads/5ac9396b50acc316bad625473d47499f/543543543656565.png)

[2021-09-19 11:08] octothorpteam commented on #247
In GitLab by @chelog on Aug 18, 2021, 16:14

assigned to @chelog

[2021-09-19 11:08] octothorpteam commented on #247
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit 1997708332f55fdfeea468e43c8eae08e24a1640

[2021-09-19 11:08] #247 closed

[2021-09-19 11:08] octothorpteam opened #248 "Эти позиции на суде иногда почти не слышно на суде"
In GitLab by @7-th_sky on Aug 8, 2021, 02:29

Иногда бывает так, что именно эти позиции еле-еле слышно лишь в правом ухе ![image](/uploads/b42963d97c1a0358d592893bd6853122/image.png)

[2021-09-19 11:09] octothorpteam commented on #248
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit 0e4cd7830ff7cddf98e5174d6a1591e8eaa2c6f1

[2021-09-19 11:09] #248 closed

[2021-09-19 11:09] octothorpteam opened #249 "Выбрасывание огнемёта"
In GitLab by @7-th_sky on Aug 8, 2021, 02:31

После выбрасывания, огнемет больше нельзя передвинуть руками, физганом и гравити ганом, либо подобрать обратно
![image](/uploads/dcdd0f57a1e721c4599d771f9e94f495/image.png)

[2021-09-19 11:09] octothorpteam commented on #249
In GitLab by @chelog on Aug 18, 2021, 16:15

assigned to @chelog

[2021-09-19 11:09] octothorpteam commented on #249
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit 307ca4d7b51c725914fb24b26d8527805a111a45

[2021-09-19 11:09] #249 closed

[2021-09-19 11:09] octothorpteam opened #250 "Фонарик включается дважды"
In GitLab by @Mikvoin on Aug 8, 2021, 03:02

Фонарик можно включить через ЛКМ и F. Причем эффекты накладываются друг на друга.
![](https://i.imgur.com/RqrnPgS.jpeg)

[2021-09-19 11:09] octothorpteam commented on #250
In GitLab by @fin on Aug 8, 2021, 11:31

assigned to @fin

[2021-09-19 11:09] octothorpteam commented on #250
In GitLab by @fin on Aug 18, 2021, 17:15

mentioned in commit 376248ac05212fe65130fbffa3ab86ff6739ad51

[2021-09-19 11:09] #250 closed

[2021-09-19 11:09] octothorpteam opened #251 "Монокума"
In GitLab by @7-th_sky on Aug 8, 2021, 03:13

Часть лица отображается ![image](/uploads/2e751fe826a02c596a3f1bcd01f593cc/image.png)

[2021-09-19 11:09] octothorpteam commented on #251
In GitLab by @Mikvoin on Aug 8, 2021, 14:58

assigned to @Mikvoin

[2021-09-19 11:09] octothorpteam commented on #251
In GitLab by @Mikvoin on Aug 8, 2021, 14:58

Исправлено

[2021-09-19 11:09] #251 closed

[2021-09-19 11:09] octothorpteam opened #252 "Таблички детей из ае"
In GitLab by @7-th_sky on Aug 8, 2021, 03:31

Таблички детей из ае после смерти как розово-черные прямоугольники

[2021-09-19 11:09] octothorpteam commented on #252
In GitLab by @Mikvoin on Aug 8, 2021, 14:58

assigned to @Mikvoin

[2021-09-19 11:09] octothorpteam commented on #252
In GitLab by @Mikvoin on Aug 8, 2021, 14:58

Исправлено

[2021-09-19 11:09] #252 closed

[2021-09-19 11:09] octothorpteam opened #253 "Баг с полётом при попытке взять проп"
In GitLab by @Lenka on Aug 8, 2021, 17:41

Почти на любом высокий пропе можно летать, зажав левую кнопку мыши
https://www.youtube.com/watch?v=-9bJ-0Hjc9o

[2021-09-19 11:09] octothorpteam commented on #253
In GitLab by @Lenka on Aug 8, 2021, 17:47

changed the description

[2021-09-19 11:09] octothorpteam commented on #253
In GitLab by @Mikvoin on Aug 9, 2021, 02:00

Дубликат: https://code.octo.gg/dro/gmod/-/issues/209

[2021-09-19 11:09] #253 closed

[2021-09-19 11:10] octothorpteam opened #254 "Илюстрация Рёмы"
In GitLab by @Sanny on Aug 8, 2021, 18:42

У неё есть фон![20210808173127_2](/uploads/4138a5db1748bf6dd768ab31a285f313/20210808173127_2.jpg)

[2021-09-19 11:10] octothorpteam commented on #254
In GitLab by @Mikvoin on Aug 9, 2021, 02:00

assigned to @Mikvoin

[2021-09-19 11:10] octothorpteam opened #255 "Илюстрации"
In GitLab by @Sanny on Aug 8, 2021, 18:44

На илюстрации Миу,Комару,Мукуро,Рёмы нету красной обводки

[2021-09-19 11:10] octothorpteam commented on #255
In GitLab by @Mikvoin on Aug 9, 2021, 02:00

assigned to @Mikvoin

[2021-09-19 11:10] octothorpteam opened #256 "Через раз работает octoinv_give"
In GitLab by @cherrymiku on Aug 8, 2021, 19:25

![MedalTVGarrysMod20210808191700-tr-edit](/uploads/d0934385edc7fca4ef65e42173683130/MedalTVGarrysMod20210808191700-tr-edit.webm)

[2021-09-19 11:10] octothorpteam commented on #256
In GitLab by @fin on Aug 18, 2021, 15:50

Это из-за наложения слоев панели инвентаря поверх всех остальных окон. На данный момент это сложно исправить. Советую нажимать Q что бы скрыть инвентарь и потом уже нажимать кнопку "Мой инвентарь" что бы выдавать предметы

[2021-09-19 11:10] #256 closed

[2021-09-19 11:10] octothorpteam opened #257 "Табличка Мукуро отличается от остальных"
In GitLab by @Krou on Aug 9, 2021, 13:04

Фоны всех персонажей на табличках белые, но у Мукуро он черный. Помимо этого ее лицо далековато, по сравнению с остальными
![image](/uploads/2f7e904193fefa94fca352b6adf8f0a2/image.png)

[2021-09-19 11:10] octothorpteam commented on #257
In GitLab by @Mikvoin on Aug 9, 2021, 22:16

assigned to @Mikvoin

[2021-09-19 11:10] octothorpteam opened #258 "Проблемы с Advanced Remover"
In GitLab by @goldflame on Aug 9, 2021, 14:57

Как я понял, если попасть по себе вышеупомянутым ремувером, то начинаются проблемы с руками, физганом, тулганом, нельзя использовать оружие.

[2021-09-19 11:10] octothorpteam commented on #258
In GitLab by @chelog on Aug 18, 2021, 16:16

assigned to @chelog

[2021-09-19 11:10] octothorpteam commented on #258
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit 2f6045bb3ce0feb6a4b46af4dba26a23b38a9c26

[2021-09-19 11:10] #258 closed

[2021-09-19 11:10] octothorpteam opened #259 "Игроки без привилегий могут использовать команду "kill" в консоли"
In GitLab by @goldflame on Aug 9, 2021, 15:04

Точно не уверен, но стоит проверить.

[2021-09-19 11:10] octothorpteam commented on #259
In GitLab by @fin on Aug 18, 2021, 15:30

Игроки без привилегий администратора и выше не могут убивать сами себя.

[2021-09-19 11:10] #259 closed

[2021-09-19 11:10] octothorpteam opened #260 "Недочет с точки зрение канона"
In GitLab by @Lenka on Aug 9, 2021, 16:49

Академия Пик Надежды располагается в Японии, но имеет европейский вид розеток
![image](/uploads/adcac6fef7e0985617fdc7b6cc5f3522/image.png)

[2021-09-19 11:10] octothorpteam commented on #260
In GitLab by @Mikvoin on Aug 9, 2021, 22:16

assigned to @Mikvoin

[2021-09-19 11:10] octothorpteam opened #261 "Баг при перезаходе игры"
In GitLab by @Lenka on Aug 9, 2021, 17:23

После перезахода игры появляется визуальный баг с отображением прически Чихиро
![image](/uploads/704a2074f1dfc3c6f05c79bdbe88f6b2/image.png)

[2021-09-19 11:10] octothorpteam commented on #261
In GitLab by @fin on Aug 18, 2021, 15:42

assigned to @chelog

[2021-09-19 11:10] octothorpteam commented on #261
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit ce415d830788f10f6953308485c7e2438a95f4a3

[2021-09-19 11:10] #261 closed

[2021-09-19 11:11] octothorpteam opened #262 "Варенный рис."
In GitLab by @Lagushka on Aug 10, 2021, 13:06

Подробное описание проблемы:
Варенный рис готовится очень долго и в конце концов не съедобен. Так же при его выбрасывании у игроков еррор.

Что должно было произойти:
Рис съедобен и имеет модельку, вместо еррора

Что произошло на самом деле:
Рис несъедобен, у игроков виден как еррор.

Как повторить:
1. Приготовить рис. 2. Попытаться съесть его, он ока

[2021-09-19 11:11] octothorpteam commented on #262
In GitLab by @Lagushka on Aug 10, 2021, 13:16

В #117 упоминалась данная проблема.

[2021-09-19 11:11] octothorpteam commented on #262
In GitLab by @fin on Aug 18, 2021, 15:25

Рис несъедобен из-за сложностей архитектуры инвентаря и пока реализация подобного проблематична. Модель риса исправлена.

[2021-09-19 11:11] #262 closed

[2021-09-19 11:11] octothorpteam opened #263 "Тарелка"
In GitLab by @Lagushka on Aug 10, 2021, 16:00

**Подробное описание проблемы**

Вместо тарелки еррор(у игрока Зеленый Шум еррора не было). Так же тарелку нельзя было поднять. Но тарелка всё ещё толкается, если попытаться через нее пройти.

**Что должно было произойти**

Вместо еррора - тарелка. Её можно поднять.

**Что произошло на самом деле**

У игроков, включая стримера, еррор на месте тарелки.

[2021-09-19 11:11] octothorpteam commented on #263
In GitLab by @Lagushka on Aug 12, 2021, 15:50

Дополнение: её ещё нельзя удалить.

[2021-09-19 11:11] octothorpteam commented on #263
In GitLab by @fin on Aug 18, 2021, 15:18

assigned to @Mikvoin

[2021-09-19 11:11] octothorpteam commented on #263
In GitLab by @Mikvoin on Aug 26, 2021, 11:10

Исправлено.

[2021-09-19 11:11] #263 closed

[2021-09-19 11:11] octothorpteam opened #264 "Пол в лобби"
In GitLab by @Krou on Aug 11, 2021, 10:43

У трех новых дверей в лобби кривая текстура пола
![image](/uploads/f2ff28c339610beeba6186dbcf5f243c/image.png)

[2021-09-19 11:11] octothorpteam commented on #264
In GitLab by @Mikvoin on Aug 16, 2021, 07:24

assigned to @Mikvoin

[2021-09-19 11:11] octothorpteam commented on #264
In GitLab by @Mikvoin on Aug 26, 2021, 10:53

Исправлено. Изменения вступят в силу в следующем обновлении карты.

[2021-09-19 11:11] #264 closed

[2021-09-19 11:11] octothorpteam opened #265 "Стекло одной из дверей в холле"
In GitLab by @TheHacker- on Aug 11, 2021, 19:50

В холле у левой-левой двери смотря со стороны люка(двери наружу), нету стекла. Текстура чёрная привязана к двери но через неё можно пройти и нельзя сломать. Не особо понимаю как так забаговалось.
![image](/uploads/098fbb1a59b597c50f5add9c770ee2a6/image.png)

[2021-09-19 11:11] octothorpteam commented on #265
In GitLab by @TheHacker- on Aug 12, 2021, 15:21

changed the description

[2021-09-19 11:11] octothorpteam commented on #265
In GitLab by @fin on Aug 18, 2021, 15:19

assigned to @Mikvoin

[2021-09-19 11:11] octothorpteam opened #266 "Проблема со стенами на новой территории"
In GitLab by @Krou on Aug 11, 2021, 19:52

На новой лестнице около сада проблема с тенями
https://youtu.be/Coz4SUItNQg

[2021-09-19 11:11] octothorpteam commented on #266
In GitLab by @fin on Aug 18, 2021, 15:17

assigned to @Mikvoin

[2021-09-19 11:11] octothorpteam commented on #266
In GitLab by @Mikvoin on Aug 26, 2021, 11:12

Исправлено. Изменения вступят в силу в следующем обновлении карты.

[2021-09-19 11:11] #266 closed

[2021-09-19 11:11] octothorpteam opened #267 "Бак с раковинами"
In GitLab by @HistoryFedor on Aug 11, 2021, 20:58

Если посмотреть под них, то можно заметить, что нет текстурки. Касается всех раковин![xL80c9TfSdg](/uploads/f4dc2268514c6fd71398fccf54261974/xL80c9TfSdg.jpg)

[2021-09-19 11:11] octothorpteam commented on #267
In GitLab by @fin on Aug 18, 2021, 15:16

assigned to @Mikvoin

[2021-09-19 11:12] octothorpteam opened #268 "Рёма когда приседает"
In GitLab by @HistoryFedor on Aug 12, 2021, 24:14

Когда за Рёма приседаешь у него появляется тёмный экран![image](/uploads/e36ac908664d18e7b73272870a134447/image.png){{image.png}}

[2021-09-19 11:12] octothorpteam commented on #268
In GitLab by @fin on Aug 18, 2021, 15:15

Мне кажется это больше по части моделей @Mikvoin

[2021-09-19 11:12] octothorpteam opened #269 "Игроки могут пользоваться инвентарём во время сна"
In GitLab by @NeverLucky21 on Aug 12, 2021, 14:47

Возможный недочет, считаю что это так не должно быть.

![image](/uploads/1e2fe9ec4e85ee5e2828c7f550327de4/image.png)

[2021-09-19 11:12] octothorpteam commented on #269
In GitLab by @fin on Aug 18, 2021, 15:14

assigned to @chelog

[2021-09-19 11:12] octothorpteam commented on #269
In GitLab by @chelog on Aug 25, 2021, 19:58

mentioned in commit fe8560f42b92e4f0fa2071c60d451266d7a3e494

[2021-09-19 11:12] #269 closed

[2021-09-19 11:12] octothorpteam opened #270 "Предметы невозможно подобрать с пола"
In GitLab by @NeverLucky21 on Aug 12, 2021, 16:55

Некоторые предметы невозможно взять в руки с пола, предметы как карандаш и кухонные приборы.

https://youtu.be/AM8vuIsC1Pw

[2021-09-19 11:12] octothorpteam commented on #270
In GitLab by @Mikvoin on Aug 13, 2021, 05:54

assigned to @Mikvoin

[2021-09-19 11:12] octothorpteam commented on #270
In GitLab by @Mikvoin on Aug 25, 2021, 23:19

@NeverLucky21
Какие именно кухонные приборы нельзя подобрать?

[2021-09-19 11:12] octothorpteam commented on #270
In GitLab by @NeverLucky21 on Aug 26, 2021, 10:29

![image](/uploads/cfe027a9bf0e1e57c21314ba1e78d5d1/image.png)

[2021-09-19 11:12] octothorpteam commented on #270
In GitLab by @Mikvoin on Aug 26, 2021, 10:32

Исправлено

[2021-09-19 11:12] #270 closed

[2021-09-19 11:12] octothorpteam opened #271 "Новая система эмоций - Слайдеры лиц пересекаются между всеми персонажами"
In GitLab by @NeverLucky21 on Aug 13, 2021, 12:08

Сейчас есть такая проблема, что индивидуально для каждого персонажа делать эмоции с помощью новой функции нельзя, из-за того что слайдеры лица одной эмоции передаются между всеми персонажами. Возможно ли исправить этот недочет и сделать так, чтобы слайдеры не передавались другим персонажам?

Пример, слайдеры (по номеру) эмоции "Горе" Киетаки перед

[2021-09-19 11:12] octothorpteam commented on #271
In GitLab by @fin on Aug 18, 2021, 15:13

Советую для этого использовать facial emotes поскольку данный редактор не предназначен для подобных моделей.

[2021-09-19 11:12] #271 closed

[2021-09-19 11:12] octothorpteam opened #272 "Рычаг электрощитка можно удалить"
In GitLab by @Krou on Aug 14, 2021, 02:56

Рычаг выключения света можно удалить, из-за чего нельзя нормально фиксить темные пропы
![image](/uploads/1ed515cef00025fada8f5686a8da7f82/image.png)

[2021-09-19 11:12] octothorpteam commented on #272
In GitLab by @Mikvoin on Aug 15, 2021, 17:19

assigned to @Mikvoin

[2021-09-19 11:12] octothorpteam opened #273 "F4-меню > Начать игру не работает"
In GitLab by @NeverLucky21 on Aug 15, 2021, 12:49

Страницы с персонажами на данный момент не работает как надо и выдает ошибки. Причина неизвестна, но кажется фиксится перезаходом на сервер.

![image](/uploads/51296363ef16e265c731a5398f3f1381/image.png)

[2021-09-19 11:12] octothorpteam commented on #273
In GitLab by @NeverLucky21 on Aug 15, 2021, 13:03

changed the description

[2021-09-19 11:12] octothorpteam commented on #273
In GitLab by @chelog on Aug 15, 2021, 16:43

@NeverLucky21 пришли сообщение об ошибке из консоли, пожалуйста

[2021-09-19 11:12] octothorpteam commented on #273
In GitLab by @NeverLucky21 on Aug 18, 2021, 16:36

Извиняюсь. Если в следующий раз встречу, то обязательно пришлю.

[2021-09-19 11:12] octothorpteam opened #274 "Неудобства с сортировкой "Создания улик""
In GitLab by @goldflame on Aug 16, 2021, 03:19

Сортировка слетает, как человек закрывает Q-меню и открывает его обратно, из-за чего требуется время чтобы найти и загрузить необходимую улику снова.

Также, сортировка по дате создания в первую очередь ставит время создания, а не день, что видно на скриншоте:

![image](/uploads/ec662a71dd16e45cec6529793be54058/image.png)

[2021-09-19 11:13] octothorpteam commented on #274
In GitLab by @goldflame on Aug 16, 2021, 03:20

changed the description

[2021-09-19 11:13] octothorpteam opened #275 "Черный экран во время суда"
In GitLab by @Heishi on Aug 16, 2021, 07:44

Во время начала классного суда, весь мой экран был черным, кроме интерфейса, звук так же был слышен хуже, чем обычно.
Я без понятия о том, как вызвана эта ошибка, все что я могу предположить, это то, что когда был начат суд, я был в меню выбора эмоции/позы/итд.![v8Mb10rMJzg](/uploads/a3a4af5d13fd5feda63a2f5071129906/v8Mb10rMJzg.jpg)

[2021-09-19 11:13] octothorpteam commented on #275
In GitLab by @Heishi on Aug 16, 2021, 07:44

changed due date to August 16, 2021

[2021-09-19 11:13] octothorpteam commented on #275
In GitLab by @Heishi on Aug 16, 2021, 07:44

assigned to @Heishi

[2021-09-19 11:13] octothorpteam commented on #275
In GitLab by @Mikvoin on Aug 16, 2021, 15:44

@Heishi
Остальные суды проходили нормально?

[2021-09-19 11:13] octothorpteam commented on #275
In GitLab by @Heishi on Aug 16, 2021, 19:45

да, на первом суде все было прекрасно

[2021-09-19 11:13] octothorpteam commented on #275
In GitLab by @chelog on Aug 18, 2021, 15:04

assigned to @chelog and unassigned @Heishi

[2021-09-19 11:13] octothorpteam commented on #275
In GitLab by @chelog on Aug 18, 2021, 15:14

assigned to @fin and unassigned @chelog

[2021-09-19 11:13] octothorpteam commented on #275
In GitLab by @fin on Aug 18, 2021, 16:37

Слишком мало информации либо очень сложно повторить данный баг.

[2021-09-19 11:13] octothorpteam commented on #275
In GitLab by @Heishi on Aug 18, 2021, 16:38

сказал всю известную мне инфу

[2021-09-19 11:13] octothorpteam commented on #275
In GitLab by @fin on Aug 18, 2021, 16:40

removed due date

[2021-09-19 11:13] #275 closed

[2021-09-19 11:13] octothorpteam opened #276 "Чипсы "Poko" восстанавливают жажду"
In GitLab by @Klank on Aug 16, 2021, 14:39

https://youtu.be/IWkTXzRGNxQ Чипсы "Poko" восстанавливают не голод, а жажду

[2021-09-19 11:13] octothorpteam commented on #276
In GitLab by @Klank on Aug 16, 2021, 14:39

assigned to @Klank

[2021-09-19 11:13] octothorpteam commented on #276
In GitLab by @Krou on Aug 17, 2021, 16:45

Это созданный игровым мастером предмет, он ошибся при создании чипсов

[2021-09-19 11:13] octothorpteam commented on #276
In GitLab by @fin on Aug 18, 2021, 15:17

unassigned @Klank

[2021-09-19 11:13] #276 closed

[2021-09-19 11:13] octothorpteam opened #277 "Баг с контейнерами"
In GitLab by @7-th_sky on Aug 16, 2021, 15:22

После удаления контейнера, из него выпадают предметы, которые были в нем. из-за этого возникла проблема с удалением ERROR-ов ![image](/uploads/bbe9920abde6ed3235cd265abf509859/image.png)

[2021-09-19 11:13] octothorpteam commented on #277
In GitLab by @Mikvoin on Aug 16, 2021, 16:15

assigned to @Mikvoin

[2021-09-19 11:13] octothorpteam commented on #277
In GitLab by @Mikvoin on Aug 22, 2021, 13:57

Исправлено

[2021-09-19 11:13] #277 closed

[2021-09-19 11:13] octothorpteam opened #278 "Не выдается доступ рангам на приватных серверах"
In GitLab by @Mikvoin on Aug 18, 2021, 11:22

Если выдать роль у которого есть `[DRO] Entry Bypass`, то человек по-прежнему не сможет зайти на сервер без `auth_allowentry`

[2021-09-19 11:14] octothorpteam commented on #278
In GitLab by @fin on Aug 18, 2021, 14:34

assigned to @fin

[2021-09-19 11:14] #278 closed

[2021-09-19 11:14] octothorpteam opened #279 "Advanced Duplicator не сохраняет предметы внутри контейнера"
In GitLab by @Krou on Aug 19, 2021, 15:04

Недавно было обновление, при котором Advanced Dublicator начал копировать предметы внутри контейнеров. Сегодня, 19.08, на Test сервере эта фича не работает

[2021-09-19 11:14] octothorpteam opened #280 "Недочёт в карте, возле решётки у библиотеки"
In GitLab by @TheHacker- on Aug 19, 2021, 17:27

Возле библиотеки где находиться новый проход есть недочёт у стен с обеих сторон решётки.
![image](/uploads/32caa8b375bd4c1909c8fcfe08e5f368/image.png)
![image](/uploads/7c53454a60362b7283981d7491fc4e1a/image.png)

[2021-09-19 11:14] octothorpteam commented on #280
In GitLab by @Mikvoin on Aug 26, 2021, 10:32

assigned to @Mikvoin

[2021-09-19 11:14] octothorpteam commented on #280
In GitLab by @Mikvoin on Aug 26, 2021, 10:52

Исправлено. Изменения вступят в силу в следующем обновлении карты.

[2021-09-19 11:14] #280 closed

[2021-09-19 11:14] octothorpteam opened #281 "При перезаходе в игру слетает персонаж"
In GitLab by @cherrymiku on Aug 19, 2021, 21:50

У людей, которые находятся в игре, после перезахода/вылета слетает персонаж, соответственно пропадают все вещи из инвентаря и это очень сильно мешает. Также они выпадают из игры, т.е их нужно добавлять обратно.

[2021-09-19 11:14] octothorpteam opened #282 "Баг с анимациями при переносе"
In GitLab by @TheHacker- on Aug 20, 2021, 10:58

При переносе большого количества вещей в руках, у персонажа выдвинуты руки вперёд.
Но если использовать какие-либо анимаций или же просто войти в боевую стойку.
То выдвинутые руки вперёд пропадают. Этого не должно быть, ведь так?
![image](/uploads/aa18d700a5b2a51ed1060d4c294b1d13/image.png)
![image](/uploads/5032a44f11ac60967b5dda96bfc33b21/image.pn

[2021-09-19 11:14] octothorpteam opened #283 "При использовании команды "ragdoll" персонажа считает мёртвым"
In GitLab by @goldflame on Aug 20, 2021, 18:02

ну тут больше нечего сказать по этому поводу

[2021-09-19 11:14] octothorpteam commented on #283
In GitLab by @goldflame on Aug 20, 2021, 18:02

changed title from **При использовании команды "ragdoll"{-,-} персонажа считает мёртвым** to **При использовании команды "ragdoll" персонажа считает мёртвым**

[2021-09-19 11:14] octothorpteam commented on #283
In GitLab by @goldflame on Aug 21, 2021, 19:38

changed the description

[2021-09-19 11:14] octothorpteam commented on #283
In GitLab by @fin on Sep 3, 2021, 15:04

assigned to @fin

[2021-09-19 11:14] octothorpteam opened #284 "Пиксель-портрет Сакуры Огами ставиться на дверь не верно."
In GitLab by @NeverLucky21 on Aug 21, 2021, 13:38

Пиксель-портрет Сакуры Огами ставиться на дверь не верно. Он встает задом наперед.

![gmod_JnztWIsEOd](/uploads/51a19bee42c5ad13ecba6b2bf78803a1/gmod_JnztWIsEOd.jpg)

![gmod_4dS0T3FAaL](/uploads/d4e6d47b3a2ef846d99aad0ff74862fe/gmod_4dS0T3FAaL.png)

[2021-09-19 11:14] octothorpteam commented on #284
In GitLab by @Mikvoin on Aug 21, 2021, 23:02

@NeverLucky21
Уже отписывал, что в редакторе неверно выставлена дверь. Это может исправить любой человек, который имеет доступ к редактору карт.

[2021-09-19 11:14] #284 closed

[2021-09-19 11:14] octothorpteam opened #285 "Графически подвисающие иконки предметов инвентаря"
In GitLab by @goldflame on Aug 21, 2021, 15:42

При наведении курсора на один из предметов в инвентаре и при его закрытии — иконка предмета может графически висеть в игре. Исправляется повторным открытием инвентаря и наведением на подвисший предмет.

![image](/uploads/2aa4134a03dc167af4d278f160f9f6f7/image.png)

[2021-09-19 11:14] octothorpteam commented on #285
In GitLab by @goldflame on Aug 21, 2021, 16:41

changed the description

[2021-09-19 11:14] octothorpteam commented on #285
In GitLab by @goldflame on Aug 22, 2021, 14:49

changed the description

[2021-09-19 11:14] octothorpteam opened #286 "Иконка включённого микрофона отображается без причины"
In GitLab by @goldflame on Aug 21, 2021, 17:28

Иногда, несмотря на незажатую клавишу активации микрофона, иконка включённого микрофона отображается в любом случае. Не знаю, действительно ли из-за этого человека слышно.

[2021-09-19 11:14] octothorpteam commented on #286
In GitLab by @goldflame on Aug 21, 2021, 19:40

changed the description

[2021-09-19 11:14] octothorpteam opened #287 "Люди в вайтлисте"
In GitLab by @Klank on Aug 22, 2021, 12:07

Люди на Private 1 могут заходить так как у них есть доступ (ГМ или админ на этой игре его пока не выдавали) https://youtu.be/gUf_AS2N9SA

[2021-09-19 11:15] octothorpteam commented on #287
In GitLab by @Klank on Aug 22, 2021, 12:07

assigned to @Klank

[2021-09-19 11:15] octothorpteam commented on #287
In GitLab by @Mikvoin on Aug 26, 2021, 12:08

@Klank
Мы исправим это, когда переработаем конфиг игр и выдачу доступа.

[2021-09-19 11:15] octothorpteam opened #288 "Таинственная пропажа модельки"
In GitLab by @7-th_sky on Aug 22, 2021, 18:48

Когда человек поднимается на 3-й этаж, то большинство игроков перестают видеть модельку игрока. Лишь ноги. При поднятии на 4 этаж, он пропадает вообще
![image](/uploads/f83db1443b96d2a6335db9e8808e750e/image.png)
![image](/uploads/3b7a35bbd2879863e36a4f76eaf7f097/image.png)

[2021-09-19 11:15] octothorpteam commented on #288
In GitLab by @7-th_sky on Aug 22, 2021, 18:49

changed title from **Таинственн{-ое изображение-} модельки** to **Таинственн{+ая пропажа+} модельки**

[2021-09-19 11:15] octothorpteam opened #289 "Эмо-спрайты аргументов(У Омы и Миу)"
In GitLab by @Derevashka on Aug 22, 2021, 22:44

На суде, в 12 эпизоде, спрайты аргументов у Кокичи и Миу у меня оказывались эмо-текстурами. Такими были ТОЛЬКО спрайты аргументов, остальные были в норме

[2021-09-19 11:15] octothorpteam commented on #289
In GitLab by @Derevashka on Aug 22, 2021, 22:44

changed the description

[2021-09-19 11:15] octothorpteam commented on #289
In GitLab by @Mikvoin on Aug 26, 2021, 12:07

@Derevashka
Такими были все спрайты опровержения Омы и Миу или какие-то были нормальными?

[2021-09-19 11:15] octothorpteam opened #290 "Свет от "Фонарик""
In GitLab by @Krou on Aug 23, 2021, 14:37

Свет от "Фонарик" работает только у одного игрока, у остальных свет выходит лишь один раз, когда человек включает фонарик. После этого игрок двигается, а свет остается в начальной позиции
![image](/uploads/b684cafee18202cd66798f266810962a/image.png)

[2021-09-19 11:15] octothorpteam commented on #290
In GitLab by @fin on Sep 3, 2021, 15:02

assigned to @fin

[2021-09-19 11:15] octothorpteam opened #291 "Баг с анимациями при ходьбе"
In GitLab by @Lagushka on Aug 25, 2021, 16:48

**Подробное описание проблемы**

Если активировать позы (указать пальцем, остановить, поднять руки, руки за голову) во время ходьбы, то ты потом можешь с ними бегать, прыгать и т.д. Если остановиться, то поза не спадает и надо нажимать ПКМ или менять позу на другую. Моделька ломается, если включать анимации(танца и т.д.) через консоль(руки начинают се

[2021-09-19 11:15] octothorpteam commented on #291
In GitLab by @fin on Sep 3, 2021, 15:03

assigned to @chelog

[2021-09-19 11:15] octothorpteam opened #292 "После end_game пропало все оружие"
In GitLab by @Mikvoin on Aug 26, 2021, 10:23

[2021-09-19 11:15] octothorpteam opened #293 "Баг с оружием, созданным через "octoinv_give""
In GitLab by @Anal_Ninja on Aug 27, 2021, 19:49

Оружие, созданное через "octoinv_give", берет описание и название от предмета, которое было выбрано как оружие
https://youtu.be/ilIuZzB2cNo

[2021-09-19 11:15] octothorpteam opened #294 "Не закрывается картинка при низком разрешении монитора"
In GitLab by @goldflame on Aug 27, 2021, 20:10

Если, имея низкое разрешение окна игры, либо самого монитора, изучить проп со свойством "Осмотреть", и при этом изображение будет достаточно высокого размера относительно размера окна игры — его попросту нельзя будет закрыть. Придётся перезаходить на сервер либо в игру.

[2021-09-19 11:15] octothorpteam commented on #294
In GitLab by @goldflame on Aug 27, 2021, 20:10

changed the description

[2021-09-19 11:15] octothorpteam opened #295 "Варенный картофель"
In GitLab by @Lagushka on Aug 28, 2021, 01:02

**Подробное описание проблемы**

Рецепт варенного картофеля в книге рецептов не соответствует действительности. В списке ингредиентов не хватает специй.

**Как повторить**

1. Попытаться приготовить картофель по книге рецептов. 2. Разочароваться.

[2021-09-19 11:15] octothorpteam opened #296 "Админ-тул не выдает доступ игрокам"
In GitLab by @Mikvoin on Aug 28, 2021, 01:07

При введении SteamID в чате выводится следующее:
- ![](https://i.imgur.com/qvfMcXE.png)

[2021-09-19 11:15] octothorpteam commented on #296
In GitLab by @Mikvoin on Aug 28, 2021, 01:07

changed the description

[2021-09-19 11:15] octothorpteam opened #297 "Перемещение в центр после суда"
In GitLab by @Lagushka on Aug 28, 2021, 01:23

**Подробное описание проблемы**

После окончания суда (голосования) одного из игроков перемещает в [центр](https://youtu.be/ASMErtJpmnQ?t=26019) круга из трибун.

**Как повторить**

1. Закончить голосование. 2. Один из игроков окажется в центре круга из трибун.

[2021-09-19 11:15] octothorpteam commented on #297
In GitLab by @fin on Sep 3, 2021, 15:02

assigned to @fin

[2021-09-19 11:15] octothorpteam commented on #297
In GitLab by @fin on Sep 3, 2021, 17:46

Сложно повторить данный баг, нужно больше информации

[2021-09-19 11:16] octothorpteam opened #298 "Не выдаётся персонаж при выборе"
In GitLab by @TheHacker- on Aug 28, 2021, 10:58

Цумуги Широгане не выдаётся игроку когда он его выбирает в меню F4. Причина этого скорей всего скрыта где-то в коде. Этого персонажа даже нету в игре в данный момент. Администраторы не могут его даже выдать самим себе или кому-либо другому!

[2021-09-19 11:16] octothorpteam commented on #298
In GitLab by @TheHacker- on Aug 28, 2021, 11:10

changed the description

[2021-09-19 11:16] octothorpteam opened #299 "Вертикальная дверь открывается не в ту сторону"
In GitLab by @goldflame on Aug 28, 2021, 16:10

Не знаю по поводу остальных дверей, но эта явно открывается не так?

![image](/uploads/ffcb84a5606edc6e4f9534da9e772f44/image.png)

[2021-09-19 11:16] octothorpteam commented on #299
In GitLab by @Mikvoin on Aug 29, 2021, 16:49

@goldflame
Я специально так сделал, ибо если она будет открываться в обратную сторону, то будет выходить на второй этаж. Если это режет глаз, то могу что-нибудь придумать и поменять проход.

[2021-09-19 11:16] octothorpteam commented on #299
In GitLab by @Mikvoin on Aug 29, 2021, 16:49

assigned to @Mikvoin

[2021-09-19 11:16] octothorpteam opened #300 "Контейнеры заходят за рамки окна игры"
In GitLab by @goldflame on Aug 28, 2021, 18:29

Если обыскать достаточное количество контейнеров за раз, то выходит то, что на картинке ниже. Листать влево-вправо нельзя.

![image](/uploads/b4ef1eb5826fa44a02623ef6483652c2/image.png)

[2021-09-19 11:16] octothorpteam commented on #300
In GitLab by @goldflame on Aug 29, 2021, 11:22

changed title from **Контейнеры заходят за рамки окна игры{-.-}** to **Контейнеры заходят за рамки окна игры**

[2021-09-19 11:16] octothorpteam opened #301 "Правая дверь в саду на 5 этаже иногда становятся невидимой"
In GitLab by @Krou on Aug 28, 2021, 23:22

На двух серверах правая дверь была невидимой. Причина неизвестна, ГМы никак на них не воздействовали<br>
Скриншоты сделаны 28.08.21 в 11 по МСК.<br>
На Private 2 все нормально<br>
На Main, Private 1 и 3 серверах:<br>
![image](/uploads/71fa198a90991c73af1388ed52d0d9f3/image.png)<br>

[2021-09-19 11:16] octothorpteam commented on #301
In GitLab by @Krou on Aug 28, 2021, 23:36

changed the description

[2021-09-19 11:16] octothorpteam commented on #301
In GitLab by @Mikvoin on Sep 3, 2021, 22:46

assigned to @Mikvoin

[2021-09-19 11:16] octothorpteam opened #302 "Не работающая кнопка Q"
In GitLab by @Sakusana on Aug 29, 2021, 09:18

Не работает меню персонажа, т.е Q. Ничего не помогает, возможно дело в этой ошибке!![YDa_kwSc0MY](/uploads/e186242b6295f761e78ec3e6eb3ed45b/YDa_kwSc0MY.jpg)

[2021-09-19 11:16] octothorpteam commented on #302
In GitLab by @Sakusana on Aug 30, 2021, 16:20

Ошибка была в том что гаррис мод убрал мне бинд хд

[2021-09-19 11:16] #302 closed

[2021-09-19 11:16] octothorpteam opened #303 "Опечатка"
In GitLab by @Stalker on Aug 29, 2021, 12:22

Опечатка на википедии![sNFwcmOTuZM](/uploads/9637e4d280223e4159cac83e4c29e83e/sNFwcmOTuZM.jpg)

[2021-09-19 11:16] octothorpteam commented on #303
In GitLab by @Mikvoin on Aug 29, 2021, 16:47

assigned to @Mikvoin

[2021-09-19 11:16] octothorpteam commented on #303
In GitLab by @Mikvoin on Aug 29, 2021, 16:48

Убрал персонажей. Информация о моделях есть в разделе: [Действующие персонажи](https://wiki.octothorp.team/ru/dro/characters)

[2021-09-19 11:16] #303 closed

[2021-09-19 11:16] octothorpteam opened #304 "Рецепт жареного мяса недействителен."
In GitLab by @Misha on Aug 29, 2021, 21:23

Игроки не могли приготовить его, используя ингредиенты и приборы, которые указаны в рецептуре.

1. Попробовать самому приготовить. 2. Не получилось - реально не работает.

[2021-09-19 11:16] octothorpteam commented on #304
In GitLab by @fin on Sep 3, 2021, 15:00

assigned to @fin

[2021-09-19 11:16] octothorpteam commented on #304
In GitLab by @fin on Sep 3, 2021, 17:40

Все готовится как нужно

[2021-09-19 11:16] octothorpteam opened #305 "Камера Хифуми становится черной, когда он приседает (кнтрл) или же использует сидячие позы на F2"
In GitLab by @Misha on Aug 29, 2021, 21:33

https://disk.yandex.ru/i/23jvU8ayKlmo1w

[2021-09-19 11:16] octothorpteam commented on #305
In GitLab by @Misha on Aug 29, 2021, 21:34

changed the description

[2021-09-19 11:17] octothorpteam commented on #305
In GitLab by @fin on Sep 3, 2021, 14:59

assigned to @fin

[2021-09-19 11:17] #305 closed

[2021-09-19 11:17] octothorpteam opened #306 "Тени через этажи"
In GitLab by @HistoryFedor on Aug 29, 2021, 22:36

Тени персонажей падают через этажи.![dro_hopespeak_3006210007](/uploads/5c7b93305ff0eaaf70f884784d5d10ad/dro_hopespeak_3006210007.png)

[2021-09-19 11:17] octothorpteam opened #307 "Квадраты Малевича на классном суде"
In GitLab by @HistoryFedor on Aug 29, 2021, 22:38

![dro_hopespeak_3006210009](/uploads/b7a09741a539ec4ff0da918d09971edc/dro_hopespeak_3006210009.png)

[2021-09-19 11:17] octothorpteam commented on #307
In GitLab by @fin on Sep 3, 2021, 14:59

assigned to @fin

[2021-09-19 11:17] #307 closed

[2021-09-19 11:17] octothorpteam opened #308 "Test"
In GitLab by @Mikvoin on Aug 30, 2021, 20:57

[2021-09-19 11:17] #308 closed

[2021-09-19 11:17] octothorpteam opened #309 "Во время казни может начаться расследование"
In GitLab by @Mikvoin on Aug 31, 2021, 01:32

Во время стадии игры: "Казнь" может начаться стадия: "Расследование", если труп обнаружат. Так быть не должно.

[2021-09-19 11:17] octothorpteam commented on #309
In GitLab by @fin on Sep 3, 2021, 14:58

assigned to @fin

[2021-09-19 11:17] #309 closed

[2021-09-19 11:17] octothorpteam opened #310 "Камера за сферой при: "Взглянуть на себя""
In GitLab by @Mikvoin on Aug 31, 2021, 01:56

Взял оружие и:
![](https://i.imgur.com/6Eyd5Ob.png)

[2021-09-19 11:17] octothorpteam commented on #310
In GitLab by @fin on Sep 3, 2021, 14:57

assigned to @fin

[2021-09-19 11:17] octothorpteam commented on #310
In GitLab by @fin on Sep 3, 2021, 16:23

Как не пытался не получается воспроизвести баг

[2021-09-19 11:17] octothorpteam opened #311 "Логи о выдаче оружия видят игроки"
In GitLab by @Mikvoin on Aug 31, 2021, 20:59

![](https://i.imgur.com/tnTefk5.png)

[2021-09-19 11:17] octothorpteam commented on #311
In GitLab by @fin on Sep 3, 2021, 14:57

assigned to @fin

[2021-09-19 11:17] #311 closed

[2021-09-19 11:17] octothorpteam opened #312 "Радиус обнаружения трупа"
In GitLab by @Megu on Sep 1, 2021, 16:13

Мне кажется, что радиус обнаружения трупа слишком большой. Я едва видела труп Хифуми, но у меня уже потемнело в глазах. Мне кажется, его нужно сделать меньше, чтобы не было конфузов с обнаружением, к примеру, в темноте. (он находится справа от двери AV) ![Скриншот_29-08-2021_162122](/uploads/c3ec286508fadf49491a6e764d23e5d2/Скриншот_29-08-2021_162122.png)

[2021-09-19 11:17] octothorpteam commented on #312
In GitLab by @Megu on Sep 1, 2021, 16:13

assigned to @Megu

[2021-09-19 11:17] octothorpteam commented on #312
In GitLab by @Megu on Sep 1, 2021, 16:13

changed the description

[2021-09-19 11:17] octothorpteam commented on #312
In GitLab by @fin on Sep 3, 2021, 14:57

unassigned @Megu

[2021-09-19 11:17] octothorpteam commented on #312
In GitLab by @fin on Sep 5, 2021, 24:16

assigned to @fin

[2021-09-19 11:18] #312 closed

[2021-09-19 11:18] octothorpteam opened #313 "Исчезновение половины тела детей при использовании позы лотоса"
In GitLab by @GreenShum on Sep 5, 2021, 08:00

При использовании позы лотоса у детей  из AE пропадает часть их тела ![EpjzIySMBls](/uploads/1be029e553479ddf2e572d6168d7612b/EpjzIySMBls.jpg)

[2021-09-19 11:18] octothorpteam opened #314 "Проблемы со спавном"
In GitLab by @Stalker on Sep 5, 2021, 11:00

После суда игроки появляются в центре/застревают в стойке. При этом способ выбора тех, кто появляется в центре — абсолютно рандомен. Иными словами, в центр может встать кто угодно, даже Монокума![dro_hopespeak_3006210018](/uploads/75de28337ed9f5ed55f8df166d6eb747/dro_hopespeak_3006210018.jpg)![dro_hopespeak_3006210021](/uploads/5b191a8ea209d4f4522e914fa

[2021-09-20 11:47] FinIsOro opened #315 "Тест"
Тест

[2021-09-20 11:47] #315 closed

[2021-09-28 16:26] misha-ctrl opened #316 "Микрофон, который не пропадает, когда кнопка X не нажата"
Пролетая в ноуклипе с нетронутым микрофоном, он внезапно включается и остается. Иконка горит, хотя ты даже не нажимаешь на X. Отжимается она только в том случае, если ты нажмешь на кнопку X. Такого быть не должно, иначе с включенным микрофоном можно кашлянуть/сказать лишнего и игроки, проходящие мимо, могут это услышать. Микрофон должен задействоваться при желании, а не баговано.

Я не могу сказат

[2021-10-03 09:28] SaintKrou opened #319 "Огонь на классном суду кикает всех игроков"
Этот баг, вероятно, никогда не произойдет ни на оф.игре, ни на приватке, однако если поджечь место суда, а затем начать классный суд, то всех игроков кикнет по причине "Client 0 overflowed reliable channel."

https://youtu.be/UTcFQkQfqlU

[2021-10-09 09:21] SaintKrou opened #320 "Иконки тайн академии - Error"
Как я понял, после изменения папки с иконками, не был изменен путь к ним, что и вызвало проблему ниже
![image](https://user-images.githubusercontent.com/91148905/136652438-20ff513c-ed32-478e-b3e3-06ab3670ba02.png)

[2021-10-09 09:26] SaintKrou opened #321 "Easy Bonemerge Tool не может выбрать другого игрока"
Easy Bonemerge Tool не может выбрать другого игрока, дабы на него что-то одеть, однако можно выбрать себя.

[2021-10-14 13:43] RanamNinja opened #322 "Интерфейс суда"
10.10 числа, на игре "Эпизод 32.1", произошел такой баг на последнем суде : когда голосование закончилось, на экране игроков остался интерфейс суда, а сами игроки не видели друг-друга. Вместе с этим, перед началом голосования, команда, которая меняет статус игры - не работала, и пришлось работать с моно-меню. Происхождение неизвестно, однако, возможно, это связанно с тем, что изначально я написал

[2021-10-14 13:50] RanamNinja opened #323 "Баг с пропами"
10.10 числа, на игре "Эпизод 32.1", был замен такой баг ближе к концу игры : пропы, которые не были зафриженны, могли летать по карте, пролетать через стены и пол, а при спауне - резко отлетали в сторону. Происхождение бага неизвестно.

[2021-10-18 08:28] Sakusana opened #324 "Баги с пропами(?)"
### Что наблюдается?

Когда нажимаешь по предмету он тебя отталкивает и с помощью него ты крутишься х

https://user-images.githubusercontent.com/92716833/137695325-e11cf846-9a83-4ca3-84e0-02cc65752185.mp4

### Как это должно работать?

Ты не должен вращаться от этого

### Как это повторить?

1. подойти к пропу...к примеру ваза
2. Зажать лкм и начать вращать аккуратно мышкой

### Ошибки в консоли

[2021-10-18 10:18] mikvoin commented on #323
Было исправлено:
![](https://i.imgur.com/N76Ihdc.png)

[2021-10-18 10:18] #323 closed, assigned to nobody

[2021-10-18 10:45] #298 closed

[2021-10-18 10:46] mikvoin commented on #296
При введении через админ-тул доступ не выдается и пишется то, что указано выше.

[2021-10-18 10:48] mikvoin commented on #294
Насколько низкое разрешение должно быть?

[2021-10-18 10:50] GoldFlame commented on #294
Не смогу точно сказать. Проблема возникла не у меня.

[2021-10-18 10:52] mikvoin commented on #294
@FinIsOro
Стоит добавить возможность закрыть изображение с помощью кнопки `ESC`

[2021-10-18 10:57] mikvoin commented on #292
В случае, если статус игры переключается на `end_game`, то у всех игроков пропадает оружие на колесико мыши (физган, руки и т.д.). Исправляется переключением на любой другой статус (`preparation` и т.д.)

[2021-10-18 10:59] mikvoin commented on #289
Нужно проверить, актуально ли это по сей день.

[2021-10-18 11:02] mikvoin commented on #265
Не совсем понимаю о чем идет речь

[2021-10-18 11:49] mikvoin commented on #245
https://github.com/danganronpa-online/public-gmod/issues/292

[2021-10-18 11:49] #245 closed

[2021-10-18 11:52] mikvoin commented on #213
https://github.com/danganronpa-online/public-gmod/issues/292

[2021-10-18 11:55] mikvoin commented on #196
Исправлено

[2021-10-18 11:55] #196 closed

[2021-10-18 11:57] mikvoin commented on #180
При создании нового плейлиста остается музыка с предыдущего плейлиста. Это очень неудобно.

[2021-10-18 11:57] mikvoin commented on #178
Исправлено

[2021-10-18 11:57] mikvoin commented on #169
Исправлено

[2021-10-18 11:57] #169 closed

[2021-10-18 11:58] mikvoin commented on #131
Исправлено

[2021-10-18 12:03] mikvoin commented on #128
Как временное решение, мы можем сделать модель серверной и просто перезагружать постоянные предметы.

[2021-10-18 12:04] mikvoin commented on #116
Исправлено

[2021-10-18 12:09] mikvoin commented on #59
Необходимо поменять принцип действия команды `!stripweapons`. Вместо полной очистки, он должен очищать только инвентарь игрока.

[2021-10-18 12:22] mikvoin commented on #60
Необходимо убрать возможность прописывать значение в ноль и добавить команду, которая позволит убить ведущего или любого другого персонажа, не добавляя его в игру.

[2021-10-18 12:22] mikvoin commented on #71
Необходимо убрать эту кнопку из меню взаимодействия с предметами

[2021-10-18 12:23] mikvoin commented on #324
Можно добавить условие, что если проп зафрижен, то на игрока не будет влиять сопротивление

[2021-10-18 14:47] mikvoin commented on #322
@RanamNinja, ошибку с проваливанием пропов исправили.  #323

[2021-10-19 02:29] SaintKrou opened #326 "Проблема с доступами у рангов"
### Что наблюдается?

Ранги "Игровой мастер" и "Администратор" не могут редактировать эмоции персонажей. Второму, возможно, это не понадобится, но думаю доступ выдать можно.

### Как это должно работать?

У "Игровой мастер" и "Администратор" должен быть доступ к редактированию эмоций персонажа

### Как это повторить?

1) Открыть настройки эмоций персонажа (зажать C и выбрать Facial Emote), имея ну

[2021-10-20 21:26] NeverLucky21 opened #327 "Несколько ошибок на карте"
### Что наблюдается?

Нашел несколько ошибок на карте dro_hopespeak (последней версии), когда маппил.

![gmod_8hy3Ut1iJX](https://user-images.githubusercontent.com/40503335/138157880-dbbe4c1b-3aab-4266-8f51-9b806b1fa660.png)
![gmod_FYBv9zHl2B](https://user-images.githubusercontent.com/40503335/138157897-c0d79959-b3b3-41ec-b836-fca9381a0277.jpg)
![gmod_kAMSq4DQgn](https://user-images.githubusercont

[2021-10-24 10:16] 7thskyy opened #328 "При большом кол-ве доступов ломается сервер"
### Что наблюдается?

Когда доступов ОЧЕНЬ много, то вся система начинает ломаться и выкидывать ВСЕХ игроков с сервера. Нельзя сделать ничего. Ни удалить любой другой доступ, ни добавить новый.
![image](https://user-images.githubusercontent.com/93077155/138589629-71f06209-501f-43fa-b4d9-9c47149ee8fc.png)

### Как это должно работать?

Доступы должны чиститься вручную, либо автоматически.

### Как

[2021-10-24 18:52] SaintKrou opened #329 "Фон на изображении зеленого фона"
### Что наблюдается?

У изображения Ремы зеленый фон
https://i.imgur.com/eNYAfrX.png

### Как это должно работать?

Зеленого фона не должно быть

### Как это повторить?

1) Начать голосование
2) Взглянуть на Рему

### Ошибки в консоли

[code]

### Обратная связь

Krou#2034

[2021-10-26 15:30] SaintKrou opened #330 "Проблемы с камерой у Мондо"
### Что наблюдается?

Играя за Мондо у игрока посередине экрана находится коричневая линия - часть волос Мондо
https://i.imgur.com/iclXy7F.png

### Как это должно работать?

Либо через камеру не видны волосы Мондо, либо полностью видны, но явно не полоска

### Как это повторить?

1) Взять Мондо

### Ошибки в консоли

[code]

### Обратная связь

Krou#2034

[2021-10-26 15:41] SaintKrou opened #331 "Отсутствует красная обводка у персонажей V3 и AE на голосовании"
### Что наблюдается?

У всех персонажей из V3 и AE (character3_* и character4_*) на иллюстрациях, что показывают на голосовании, нет красной обводки. У персонажей 1, 2, Zero и Хейши (ОСа) обводка присутствует
![image](https://user-images.githubusercontent.com/91148905/138912952-e6739153-5281-4e10-aeba-1cffb7bc4224.png)
![image](https://user-images.githubusercontent.com/91148905/138912932-b4fd26c7-

[2021-10-26 15:47] SaintKrou opened #332 "Проблемы с Рейко Вакай"
### Что наблюдается?

У Character6_2 (Рейко Вакай, ОСа) нет изображения на головании, а также изображение в углу и пиксельная иконка аргумента неправильно отображаются
![image](https://user-images.githubusercontent.com/91148905/138913613-d9d20640-770d-4ed6-8606-e27d20efb2fb.png)
![image](https://user-images.githubusercontent.com/91148905/138914234-70aa6858-9ee3-42ea-bac6-4d42590473df.png)

### Как

[2021-10-26 16:00] SaintKrou opened #333 "Отличие табличек у детей из AE и ОСов"
### Что наблюдается?

У детей (у character4_1 все нормально) из AE (character4_2 - character4_6) и ОСов (character6_*) черные фоны на табличках после смерти, а также их лицо в меньшем масштабе, чем у остальных. У всех прочих персонажей белый фон и масштаб почти не охватывает грудь
![image](https://user-images.githubusercontent.com/91148905/138916783-bfa8d511-fad6-4ef0-8080-e5e640d08e8c.png)

### К

[2021-10-26 16:04] SaintKrou opened #334 "На лестнице с 3 по 4 этаж дыра в карте hopespeak"
### Что наблюдается?

В углу видна на лестнице с 3 по 4 этаж дыра в карте, через которую можно слегка подглядывать за 4 этажем
![image](https://user-images.githubusercontent.com/91148905/138917254-1d9ea015-1436-4f9b-a24a-86149a2dee50.png)

### Как это должно работать?

Дыры не должно быть

### Как это повторить?

1) Подняться на ~7 ступеньку начиная с 3 этажа
2) Взглянуть в левый угол в сторону ко

[2021-10-26 16:07] SaintKrou opened #335 "Пермапроп в текстурах за сценой в спортзале"
### Что наблюдается?

В правом углу за сценой в спортзале (слева от нового прохода), если отодвинуть одну из досок, то можно увидеть другую застрявшую в текстурах доску
![image](https://user-images.githubusercontent.com/91148905/138917942-e52c936b-7547-434a-81f8-9d0ca4d27b5f.png)

### Как это должно работать?

Ее нужно удалить

### Как это повторить?

1) Войти в спортзал
2) Подойти к углу
3) Отодв

[2021-10-26 16:20] SaintKrou commented on #310
Смог воспроизвести баг только застяв в текстурах пола, но не думаю, что это стоит учитывать
https://i.imgur.com/iwAL8H8.png

[2021-10-26 16:30] SaintKrou commented on #295
В рецепте крафта отсутствуют специи. Свяжусь с создателем книги рецептов для обновления

[2021-10-26 16:43] SaintKrou commented on #289
У ВСЕХ персонажей Error аргументы @mikvoin

[2021-10-26 16:44] SaintKrou commented on #289
Спрайты опровержения норм

[2021-10-26 16:46] SaintKrou commented on #279
Не актуально

[2021-10-26 16:50] mikvoin opened #338 "Неверное отображение статуса после подключении к серверу"
### Что наблюдается?

Текущий статус - игра, а при открытии худа показывается "Подготовка".
![](https://i.imgur.com/MJtMrXS.png)

### Как это должно работать?

После подключения к серверу и открытию худа должен показываться актуальный статус игры.

### Как это повторить?

1. Сменить статус на `game`
2. Присоединиться к серверу
3. Открыть интерфейс на `Q`

### Ошибки в консоли

[code]

### Обратная

[2021-10-26 16:52] SaintKrou commented on #209
Не актуально

[2021-10-26 16:53] SaintKrou commented on #208
Не актуально

[2021-10-26 16:58] SaintKrou commented on #198
Не смог понять как повторить. Пробовал через консоль - не получилось

[2021-10-26 17:03] SaintKrou commented on #240
![image](https://user-images.githubusercontent.com/91148905/138926632-0675dad4-e2fd-43f3-a67a-bd30b1ffdafc.png)

[2021-10-26 17:08] SaintKrou commented on #164
У пропа шкафа нет столкновений

[2021-10-26 17:14] SaintKrou commented on #79
2 актуально, но возможно из-за того, что у всех персов сейчас такие аргументы

[2021-10-26 17:20] SaintKrou opened #339 "Ошибка в консоли при нажатии на Q-меню во время end_round"
### Что наблюдается?

Ничего плохого, но высвечивается сообщение об ошибки в углу, когда нажимаешь Q во время end_round

### Как это должно работать?

Либо Q-меню не работает во время end_round, либо просто не появляется ошибки в углу

### Как это повторить?

1) Дождаться смены раунда
2) Нажать Q

### Ошибки в консоли

[code]

### Обратная связь

Krou#2034

[2021-10-26 17:20] Jewaramir commented on #88
![image](https://user-images.githubusercontent.com/56727770/138929171-9222940a-f6a5-47d8-a742-eedafbdf4571.png)

[2021-10-26 17:32] SaintKrou opened #340 "Обход заморозки во время end_round"
### Что наблюдается?

Если во время end_round игрок находится в анимации, то по окончании анимации, во время экрана "Продолжение следует" игрок может двигаться и говорить в чат.

Тоже самое с кроватью. Игрок во время смены раунда может проснуться и ходить, или же, если игрок смотрит на кровать, лечь на нее и встать

https://youtu.be/46Ar4IDeuW4

### Как это должно работать?

Игроки должны во время

[2021-10-26 17:33] mikvoin commented on #88
@LenkaYandere, может ли быть такое, что у тебя измененная версия модели? Я так понимаю, что она розовая из-за того, что не может определить lightwrap. Проверь корневую папку и папку с аддонами.

[2021-10-26 17:35] SaintKrou commented on #339
При повторной попытки проблема пропала. Не знаю причины бага, а также не могу повторить, так что закрою

[2021-10-26 17:35] #339 closed, assigned to nobody

[2021-10-26 17:39] 7thskyy commented on #288
При подъёме по лестнице на 3-й этаж моделька становится невидимой. Но вплоть до сегодняшнего момента этого более не замечалось.

[2021-11-06 19:12] SaintKrou opened #341 "Цвет физгана у ранга "Сюжетная роль""
### Что наблюдается?

Цвет физгана у сюжетной роли красный, из-за чего видно, что человек хватает предмет физганом
![image](https://user-images.githubusercontent.com/91148905/140621125-153efb12-d77a-4ffb-9f74-5e145f5a1753.png)

### Как это должно работать?

Цвет физгана должен быть прозрачным

### Как это повторить?

1) Выдать игроку ранг "Сюжетная роль"
2) Этот игрок должен взять какой-то проп фи

[2021-11-07 09:39] cherrymiki opened #342 "setgamestatus"
### Что наблюдается?

при вводе setgamestatus day/night полностью ломается цикл дня и ночи, а также не начинается расследование и все песни играют прям до конца, и только после этого начинаются песни из текущего этапа игры, звонок не проигрывается и музыка не меняется в 22:05 на сколько я помню и в 8:00

### Как это должно работать?

ну должны меняться чо)

### Как это повторить?

запустить игру,

[2021-11-07 09:41] mikvoin commented on #342
@cherrymiki у нас нет такого статуса как `day` или `night`. Для подобного используется `game`

[2021-11-07 09:41] #342 closed, assigned to nobody

[2021-11-12 06:27] SaintKrou opened #343 "При переходе с Octo Camera на другое оружие, будучи в ноуклипе, игрок становится видимым"
### Что наблюдается?

Человек в ноуклипе, который держал в руках Octo Camera (не обязательно включать), но затем поменявший ее на что-то (руки, физган и т.д.) становится видимым, будучи в ноуклипе.

Это связано с тем, что Octo Camera делает игрока невидимым, когда он экипирует оружие, а затем видимым, когда убирает

### Как это должно работать?

Octo Camera должна проверять, находится ли человек в

[2021-11-13 17:14] misha-ctrl opened #344 "Дубликатор копирует контейнеры, но не их содержание (Тоже и с Adv2)"
### Что наблюдается?

Когда копируешь контейнер, допустим, с 20 кваса и ставишь в другое место, копируется только контейнер, однако внутри него пусто. Это очень неудобно, особенно если предметы-сувениры и каждый нужно создавать заново.

### Как это должно работать?

Когда копируешь контейнер и содержимое в нем дублируется тоже, можно поставить на любую точку карты и там всё будет на местах.

### К

[2021-11-19 03:22] mikvoin commented on #320
Исправлено

[2021-11-19 03:22] #320 closed

[2021-11-19 03:28] mikvoin commented on #329
Исправлено

[2021-11-19 03:28] #329 closed, assigned to mikvoin

[2021-11-19 03:32] mikvoin commented on #341
Исправлено

[2021-11-19 03:32] #341 closed, assigned to mikvoin

[2021-11-19 03:44] mikvoin commented on #289
Исправлено

[2021-11-19 03:44] #289 closed

[2021-11-19 04:10] mikvoin commented on #295
@SaintKrou в итоге это было добавлено в книгу рецептов?

[2021-11-19 04:21] mikvoin opened #345 "Туман не действует на Skybox"
### Что наблюдается?

Туман работает, однако на Skybox он не оказывает никакого влияния, если на карте изначально не включен параметр `fog_enabled`.
![](https://i.imgur.com/Xb1kuLD.png)

### Как это должно работать?

Туман должен задействовать Skybox даже на тех картах, где это не заложено изначально.

### Как это повторить?

1. Сменить карту на `gm_construct`

### Ошибки в консоли

[code]

### Об

[2021-11-20 06:07] SaintKrou commented on #335
Исправил

[2021-11-20 06:07] #335 closed, assigned to SaintKrou

[2021-11-20 06:17] SaintKrou commented on #28
Модель Монокумы изменилась, потому баг можно закрыть

[2021-11-20 06:20] SaintKrou commented on #37
Неактуально на новой версии карты

[2021-11-20 06:23] SaintKrou commented on #38
Актуально. При таком сценарии игрок выходит из режима наблюдателя после !rettogame, но не телепортируется на место, где погиб, а лишь попадает в лобби

[2021-11-20 06:29] SaintKrou commented on #39
Пытался повторить баг как мог, расстреливая бота десятком турелей, а также избивая, но все равно не получилось

[2021-11-20 06:36] SaintKrou commented on #61
ГМ, Монокума, может умереть либо через !sethp Монокума 0, либо через смену персонажа во время игры. Вот что в таком случае происходит (Также из-за этого не видно одного из игроков)
![image](https://user-images.githubusercontent.com/91148905/142717072-c61e3ecf-b557-453d-b307-d9c8d31f77b6.png)

[2021-11-20 06:37] SaintKrou commented on #43
Баг связан не с Шуичи, а со смертью Монокумой. Этот баг актуален, но не здесь, [а тут](https://github.com/danganronpa-online/public-gmod/issues/61). Здесь же его следует закрыть

[2021-11-20 06:50] SaintKrou commented on #49
Баг актуален и сейчас с "Анимации на месте". **Также актуален, когда игрок встает с кровати**
Происходит это так:
1) Игрок X заходит в анимацию и становится зафриженным
2) Начинается энд раунд, который фризит всех
3) Игрок X заканчивает анимацию и его разфриживает это, пускай и идет эндраунд
4) Игрок может двигаться и говорить, когда остальные еще находятся в фризе и не могут говорить
5) Всех игро

[2021-11-20 07:11] Jewaramir commented on #88
@mikvoin я понял проблему, просто был конфликт между двумя аддонами, сейчас такое не должно проявляться